<form name="land">
 <div class="eq-screen-header eq_bg_accent">
       <div class="row">
	   <div class="col-md-6 col-sm-6 col-xs-6">
       <div>Add New Land Usage for {{landName}} </div>
	   </div>
       <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
			    <button class="fa fa-check btn btn-default eq-glyph-btn btn-text" ng-click="addUsage()"></button>
          <button type="button" class="fa fa-times btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()"></button>
            </span>
       </div>
       </div>
 </div>
 <div class="eq-content-container">
<div>
    <div class="row">
        <div class="col-sm-6 eq-col-bottom-margin-offset">
		<label for="calendar_year" class="eq-field-label">Calendar Year</label>
        <div year-drop offset="-2" range="4">
        <select class="form-control eq-input-text-box" ng-model="land_usage.year" ng-options="y for y in years"  required>
        <!--<select class="form-control eq-input-text-box"  id="year" name="calendar_year" ng-model="land_usage.year" required>-->
        <option value="">Calander Year *</option>
        <!--<option ng-repeat="date in dates">{{date}}</option>-->
        </select>
        </div>
        </div>

        <div class="col-sm-6 eq-col-bottom-margin-offset">
        <label for="Season" class="eq-field-label">Season *</label>
		<select class="form-control eq-input-text-box" id="season" name="season" ng-model="land_usage.season" required>
			<option value="">Season *</option>
			<option value="{{season.code}}" ng-repeat="season in season_types">{{season.name}}</option>
		</select>
        </div>
    </div>
    <div class="form-inline">
            <label class="form-group eq-field-label"> Cultivated Area: </label>
            </div>
       <div class="row">
            <div class="wrapper">
            <div ng-if="acre">
                <div class ="col-xs-5 ">
                    <input type="number" step="any" class="form-control eq-input-text-box " data-ng-model="land_usage.cultivated_area"></div>
                    <!--<div clas="col-xs-1 form-inline">Acre</div>-->
                </div>
            </div>
             <div ng-if="!acre">
                 <div class ="col-xs-5 ">
                    <input type="number" step="any" class="form-control eq-input-text-box " data-ng-model ="land_usage1.cultivated_area " ng-change="land_usage.cultivated_area = land_usage1.cultivated_area">
                    </div>
                    <!--<div class="col-xs-1 ">{{land_usage1.widthMeters()}} acre</div>-->
                </div>
             <label class="radio-inline" for="areaTrue" style="margin-left: 20px">
                    <input type="radio" id="areaTrue" name="true" ng-model="acre" ng-value="true"/>
                        Acre
                </label>
                <label class="radio-inline" for="areaFalse">
                    <input type="radio" id="areaTrue" name="true" ng-model="acre" ng-value="false" />

                            Hectare
                </label>
       </div>
       <div class="row">
                <div class="col-xs-6">
                <div ng-if="!acre">
                <div class="form-inline">{{land_usage1.widthMeters()}} Acre</div>
                </div>
                </div>
                    </div>
            
       <div>
       </div>
           
           
     <div>
        <div class="form-inline">
            <label class="form-group eq-field-label eq-large-top-margin-offset" >Leased Out Area: </label>
            </div>
       <div class="row">
            <div class="wrapper">
            <div ng-if="acreCultivable">
                <div class ="col-xs-5">
                    <input type="number" step="any" class="form-control eq-input-text-box" name="acreCultivable" data-ng-model="land_usage.leased_out_area"></div>
                </div>
            </div>
             <div ng-if="!acreCultivable">
                 <div class ="col-xs-5">
                    <input type="number" step="any" class="form-control eq-input-text-box" ng-blur="compare()" name="acreCultivable" data-ng-model ="land_usage2.leased_out_area" ng-change="land_usage.leased_out_area = land_usage2.leased_out_area">
                    </div>
                </div>
                <label class="radio-inline" for="areaTrue1" style="margin-left: 20px">
                    <input type="radio" id="area" name="false" ng-model="acreCultivable" ng-value="true" />
                        Acre
                </label>
                <label class="radio-inline" for="areaFalse1">
                    <input type="radio" id="area" name="false" ng-model="acreCultivable" ng-value="false" />

                            Hectare
                </label>
             </div>
              <div class="row">
                <div class="col-xs-6">
                    <div ng-if="!acreCultivable">
                <div class="form-inline">{{land_usage2.cultivable_acre()}} Acre</div>
                <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red">
                        {{fail}}
                    </div>
                </div>
                <div ng-if="acreCultivable">
                 <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red">
                        {{fail}}
                    </div>
             </div>
       </div>
       </div>
       </div>
       </div>


        <!--<div class="row">
        <div class="col-sm-6">
            <div class="input-group">
		<input class="form-control eq-input-text-box select-gap" type="integer" id="cultivated_area" name="cultivated_area"  ng-keypress="filterValue($event)" placeholder="Cultivated Area Unit" ng-model="land_usage.cultivated_area" />
         <div class="input-group-btn">
        <select class="form-control eq-input-text-box select-gap" id="unit" name="unit" ng-model="land_usage.unit" required>
			<option value="">Unit</option>
			<option value="{{unit.name}}" ng-repeat="unit in unit_types">{{unit.name}}</option>
		</select>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action .....
                <span class="caret"></span></button>
        </div>
        </div>
        </div>



        <div class="col-sm-6">
            <div class="input-group">
		<input class="form-control eq-input-text-box select-gap" id="cultivated_area_subunit" name="cultivated_area_unit" ng-model="land_usage.cultivated_area_subunit" placeholder="Cultivated Area Subunit" ng-keypress="filterValue($event)" />
         <div class="input-group-btn">
        <select class="form-control eq-input-text-box select-gap" id="subunit" name="subunit" ng-model="land_usage.subunit" >
			<option value="">Subunit</option>
			<option value="{{subunit.name}}" ng-repeat="subunit in subunit_types">{{subunit.name}}</option>
		</select>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action .....
                <span class="caret"></span></button>
        </div>
        </div>
        </div>

        <div class="col-sm-6">

		<label for="leased_out_area"></label>
		<input class="form-control eq-input-text-box" ng-blur="compare()" id="leased_out_area" name="leased_out_area" ng-model="land_usage.leased_out_area" placeholder="Leased out Area" ng-keypress="filterValue($event)" />
         <div ng-if="success"></div>
        <div ng-if="fail" style="color:red" class="col-sm-6">
            {{fail}}
        </div>
        </div>
        <div class="col-sm-1" style="margin-top:30px">{{land_usage.unit}}</div>
            <div class="row">
        <div class="col-sm-5">
		<label for="leased_out_area_subunit"></label>
		<input class="form-control eq-input-text-box" id="leased_out_area_subunit" name="leased_out_area_subunit" ng-model="land_usage.leased_out_area_subunit" placeholder="Leased out Area Subunit" ng-keypress="filterValue($event)" />
        </div>

        <div class="col-sm-1" style="margin-top:30px">{{land_usage.subunit}}</div>
</div>
</div>-->

        <div class="form-group">
             &nbsp;
            </div>
        </div>


	</form>
</div>
