<!-- <form name="landCultivation"> -->
<div>
     <div class="eq-screen-header eq_bg_accent">
           <div class="row">
    	   <div class="col-md-6 col-sm-6 col-xs-6">
           <div>Add Seasonal Cultivation </div>
    	   </div>
           <div class="col-md-6 col-sm-6 col-xs-6">
                <span class="pull-right">
    			    <button class="btn btn-default eq-glyph-btn btn-text" ng-click="addSeasonalCultivation()">
                        <i class="eq-fa fa fa-check"></i>
                    </button>
                    <button type="button" class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
                        <i class="eq-fa fa fa-times"></i>
                    </button>
                </span>
           </div>
           </div>
     </div>
     <div class="eq-content-container">
        <div class="row">
    	    <!--<div class="col-sm-6">
            <label for="Year"></label>
    		<input class="form-control eq-input-text-box" type="integer" id="year" name="year" minlength="4" maxlength="4" placeholder="year(yyyy) *" ng-model="land_usage.year" ng-keypress="filterValue($event)" maxlength="4" size="4" required />
    	    </div>-->
         <div class="col-sm-6">
		    <label for="calendar_year" class="eq-field-label">Calendar Year</label>
        <year-drop offset="-2" range="4">
          <select class="form-control eq-input-text-box" ng-model="land_usage.year" required ng-options="y for y in years">

            <!--<select class="form-control eq-input-text-box" id="occupation" name="calendar_year" ng-model="land_usage.year" required>-->
            <option value="">Calendar Year *</option>
            <!--<option ng-repeat="date in dates">{{date}}</option>-->
          </select>
          </div>
        </year-drop>

        <div class="col-sm-6">
        <label for="Season" class="eq-field-label">Season</label>
        <select class="form-control eq-input-text-box" id="season" name="season" ng-model="land_usage.season" required>
            <option value="">Season *</option>
            <option value="{{season.code}}" ng-repeat="season in season_types">{{season.name}}</option>
        </select>
        </div>
        </div>
            <div class="form-inline">
            <label class="form-group eq-field-label" > </label>
                <label class="radio-inline">
                    <input type="radio" name="land_owned" ng-model="isLandOwened" ng-value="true"/>
                        Land Owned
                </label>
                <label class="radio-inline">
                    <input type="radio" name="land_owned" ng-model="isLandOwened" ng-value="false" />

                            Land Leased In
                </label>
            </div>

            <div class="wrapper">
            <div ng-if="isLandOwened">

<!--                     <div class="col-sm-6">
                        <label for="Plot Name"></label>
                        <input class="form-control eq-input-text-box" type="text" id="plot_name" name="plot_name" ng-model='land_usage.plot_name' placeholder="Plot Name" />
                    </div> -->
                <div class="row">
                <div class="col-sm-6">
                <label for="Plot Name" class="eq-field-label">Select Plot *</label>
<!--                <input class="form-control eq-input-text-box" type="text" id="plot_name" name="plot_name" ng-model='landholding.plot_name' placeholder="Plot Name" /> -->
<!-- {{farmerLands}} -->
                <select class="form-control eq-input-text-box select-gap" ng-options='plot.id as plot.plot_name for plot in farmerLands' ng-model="land_usage.land_id">
                <option value=""> Select Plot *</option>
                </select>
                </div>

                <div class="col-sm-6"></div>
                </div>
                <div class="form-inline">
                <label class="form-group eq-field-label"> Cultivated Area: </label>
                </div>
                    <div class="row">
                        <div class="wrapper">
            <div ng-if="acre">
                        <div class ="col-xs-5">
                            <input type="integer" id="cultivated_area" class="form-control eq-input-text-box " name="acre" data-ng-model="land_usage.cultivated_area"/>
                            </div>
                        </div>
                        </div>
             <div ng-if="!acre">
                 <div class ="col-xs-5">
                    <input type="integer" id="cultivated_area" class="form-control eq-input-text-box " name="acre" data-ng-model ="land_usage1.cultivated_area " ng-change="land_usage.cultivated_area = land_usage1.cultivated_area" />
                    </div>
             </div>
              <label class="radio-inline" for="areaTrue" style="margin-left: 20px">
                    <input type="radio" id="areaTrue" name="acre" ng-model="acre" ng-value="true" checked/>
                        Acre
                </label>
                <label class="radio-inline" for="areaFalse">
                    <input type="radio" id="areaFalse" name="acre" ng-model="acre" ng-value="false" />

                            Hectare
                </label>
                    </div>
                    <div class="row">
                <div class="col-xs-6">
                <div ng-if="!acre">
                <div class="form-inline">{{land_usage1.widthMeters()}} Acre</div>
                </div>
                </div>
                    </div>

        <div class="form-inline" style="margin-top: 10px" align="left">
            <label class="form-group eq-field-label">Leased Out Area: </label>

            </div>
       
                    <div class="row">
                        <div class="wrapper">
                        <div ng-if="acreCultivable">
                            <div class ="col-xs-5">
                                <input type="integer" id="leased_out_area" class="form-control eq-input-text-box" ng-blur="compareLandHold()" name="acreCultivable" data-ng-model="land_usage.leased_out_area"/>
                                </div>
                        </div>
             </div>
             <div ng-if="!acreCultivable">
                    <div class ="col-xs-5">
                    <input type="integer" id="leased_out_area" class="form-control eq-input-text-box" ng-blur="compareLandHold()" name="acreCultivable" data-ng-model ="land_usage2.leased_out_area" ng-change="land_usage.leased_out_area = land_usage2.leased_out_area" />
                    </div>
                   </div>
                <label class="radio-inline" for="areaTrue1" style="margin-left: 20px">
                    <input type="radio" id="areaTrue1" name="acreCultivable" ng-model="acreCultivable" ng-value="true" checked/>
                        Acre
                </label>
                <label class="radio-inline" for="areaFalse1">
                    <input type="radio" id="areaFalse1" name="acreCultivable" ng-model="acreCultivable" ng-value="false" />

                            Hectare
                </label>
                    </div>
                 <div class="row">
                <div class="col-xs-6">
                    <div ng-if="!acreCultivable">
                <div class="form-inline">{{land_usage2.cultivable_acre()}} Acre</div>
                <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red">
                        {{fail}}
                    </div>
                </div>
                <div ng-if="acreCultivable">
                 <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red">
                        {{fail}}
                    </div>
             </div>
       </div>
       </div>

</div>
            <div ng-if="!isLandOwened">

                <div class="row">
                <div class="col-sm-6">
                <label class="form-group eq-field-label">Plot Name: </label>
            		<input class="form-control eq-input-text-box" type="text" id="plot_name" name="plot_name" ng-model='landholding.plot_name' placeholder="Plot Name" />
        	    </div>

                <div class="col-sm-6">
                <label class="form-group eq-field-label">Owner Name: </label>
        		<input class="form-control eq-input-text-box" type="text" id="owner_name" name="owner_name" ng-model='landholding.owner_name'  placeholder="Owner name" />
        	    </div>
                </div>

            <div class="form-inline" style="margin-top: 10px" align="left">
            <label class="form-group eq-field-label"> Area: </label>

            </div>
       <div class="row">
           <div class="wrapper">
            <div ng-if="acre">
                <div class ="col-xs-5 ">
                    <input type="integer" id="total_area" class="form-control eq-input-text-box " name="acre" data-ng-model="landholding.total_area"/>
                    </div>
                </div>
           </div>
             <div ng-if="!acre">
                 <div class ="col-xs-5 ">
                    <input type="integer" id="total_area" class="form-control eq-input-text-box " name="acre" data-ng-model ="landholding1.total_area " ng-change="landholding.total_area = landholding1.total_area" />
                 </div>
             </div>
            <label class="radio-inline" for="areaTrue" style="margin-left: 20px">
                    <input type="radio" id="areaTrue" name="acre" ng-model="acre" ng-value="true" checked/>
                        Acre
                </label>
                <label class="radio-inline" for="areaFalse">
                    <input type="radio" id="areaFalse" name="acre" ng-model="acre" ng-value="false" />

                            Hectare
                </label>
       </div>
                <div class="row">
                <div class="col-xs-6">
                <div ng-if="!acre">
                 <div class="form-inline">{{landholding1.widthMeters()}} Acre</div>
                </div>
                </div>
       </div>

     <div>
        <div class="form-inline" style="margin-top: 10px" align="left">
            <label class="form-group eq-field-label">Cultivated Area: </label>
            </div>
       <div class="row">
            <div class="wrapper">
            <div ng-if="acreCultivable">
                <div class ="col-xs-5">
                    <input type="integer" id="cultivable_area" class="form-control eq-input-text-box" name="acreCultivable" data-ng-model="landholding.cultivable_area"/></div>
                </div>
            </div>
             <div ng-if="!acreCultivable">
                 <div class ="col-xs-5">
                    <input type="integer" id="cultivable_area" class="form-control eq-input-text-box" ng-blur="compare()" name="acreCultivable" data-ng-model ="landholding2.cultivable_area" ng-change="landholding.cultivable_area = landholding2.cultivable_area" />
                    </div>
             </div>
             <label class="radio-inline" for="areaTrue1" style="margin-left: 20px">
                    <input type="radio" id="areaTrue1" name="acreCultivable" ng-model="acreCultivable" ng-value="true" checked/>
                        Acre
                </label>
                <label class="radio-inline" for="areaFalse1">
                    <input type="radio" id="areaFalse1" name="acreCultivable" ng-model="acreCultivable" ng-value="false" />

                            Hectare
                </label>
       </div>
                 <div class="row">
                <div class="col-xs-6">
                     <div ng-if="!acreCultivable">
                    <div class="form-inline">{{landholding2.cultivable_acre()}} Acre</div>
                    <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red" class="col-sm-6">
                        {{fail}}
                    </div>
                     </div>
                      <div ng-if="acreCultivable">
                        <div ng-if="success"></div>
                        <div ng-if="fail" style="color:red">
                        {{fail}}
                        </div>
             </div>

                </div>
             </div>
       </div>
       </div>
            </div>
        </div>
     </div>
</div>
