<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>{{landName}} {{$state.current.data.screen_title}}</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="pull-right">
                <a ng-click="updateLandholdings()" class="btn btn-default eq-glyph-btn  ">
                    <i class="eq-fa fa fa-pencil"></i>
                </a>
                <button class="btn btn-default eq-glyph-btn" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <p class="eq-guiding-text">{{landName+ ' of ' +farmerName }}</p>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" align="right">
            <i class="eq-fa fa fa-th-large fa-5x element-icon"></i>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="short_desc_main">{{landholding_detail.plot_name}}</div>
                <div class="short_desc_more">{{landholding_detail.description}}</div>
                <address class="short_desc_more">
	                  <span class="eq-field-label" title="area">Area:</span> {{landholding_detail.area+" "+landholding_detail.unit.name}}</br>
	                  <span class="eq-field-label" title="area">Cultivable Area:</span> {{landholding_detail.  cultivable_area+" "+landholding_detail.unit.name}}</br>
	                  <span class="eq-field-label" title="area">Irrigation Source:</span> {{landholding_detail.irrigation_source.name}}</br>
	                  <span class="eq-field-label" title="area">Soil Type:</span> {{landholding_detail.soil_type.name}}
                </address>
            </div>
        </div>
    </div>
</div>
<div class="eq-screen-sub-header">
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
        Land Usage
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
            <div class="pull-right">
                <button ng-click="add_landUsage()" class="btn btn-default eq-glyph-btn">
                    <i class="eq-fa fa fa-plus"></i>
                </button>
                <button  class="btn btn-default  btn eq-glyph-btn" ng-click="removeSelectedItems()">
                    <i class="eq-fa fa fa-minus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="list-group eq-list-group" ng-repeat="usage in landholding_detail.usages">
            <div class="col-xs-1">
                <input type="checkbox" value="usage.id"  ng-model="land_details[usage.id]"/>
            </div>
            <div class="col-xs-11">
                <button class="list-group-item eq-list-group-item" ng-click="land_usage_detail(usage)">
                    <div class="eq-list-item-header" id="dataTable">{{usage.year}}, {{usage.season.name}}{{usage.id}}
                    </div>
                    <span class="eq-field-label">Cultivated Area:</span> {{usage.cultivated_area+" "+usage.unit.name}}</br>
                    <span class="eq-field-label">Leased-out Area:</span> {{usage.leased_out_area+" "+usage.unit.name}}
                </button>
            </div>
    </div>
</div>
