<div class="eq-screen-header eq_bg_accent">
 <div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
   {{landName}} {{$state.current.data.screen_title}}
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <div class="pull-right">
    <button class="btn btn-default eq-glyph-btn" ng-click="updateLandUsage()"><i class="eq-fa fa fa-check"></i></button>
    <button class="btn btn-default eq-glyph-btn" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
   </div>
  </div>
 </div>
</div>


<div class="eq-content-container">
<div>
    <div class="row">
	    <!--<div class="col-sm-6">
        <label for="Year"  class="eq-field-label">Year</label>
		<input class="form-control eq-input-text-box" type="integer" id="year" name="year" minlength="4" maxlength="4" placeholder="year(yyyy) *" ng-model="land_usage.year" ng-keypress="filterValue($event)" maxlength="4" size="4" required />
	    </div>
        -->
         <div class="col-sm-6 eq-col-bottom-margin-offset">
		<label class="eq-field-label">Calendar Year</label>
        <div year-drop offset="-2" range="4">
        <select class="form-control eq-input-text-box" ng-model="land_usage.year" required ng-options="y for y in years">
        <!--<select class="form-control eq-input-text-box" id="occupation" name="calendar_year" ng-options='year as year for year in  calendarYears ' ng-model="land_usage.year" >-->
          <option value="">Years</option>
		  </select>
        </div>
        </div>

        <div class="col-sm-6 eq-col-bottom-margin-offset">
        <label for="Season"  class="eq-field-label">Season</label>
		<select class="form-control eq-input-text-box" id="season" name="season" ng-model="land_usage.season" required>
			<option value="">Season *</option>
			<option value="{{season.code}}" ng-repeat="season in season_types">{{season.name}}</option>
		</select>
        </div>
    </div>
     <div class="form-inline">
            <label class="form-group eq-field-label"> Cultivated Area: </label>
            </div>
       <div class="row">
            <div class="wrapper">
            <div ng-if="acre">
                <div class ="col-xs-5 ">
                    <input type="number" step="any" class="form-control eq-input-text-box " data-ng-model="land_usage.cultivated_area"></div>
                    <!--<div clas="col-xs-1 form-inline">Acre</div>-->
                </div>
            </div>
             <div ng-if="!acre">
                 <div class ="col-xs-5 ">
                    <input type="number" step="any" class="form-control eq-input-text-box " data-ng-model ="land_usage1.cultivated_area " ng-change="land_usage.cultivated_area = land_usage1.cultivated_area">
                    </div>
                    <!--<div class="col-xs-1 ">{{land_usage1.widthMeters()}} acre</div>-->
                </div>
             <label class="radio-inline" for="areaTrue" style="margin-left: 20px">
                    <input type="radio" id="areaTrue" name="true" ng-model="acre" ng-value="true"/>
                        Acre
                </label>
                <label class="radio-inline" for="areaFalse">
                    <input type="radio" id="areaTrue" name="true" ng-model="acre" ng-value="false" />

                            Hectare
                </label>
       </div>
       <div class="row">
                <div class="col-xs-6">
                <div ng-if="!acre">
                <div class="form-inline">{{land_usage1.widthMeters()}} Acre</div>
                </div>
                </div>
                    </div>
            
       <div>
       </div>
           
           
     <div>
        <div class="form-inline">
            <label class="form-group eq-field-label eq-large-top-margin-offset" >Leased Out Area: </label>
            </div>
       <div class="row">
            <div class="wrapper">
            <div ng-if="acreCultivable">
                <div class ="col-xs-5">
                    <input type="number" step="any" class="form-control eq-input-text-box" name="acreCultivable" data-ng-model="land_usage.leased_out_area"></div>
                </div>
            </div>
             <div ng-if="!acreCultivable">
                 <div class ="col-xs-5">
                    <input type="number" step="any" class="form-control eq-input-text-box" ng-blur="compare()" name="acreCultivable" data-ng-model ="land_usage2.leased_out_area" ng-change="land_usage.leased_out_area = land_usage2.leased_out_area">
                    </div>
                </div>
                <label class="radio-inline" for="areaTrue1" style="margin-left: 20px">
                    <input type="radio" id="area" name="false" ng-model="acreCultivable" ng-value="true" />
                        Acre
                </label>
                <label class="radio-inline" for="areaFalse1">
                    <input type="radio" id="area" name="false" ng-model="acreCultivable" ng-value="false" />

                            Hectare
                </label>
             </div>
              <div class="row">
                <div class="col-xs-6">
                    <div ng-if="!acreCultivable">
                <div class="form-inline">{{land_usage2.cultivable_acre()}} Acre</div>
                <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red">
                        {{fail}}
                    </div>
                </div>
                <div ng-if="acreCultivable">
                 <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red">
                        {{fail}}
                    </div>
             </div>
       </div>
       </div>
       </div>
       </div>
</div>
