<div class="eq-screen-header eq_bg_accent">
    <div>
        {{$state.current.data.screen_title}}
        <div class="pull-right">
            <a ui-sref="add-landholding({farmerId:farmerId})" class="fa fa-plus btn btn-default eq-glyph-btn btn-text"></a>
        </div>
    </div>
</div>
<div class="gap10"></div>
<div class="list-group eq-list-group" ng-repeat="landholding in landholdings">
    <a ui-sref="land-detail({landholdingId:landholding.id})" class="list-group-item eq-list-group-item">
        <p class="list-group-item-text eq-list-item-header">{{ landholding.plot_name}}</p>
        <p class="list-group-item-text">{{ landholding.description}}</p>
        <p class="list-group-item-text"><abbr class="eq-field-label">Land Area:</abbr> {{ landholding.area +" "+ landholding.unit.name}}</p>
        <p class="list-group-item-text"><abbr class="eq-field-label">Cultivable Area:</abbr> {{ landholding.cultivable_area +" "+ landholding.unit.name}}</p>
    </a>
</div>
