 <div class="eq-screen-header eq_bg_accent">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-6">
            <div>{{$state.current.data.screen_title}} </div>
			</div>
		</div>
 </div>
<body>

   <accordion-page ng-repeat="cultivation in cultivations">
      <accordion-pane title="Land Usage for year {{cultivation.year}}" category="{name:'LandUsage'}">
           <div ng-repeat="landowned in cultivation.landOwnedUsage">
            <div>
             <abbr class="eq-field-label">Cultivated Area:<abbr> {{landowned.cultivated_area}}</br>
             <abbr class="eq-field-label"> Leased-out Area:<abbr> {{landowned.leased_out_area}}</br>
             <abbr class="eq-field-label">Season:</abbr> {{landowned.season}}
            </div>
           </div>
           <div>{{cultivation.season}}</div>
           <div>{{cultivation.subunit}}</div>
       </accordion-pane>
       <!-- <accordion-pane title="<b>Land Owned</b> Pane">
           <div>{{cultivation.landOwned}}</div>
       </accordion-pane> -->
   </accordion-page>
 </body>
