<div class="eq-screen-header eq_bg_accent">
 <div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
   {{$state.current.data.screen_title}} {{landholding.plot_name}} Details
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <div class="pull-right">
    <button class="btn btn-default eq-glyph-btn" ng-click="updateLandholding()"><i class="eq-fa fa fa-check"></i></button>
    <button class="btn btn-default eq-glyph-btn" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
   </div>
  </div>
 </div>
</div>


<div class="eq-content-container">
 <div class="row">
        <div class="col-sm-6 eq-col-bottom-margin-offset">
		<label for="plot_name" class="eq-field-label">Plot Name</label>
        <input class="form-control eq-input-text-box" id="plot_name" name="plot_name" placeholder="Plot Name *" data-ng-model="landholding.plot_name" required />
		</div>

		<div class="col-sm-6 eq-col-bottom-margin-offset">
        <label for="description" class="eq-field-label">Description</label>
		<input class="form-control eq-input-text-box" id="description" name="description" placeholder="Description *" data-ng-model="landholding.description" required />
		</div>
       </div>
       
        <div class="row">
		<div class="col-sm-6 eq-col-bottom-margin-offset">
        <label for="soil_type" class="eq-field-label">Soil Type</label>
		<select class="form-control eq-input-text-box" id="soil_type" name="soil_type" ng-model="landholding.soil_type" required>
			<option value="">Soil Type</option>
			<option value="{{soil_type.code}}" ng-repeat="soil_type in soil_types">{{soil_type.name}}</option>
		</select>
		</div>

        <div class="col-sm-6 eq-col-bottom-margin-offset">
		<label for="irrigation_source" class="eq-field-label">Irrigation Source</label>
		<select class="form-control eq-input-text-box" id="irrigation_source" name="irrigation_source" ng-model="landholding.irrigation_source" required>
			<option value="">Irrigation Source</option>
			<option value="{{irrigation_source.code}}" ng-repeat="irrigation_source in irrigation_sources">{{irrigation_source.name}}</option>
		</select>
        </div>
        </div>
       <div class="form-inline" align="left">
                    <label class="form-group eq-field-label">Area: </label>
                        
                </div>
               <div class="row">
                <div ng-if="acre">
                    <div class="col-xs-5 ">
                        <input type="number" step="any" class="form-control eq-input-text-box  " name="acre" data-ng-model="landholding.area"/>
                    </div>
                    <!--<div class="col-sm-1 eq-col-bottom-margin-offset"> Acre</div>-->
                </div>
                <div ng-if="!acre">
                    <div class="col-xs-5">
                        <input type="number" step="any" class="form-control eq-input-text-box " name="acre" data-ng-model ="landholding1.area " ng-change="landholding.area = landholding1.area" />
                    </div>
                    <!--<div class="col-sm-1 eq-col-bottom-margin-offset"> {{landholding1.widthMeters()}} Acre</div>-->
                </div>
                <label class="radio-inline" for="areaTrue">
                            <input type="radio" id="area" name="acre" ng-model="acre" ng-value="true" />
                        Acre
                        </label>
                        <label class="radio-inline" for="areaFalse">
                            <input type="radio" id="area" name="acre" ng-model="acre" ng-value="false" />
                        Hectare
                        </label>
            </div>
            <div class="row">
                <div class="col-xs-6">
                <div ng-if="!acre">
                <div class="form-inline">{{landholding1.widthMeters()}} Acre</div>
                </div>
                </div>
                    </div>
            
                <div class="form-inline">
                    <label class="form-group eq-field-label eq-large-top-margin-offset">Cultivated Area: </label>
                 </div>
                <div class="row">
                <div ng-if="acreCultivable">
                    <div class="col-xs-5">
                        <input type="integer" step="any" class="form-control eq-input-text-box" name="acreCultivable" data-ng-model="landholding.cultivable_area"/>
                    </div>
                    <!--<div class="col-sm-1 eq-col-bottom-margin-offset"> Acre</div>-->
                </div>
                <div ng-if="!acreCultivable">
                    <div class="col-xs-5">
                        <input type="number" step="any" class="form-control eq-input-text-box" ng-blur="compare()" name="acreCultivable" data-ng-model ="landholding2.cultivable_area" ng-change="landholding.cultivable_area = landholding2.cultivable_area" />
                    </div>
                    <!--<div class="col-sm-1 eq-col-bottom-margin-offset"> {{landholding2.cultivable_acre()}} Acre</div>-->
                </div>
                <div ng-if="success"></div>
                <div ng-if="fail" style="color:red">{{fail}}</div>
                <label class="radio-inline" for="areaTrue1">
                        <input type="radio" id="area" name="acrec" ng-model="acreCultivable" ng-value="true"/>
                    Acre
                    </label>
                    <label class="radio-inline" for="areaFalse1">
                        <input type="radio" id="area" name="acrec" ng-model="acreCultivable" ng-value="false" />
                        Hectare
                    </label>
        </div>
        <div class="row">
                <div class="col-xs-6">
                    <div ng-if="!acreCultivable">
                <div class="form-inline">{{landholding2.cultivable_acre()}} Acre</div>
                <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red">
                        {{fail}}
                    </div>
                </div>
                <div ng-if="acreCultivable">
                 <div ng-if="success"></div>
                    <div ng-if="fail" style="color:red">
                        {{fail}}
                    </div>
             </div>
       </div>
       </div>
        </div>