
      <div class="eq-screen-header eq_bg_accent">
        <div class="row">
          <div class="col-sm-6">
          <div>Add New Vendor</div>
                  <span flex></span>
          </div>
          <div class="col-sm-6">
        <span class="pull-right">
        <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
        </span>
          </div>
      </div>
       </div>
<div class="eq-content-container">
    <div class="row">
        <div class="col-sm-6 eq-col-bottom-margin-offset">
            <div class="form-inline">
                <label class="col-lg-6 eq-field-label">
                    <input type="radio" id="vendorTrue" name="vendorType" ng-model="vendorType" ng-value='false'  /> Organization
                </label>
                <label class="col-lg-6 eq-field-label">
                    <input type="radio" id="vendorFalse" name="vendorType" ng-model="vendorType" ng-value='true' checked='checked' /> Person
                </label>
            </div>
        </div>
    </div>
    <div ng-if="!vendorType">
        <div class="row">
                 <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Organization Name *</label>
                    <input type="text" class="form-control eq-input-text-box" id="fname" ng-model="add_vendor.name" name="fname" />
                </div>
     
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Description</label>
                    <input type="text" class="form-control eq-input-text-box" id="mname" name="mname" ng-model="add_vendor.description" />
                </div>
      </div>
      <div class="row">
    
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Mobile Number *</label>
                    <input type="text" allow-pattern ="^[0-9]$" maxlength="11" class="form-control eq-input-text-box" id="phone_primary" name="phone_primary" ng-model="add_vendor.phone_primary" required/>
                </div>
    
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Email Id</label>
                    <input type="email" class="form-control eq-input-text-box"  name="email" ng-model="add_vendor.email"/>
                </div>
      
      </div>      

      <div class="row col-sm-6 eq-row-bottom-margin-offset" >
        <div class="col-sm-6 col-lg-6 col-md-6" align="center" >
            <button type="button" ng-click="addVendorAddress()" class="btn btn-primary">Next</button>
            <!--<div class="eq-guiding-text">You can either use an existing Purchase Record to fill in details, then edit what has changed, or enter details from scratch.</div>-->
        </div>
    </div>
      
</div>


<div ng-if="vendorType">
        <div class="row">
                 <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">First Name *</label>
                    <input type="text" class="form-control eq-input-text-box" id="fname" ng-model="add_vendor.fname" name="fname" />
                </div>
     
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Middle Name</label>
                    <input type="text" class="form-control eq-input-text-box" id="mname" name="mname" ng-model="add_vendor.mname" />
                </div>
      </div>
      <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Last Name *</label>
                    <input type="text" class="form-control eq-input-text-box" id="lname" name="lname" ng-model="add_vendor.lname" />
                </div>
      
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Mobile Number *</label>
                    <input type="text" allow-pattern ="^[0-9]$" maxlength="11" class="form-control eq-input-text-box" id="phone_primary" name="phone_primary" ng-model="add_vendor.phone_primary" />
                </div>
      </div>
      <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Email</label>
                    <input type="email" class="form-control eq-input-text-box" id="email_personal" name="email_personal" ng-model="add_vendor.email_personal" />
                </div>
      </div>

      <div class="row col-sm-12 eq-row-bottom-margin-offset" >
        <div class="col-sm-6 col-lg-6 col-md-6" align="center" >
            <button type="button" ng-click="addVendorAddress()" class="btn btn-primary">Next</button>
            <!--<div class="eq-guiding-text">You can either use an existing Purchase Record to fill in details, then edit what has changed, or enter details from scratch.</div>-->
        </div>
    </div>
      
</div>
</div>
</div>
        <!--<div class="dropdown dropdown-scroll" ng-app="app">
    <button class="btn btn-default dropdown-toggle" type="button"  id="dropdownMenu1" data-toggle="dropdown">{{input_record_params.purchase_items.itemName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
</span>
                <input type="text" class="form-control"  placeholder="Search" ng-model="input_record_params.purchase_items.item"></input>
            </div>
        </li>
        <li role="presentation" ng-repeat='item in items | filter:input_record_params.purchase_items.item'> <a ng-click="addSelectedItemPurchase(item)"> {{item.name}} </a>
        </li>
    </ul>
</div>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-12 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Vendor Phone Number</label>
                   <div class="dropdown dropdown-scroll" ng-app="app">
    <button class="btn btn-default dropdown-toggle" type="button"  id="dropdownMenu1" data-toggle="dropdown">{{vendor.phoneNumber}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
</span>
                <input type="text" class="form-control"  placeholder="Search" ng-model="vendor.phone_primary"></input>
            </div>
        </li>
        <li role="presentation" ng-repeat='person_phone in person_phones | filter:vendor.phone_primary' ng-change="changedValue(blisterPackTemplateSelected)> <a ng-click="addSelectedPhone(phone)"> {{person_phone}} </a>
        </li>
    </ul>
</div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-12 eq-col-bottom-margin-offset">
                    <label for="name" class="eq-field-label">Vendor</label>
                     <div class="dropdown dropdown-scroll" ng-app="app">
    <button class="btn btn-default dropdown-toggle" type="button"  id="dropdownMenu1" data-toggle="dropdown">{{vendor.orgName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <div class="input-group input-group-sm search-control"> <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
</span>
                <input type="text" class="form-control"  placeholder="Search" ng-model="vendor.name"></input>
            </div>
        </li>
        <li ng-if="person_names" role="presentation" ng-repeat='person_name in person_names | filter:vendor.name'> <a ng-click="addSelectedName(name)"> {{person_name}} </a>
        </li>
        <li ng-if="org_names" role="presentation" ng-repeat='org_name in org_names | filter:vendor.name'> <a ng-click="addSelectedName(name)"> {{org_name}} </a>
        </li>  
    </ul>
</div>
                </div>
      </div>
      <div class="row col-sm-12 eq-row-bottom-margin-offset" >
        <div class="col-sm-12 col-lg-12 col-md-12" align="center" >
            <button type="button"  class="btn btn-primary">Add new Vendor</button>
            <!--<div class="eq-guiding-text">You can either use an existing Purchase Record to fill in details, then edit what has changed, or enter details from scratch.</div>-->
        <!--</div>
    </div>
    </md-dialog-content>
      
        </div>
      </div>
</md-dialog>-->