<md-dialog aria-label="Add Item" ng-cloak>
    <div class="eq-screen-header eq_bg_accent">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div>Add Item</div>
                <span flex></span>
            </div>
            <div class="col-sm-6 col-xs-6">
                <span class="pull-right">
            <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
        </span>
            </div>
        </div>
    </div>
    <div class="eq-content-container">
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label">Purchased Item</label>
                <div class="dropdown dropdown-scroll" ng-app="app">
                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">{{input_record_params.itemName}} <span class="caret"></span>
                            </button>-->
                    <div class="input-group input-group-sm search-control dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                        <input type="text" class="form-control" placeholder="Search" ng-model="output_record_params.name"></input>
                        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                        </li>
                        <li role="presentation" ng-repeat='item in items | filter:output_record_params.name'> <a ng-click="addSelectedItemPurchase(item)">{{item.name}} <span ng-if="item.attributes.WEIGHT">[{{item.attributes.WEIGHT}} {{item.attributes.UNIT}}<span ng-if="item.attributes.MRP">,</span> {{item.attributes.MRP | currency:'&#8377;'}}]</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-if="selectedItem">
                <label for="name" class="eq-field-label" >Weight: {{selectedItem.WEIGHT}}</label>
                <label for="name" class="eq-field-label">Unit: {{selectedItem.UNIT}}</label>
                <label for="name" class="eq-field-label">MRP: {{selectedItem.MRP | currency:'&#8377;'}}</label>
                </div>
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label">Quantity</label>
                <input type="text" class="form-control eq-input-text-box" id="quantity" min="1" ng-init=" output_record_params.quantity = 1" ng-model="output_record_params.quantity" name="quantity" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label">Purchase Price (&#8377;)</label>
                <input type="text" class="form-control eq-input-text-box" id="mrp" name="mrp" ng-model="output_record_params.rate" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label">Discount(%)</label>
                <input type="text" class="form-control eq-input-text-box" id="discount" name="discount" ng-model="output_record_params.discount.percentage" ng-init="output_record_params.discount.percentage=0" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label">Discount Amount (&#8377;)</label>
                <input type="text" class="form-control eq-input-text-box" id="item" name="item" ng-model="output_record_params.discount.amount" />
            </div>
        </div>
        <!--{{input_record_params}}-->
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label">Amount After Discount & Tax (&#8377;):</label>
                <span ng-if='output_record_params.item && output_record_params.discount.percentage '>
                        {{(output_record_params.quantity * output_record_params.rate) - ((output_record_params.rate * output_record_params.discount.percentage) / 100)}} 
                </span>
                <span ng-if='output_record_params.item && output_record_params.discount.amount '>
                {{(output_record_params.quantity * output_record_params.rate) - (output_record_params.discount.amount)}}</span>
                <span  ng-if="output_record_params.item && !output_record_params.discount.percentage && !output_record_params.discount.amount">{{(output_record_params.quantity * output_record_params.rate)}} </span>
 </div>
        </div>
        <div class="row col-sm-12 eq-row-bottom-margin-offset">
            <div class="col-sm-12 col-lg-12 col-md-12" align="center">
                <button type="submit" class="btn btn-primary" ng-click="answer(output_record_params)"> OK</button>
                <!--<div class="eq-guiding-text">You can either use an existing Purchase Record to fill in details, then edit what has changed, or enter details from scratch.</div>-->
            </div>
        </div>
    </div>
</md-dialog>
