<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <div>Current Stock Level</div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                  <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <!--<div class="row">
        <div class="col-sm-6 col-xs-6">
            <select ng-options='category.id for category.name in product_categories'>
              
            </select>
        </div>
    </div>-->
    <div class="row">
        <div class="col-lg-4 col-md-4 eq-medium-top-margin-offset">
            <span class="eq-field-label">Product Category:</span>
            <div class="dropdown dropdown-scroll" ng-app="app">
                <div class="input-group input-group-sm search-control dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    <input type="text" class="form-control" placeholder="Search Product Category" ng-model="categoryData.name"></input>
                    </span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                    </li>
                    <li role="presentation" ng-repeat='product_category in product_categories | filter:categoryData.name'> <a ng-click="onCategorySelect(product_category)"> {{product_category.name}} </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">
            <label for="produce" class="eq-field-label">Material/Products Purchased:</label>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        Item
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        Total Qty
                    </th>
                </tr>
                <tr ng-repeat="selected_product_category in selected_product_categories">
                    <td>{{selected_product_category.name}}</td>
                    <td>{{selected_product_category.value}}</td>
                    <td>{{selected_product_category.total_qty}} {{selected_product_category.unit}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
