
<div class="eq-screen-header eq_bg_accent">
    <div class="row ">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div>Account Summary</div>
        </div>
       
    </div>
</div>
<div class="eq-content-container">
   <table>
       <tr>
           <td>
                    <span class="eq-field-label" >
                        Total Receivables: 
                    </span>
           </td>
           <td>
                {{finSummary.total_receivable_by_biz}}
           </td>
       </tr>
       <tr>
           <td>
                    <span class="eq-field-label">
                        Total Payables:  
                    </span>
           </td>
           <td>
               {{finSummary.total_payable_by_biz}}
           </td>
       </tr>
       <tr>
           <td>
                    <span class="eq-field-label">
                        Balance:  
                    </span>
           </td>
           <td>
               {{finSummary.total_receivable_by_biz - finSummary.total_payable_by_biz}}
           </td>
       </tr>
       <tr>
              <td>
                    <span class="eq-field-label">
                    Member Farmers:  
                    </span>
              </td>
              <td>{{membFarmers.Total_receivable_by_biz - membFarmers.total_payable_by_biz}}</td>
       </tr>
               <tr>
                   <td>
                    <span class="eq-field-label">
                        Non Member Farmers:  
                    </span>
                   </td>
                   <td>
                       {{nonMembFarmers.Total_receivable_by_biz - nonMembFarmers.total_payable_by_biz}}
                   </td>
               </tr>
               <tr>
                   <td>
                    <span class="eq-field-label">
                        Other Customers:  
                    </span>
                   </td>
                   <td>{{otherCustomers.Total_receivable_by_biz - otherCustomers.total_payable_by_biz}}</td>
               </tr>
               <tr>
                   <td>
                    <span class="eq-field-label">
                        Other Suppliers/Vendors:  
                    </span>
                   </td>
                   <td>
                    {{fpoVendors.Total_receivable_by_biz - fpoVendors.total_payable_by_biz}}
                   </td>
               </tr>
   </table>
</div>
            
<uib-accordion close-others="true">
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span >Member Farmers <i class='fa fa-caret-down'></i></span>
        </uib-accordion-heading>
 </uib-accordion-group>
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span>Non Member Farmers<i class='fa fa-caret-down'></i></span>
        </uib-accordion-heading>
    </uib-accordion-group>
</uib-accordion>
</div>

