<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div>FPO Shop</div>
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>-->
    </div>
</div>
<div class="eq-content-container">
    <div class="row eq-large-bottom-margin-offset">
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a ui-sref="list-purchases" class="option_name">
                <i class="eq-fa fa fa-arrow-down fa-4x"></i>
                <br/>Purchases</a>
            <br/>
            <div class="option_guiding_text">Farm produce purchases from Farmers</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a ui-sref="farmerInputs({farmerId:farmerId})" class="option_name not-active">
                <i class="eq-fa fa fa-arrow-right fa-4x"></i>
                <br/>Sales</a>
            </br>
            <div class="option_guiding_text">Add New Sale</div>
        </div>
    </div>
    <div class="row eq-large-bottom-margin-offset">
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a ui-sref="finance-summary({fpoId:fpoId})" class="option_name"><i class="eq-fa fa fa-inr fa-4x"></i><br/>Financials</a>
            <br/>
            <div class="option_guiding_text ">Add New Transaction </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a ui-sref="current-stock-level({fpoId:fpoId})" class="option_name"><i class="eq-fa fa fa-th-large fa-4x"></i><br/>Stock Levels</a>
            <br/>
            <div class="option_guiding_text ">Add New Goods Received/Delivered</div>
        </div>
    </div>
    <hr>
    
    <div class="col-md-offset-5 col-lg-offset-5 ">
        <table style="margin-left: 10px">
            <tr>
                <td>
            <span class="eq-field-label">Outstanding Payables:</span>
                </td>
                <td>{{finsummaryDetails.total_payable_by_biz | currency:'&#8377;'}}
                </td>
            </tr>

       <tr>
           <td>
            <span class="eq-field-label">Outstanding Receivable:</span>
           </td>
           <td> {{finsummaryDetails.total_receivable_by_biz | currency:'&#8377;'}}
        </td>
       </tr>
       <tr>
           <td>
            <span class="eq-field-label">Total Inventory Qty:</span> 
           </td>
           <td>{{inventoryDetails.total_qty}} ({{inventoryDetails.unit}})
        </td>
       </tr>
        <tr>
            <td>
            <span class="eq-field-label">Total Inventory Value: </span>
            </td>
            <td > {{(inventoryDetails.value * inventoryDetails.mrp) | currency:'&#8377;'}}
            </td>
        </tr>
        </table>
    </div>
</div>