<div class="eq-screen-header eq_bg_accent">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>Item Received/Rejected  Details</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row">
    <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">   
                    <span class="eq-field-label">Received Item Status:</span>                    
                <input class="eq-input-text-box eq-table-input-text-box" type="text" name="status"/>
        </div>
        <div class="col-sm-6 eq-medium-top-margin-offset">
            <span class="eq-field-label">Delivered By:</span>
             <input class="eq-input-text-box eq-table-input-text-box" type="text" name="by"/>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">   
                    <span class="eq-field-label">Sell By Date:</span>                    
                <input class="eq-input-text-box eq-table-input-text-box" type="text" name="sell"/>
        </div>
        <div class="col-sm-6 eq-medium-top-margin-offset">
            <span class="eq-field-label">Note:</span>
             <input class="eq-input-text-box eq-table-input-text-box" type="text" name="note"/>
    </div>
</div>

          <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="category_name" class="eq-field-label">Upload or Scan Invoice:</label>
            <div class="input-group">
                <input type="text" class="form-control eq-input-text-box" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </button>
                     <button class="btn btn-default" type="button">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
</div>
