<md-dialog aria-label="Item Received  Details" ng-cloak ng-controller="RecordGoodsReceivedCtrl">
    <div class="eq-screen-header eq_bg_accent">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div>Item Received Details </div>
                <span flex></span>
            </div>
            <div class="col-sm-6 col-xs-6">
                <span class="pull-right">
                    <button class="btn btn-default eq-glyph-btn novalidate" ng-click="answer(good_received_items)">
                    <i class="eq-fa fa fa-check"></i>
                </button>
             <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
        </span>
            </div>
        </div>
    </div>
    <div class="eq-content-container">
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label"></label>
                <span>{{good_received_items.name}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label">Sell By Date</label>
                <!--<input type="date" class="form-control eq-input-text-box" ng-model="good_received_items.received_date">-->
                <input type="text" class="form-control eq-input-text-box custom_calendar" ng-click="getCalendar()" id="purchase_date" placeholder="DD-MM-YYYY" name="purchase_date"
                readonly="readonly" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 eq-col-bottom-margin-offset">
                <label for="name" class="eq-field-label">Note</label>
                <textarea rows="3" class="form-control eq-input-text-box" id="note" ng-model="good_received_items.note" />
            </div>
        </div>
        <div clas="row">
            <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
                <span for="category_name" class="eq-field-label">Upload or Scan Goods Image:</span>
                <div ng-include="'/fpoApp/views/fposhop/upload_invoice.html'"></div>
            </div>
        </div>
    </div>
</md-dialog>
