<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            Purchase Records
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <span class="pull-right">
                <a ui-sref="recordPurchase" class="btn btn-default eq-glyph-btn" ><i class="fa fa-plus"></i></a>
				<buttun class="btn btn-default eq-glyph-btn" ng-click="goBack()" disabled><i class="fa fa-search" ></i></buttun>	
			</span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="list-group eq-list-group" ng-repeat="purchase_list in purchases_list">
    <!-- {{purchase_list}} -->
        <a ui-sref="purchaseDetails({purchaseId:purchase_list.purchaseId})" class="list-group-item eq-list-group-item" >
            <p class="list-group-item-text eq-list-item-header">{{ purchase_list.vendor_name }}</p>
            <p class="list-group-item-text">{{purchase_list.phone}}</p>
            <p class="list-group-item-text" ng-if="purchase_list.address != 'null null'">{{purchase_list.address}}</p>
            <p class="list-group-item-text">Purchased Date:{{purchase_list.purchased_date | date:'dd-MM-yyyy'}}</p>

            <!--
                <p class="list-group-item-text">Expected Delivery Date: {{purchase_list.expected_delivery| date: 'dd-MM-yyyy'}}</p>-->
        </a>
    </div>
     <a ng-click="moreDetails()">Show All</a>
</div>
