<div class="eq-screen-header eq_bg_accent">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>New Purchase</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="createPayment()">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row">
        <div class="col-sm-6 eq-col-bottom-margin-offset">
            <div class="form-inline">
                    <input type="radio" id="recordTrue" name="record_purchase" ng-click="outputRecord()" ng-value='false' checked='checked' /><span class=" eq-field-label"> Produce/Harvest from Farmer</span>
                    <input type="radio" id="recordFalse" name="record_purchase" ui-sref="recordPurchase" ng-value='true' /><span class=" eq-field-label"> Farm Input from Vendor/Market</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 eq-medium-top-margin-offset">
            <span class="eq-field-label">Farmer Name:</span>
            <!--<div class="eq-guiding-text">Select an existing seller, or add new </div>-->
            <div class="dropdown dropdown-scroll" ng-app="app">
                <div class="input-group input-group-sm search-control dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    <input type="text" class="form-control" placeholder="Search Farmer name and Phone Number here" ng-model="farmerData.memberName"/>
                    <span class="input-group-addon"  ng-click="searchFarmer()">
                    <span class="glyphicon glyphicon-search" ></span>
                    </span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                    </li>
                    <li role="presentation" ng-repeat='farmer_info in farmer_infos | filter:farmerData.memberName'> <a ng-click="addSelectedFarmer(farmer_info)"> {{farmer_info.memberName}} </a>
                    </li>
                </ul>
            </div>
            <a type="button" class="btn btn-primary eq-medium-top-margin-offset" ng-click="addMember()">Add New Farmer</a>
        </div>
    </div>
<span ng-if="member_farmer.memberName">
            <div class="col-lg-3 col-md-3 eq-medium-top-margin-offset">
                <span class="eq-field-label">Farmer Member ID: {{member_farmer.id}}</span>
</div>
<div class="col-lg-3 col-md-3 eq-medium-top-margin-offset">
    <span class="eq-field-label">Farmer Phone: {{member_farmer.memberPhone}}</span>
</div>
<div class="col-lg-3 col-md-3 eq-medium-top-margin-offset">
    <span class="eq-field-label">Farmer Address: {{member_farmer.memberShortAddress}}</span>
</div>
</span>
<div class="row">
    <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">
        <span class="eq-field-label">Purchase Date:</span>
        <input type="text" class="form-control eq-input-text-box custom_calendar" id="purchase_date" placeholder="DD-MM-YYYY" name="purchase_date" />
    </div>
    <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">
        <span class="eq-field-label">Purchased By:</span>
        <select ng-options="field_staff_user.id as field_staff_user.personName for field_staff_user in field_staff_users" class="form-control eq-input-text-box"
                ng-model="output_record_params.purchased_by">
            </select>
    </div>
</div>
</div>
<uib-accordion>
    <uib-accordion-group class="eq-accordion eq-medium-top-margin-offset">
        <uib-accordion-heading>
            <span ng-click="getEvents('TRAINING')">Purchased Line Items <i class='fa fa-caret-down'></i></span>
        </uib-accordion-heading>
        <div class="col-lg-12 col-md-12 eq-col-bottom-margin-offset">
            <a ng-click="showAdvanced($event)">
                    Add Items
                </a>
        </div>
        <div class="col-lg-12 col-md-12 eq-col-bottom-margin-offset">
            <label for="produce" class="eq-field-label">Material/Products Purchased:</label>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        Item
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        Rate
                    </th>
                    <th class="eq-field-label">
                        Price
                    </th>
                    <th class="eq-field-label">
                    </th>
                </tr>
                <tr ng-repeat="(productIndex, output_record_params) in purchaseItems track by $index" ng-init="setTotals(output_record_params)">
                    <td>{{output_record_params.item.name}}</td>
                    <td>{{output_record_params.quantity}}</td>
                    <td>{{output_record_params.rate}}</td>
                    <td>{{output_record_params.total}}</td>
                    <td>
                        <a class="btn fa fa-times" data-ng-click="removeRow(productIndex)"></a>
                    </td>
                </tr>
            </table>
            <span><b>Total Amount: </b>{{invoiceTotal | number:2}}</span>
        </div>
    </uib-accordion-group>
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span ng-click="getEvent">Delivery, Payment Options <i class='fa fa-caret-down'></i></span>
        </uib-accordion-heading>
        <div class="eq-content-container">
        <div class="row">
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <div class="form-inline">
                    <input type="checkbox" ng-model="output_record_params.expected_delivery_reminder" /> Send delivery challan to Farmer’s mobile
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">
                <span class="eq-field-label">Invoice Id*:</span>
                <input type="text" class="form-control eq-input-text-box" ng-model="output_record_params.invoice_id" />
            </div>
            <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
                <span for="category_name" class="eq-field-label">Upload or Scan Invoice:</span>
                <div ng-include="'/fpoApp/views/fposhop/upload_invoice.html'"></div>
            </div>
        </div>
        </div>
    </uib-accordion-group>
</uib-accordion>
    <div class="eq-content-container">
        <button class="btn btn-primary" type="button" align="center" ng-click="addOutputRecordPurchase()">Save And Enter Payment Details</button>
    </div>
