<div class="eq-screen-header eq_bg_accent">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>Incoming Payment Details (Purchase )</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="createPayment()">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <table>
        <tr>
            <td>
            <span class="eq-field-label">Purchase Record:</span>
            </td>
            <td> {{purchaseId}}
            </td>
        </tr>
        <tr>
            <td>
            <span class="eq-field-label">Purchase Date:</span>
            </td>
            <td> {{purchase.purchase_date | date:'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
            <td>
            <span class="eq-field-label">Seller Name:</span>
            </td>
            <td> {{vendorData.name || farmerData.name}}
            </td>
        </tr>
    </table>
    <div class="row eq-large-top-margin-offset">
        <div class="col-sm-6 ">
            <span class="eq-medium-top-margin-offset"><b>Amount to be Paid by FPO (&#8377;): </b></span>{{total_amount}}
        </div>
        <div class="col-sm-6 ">
            <span class="eq-field-label">Seller Account Opening Balance (&#8377;):</span> {{finAccount}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span class="eq-guiding-text">Add amount against each of the method through which seller is paid (&#8377;)
        </span>
        </div>
    </div>
    <div class="row eq-medium-top-margin-offset">
        <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
            <span class="eq-field-label eq-medium-top-margin-offset"><b>Payment Method</b></span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
            <span class="eq-field-label"><b>Amount (&#8377;)</b></span>
        </div>
    </div>
    <div class="row eq-medium-top-margin-offset">
        <div class="col-xs-4 col-sm-6">
            <span class="eq-field-label eq-medium-top-margin-offset">Cash (&#8377;)</span>
        </div>
        <div class="col-xs-4 col-sm-6">
            <input class="eq-input-text-box eq-table-input-text-box" ng-init='0' ng-model='payInput.cash' type="number" name="Cash" />
        </div>
    </div>
    <div class="row eq-medium-top-margin-offset">
        <div class="col-xs-4 col-sm-6">
            <span class="eq-field-label eq-medium-top-margin-offset">Bank transfer</span>
        </div>
        <div class="col-xs-4 col-sm-6">
            <input class="eq-input-text-box eq-table-input-text-box" ng-init='0' ng-model='payInput.bank_txn' type="number" name="BankTransfer" />
        </div>
    </div>
    <div class="row eq-medium-top-margin-offset">
        <div class="col-sm-6 col-xs-4 ">
            <span class="eq-field-label eq-medium-top-margin-offset">Cheque</span>
        </div>
        <div class="col-sm-6 col-xs-4 ">
            <input class="eq-input-text-box eq-table-input-text-box" ng-init='0' type="number" ng-model='payInput.check' name="check" />
        </div>
    </div>
    <div ng-if='payInput.check'>
        <div class="row eq-medium-top-margin-offset">
            <div class="col-xs-4 col-sm-6 ">
                <span class="eq-field-label eq-medium-top-margin-offset">Cheque Number</span>
            </div>
            <div class="col-xs-4 col-sm-6 ">
                <input class="eq-input-text-box eq-table-input-text-box" ng-model='payInput.check_number' type="text" name="checkNumber" />
            </div>
        </div>
        <div class="row eq-medium-top-margin-offset">
            <div class="col-xs-4 col-sm-6 ">
                <span class="eq-field-label eq-medium-top-margin-offset">Cheque Date</span>
            </div>
            <div class="col-xs-4 col-sm-6 ">
                <input class="eq-input-text-box eq-table-input-text-box" type="input" ng-model='payInput.check_date' id="checkDate" />
            </div>
        </div>
    </div>
    <div class="row eq-medium-top-margin-offset">
        <div class="col-sm-12">
            <span class="eq-field-label ">Seller Account Balance (&#8377;):</span> 
            <!--{{vendorFinAccount}} + {{total_amount - (payInput.cash+payInput.check+payInput.bank_txn)}} =-->
             {{vendorFinAccount + total_amount - (payInput.cash+payInput.check+payInput.bank_txn)}}
        </div>
    </div>
    <div class="row eq-medium-top-margin-offset">
        <div class="col-xs-4 col-sm-6 ">
            <span class="eq-field-label eq-medium-top-margin-offset">Balance Due Date:</span>
        </div>
        <div class="col-xs-4 col-sm-6 ">
            <input class="eq-input-text-box eq-table-input-text-box" ng-model='payInput.balance_due_date' type="input" id="balanceDueDate" />
        </div>
    </div>
</div>
