<div class="eq-screen-header eq_bg_accent">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>Purchase View Details</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
                <!--<button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>-->
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <a ui-sref="purchased-goods-received({purchaseId:purchaseId})" class="btn btn-primary eq-row-bottom-margin-offset">Add Goods Received</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="eq-field-label">Purchase Id:</span> {{purchaseDetails.id}}
        </div>
        <div class="col-sm-4">
            <span class="eq-field-label">Vendor Name: </span> {{purchaserName}}
        </div>
        <div class="col-sm-4">
            <span class="eq-field-label">Address:</span> {{sellerDetails.address}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="eq-field-label">Phone:</span> {{purchaseByDetail.phone_primary}}
        </div>
        <div class="col-sm-4">
            <span class="eq-field-label">Purchase Date: </span> {{purchaseDetails.purchase_date | date: 'dd-MM-yyyy'}}
        </div>
        <div class="col-sm-4">
            <span class="eq-field-label">Purchase By: </span> {{sellerDetails.name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="eq-field-label">Expected Date: </span> {{purchaseDetails.expected_receipt_date | date: 'dd-MM-yyyy'}}
        </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
                    <label for="produce" class="eq-field-label ">Material/Products Purchased:</label>
                    <!-- <input class="form-control" type="text" name="grade_description" id="grade_description" /> -->
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <th class="eq-field-label">
                                Item
                            </th>
                            <th class="eq-field-label">
                                Qty
                            </th>
                            <th class="eq-field-label">
                                Rate (&#8377;)
                            </th>
                            <th class="eq-field-label">
                                Price (&#8377;)
                            </th>
                            <!--<th class="eq-field-label">
                            </th>-->
                        </tr>
                        <tr ng-repeat="(productIndex, record_params) in record_param track by $index" ng-init="setTotals(record_params)">
                            <td>
                                <!--<a ng-click="itemPopup($event, record_params)">-->
                                    {{record_params.item.name}}</td>
                            <td>{{record_params.quantity}}</td>
                            <td>{{record_params.rate}}</td>
                            <td>{{record_params.amount}}</td>
                            <!--<td>
                                <a class="btn fa fa-times" color="red" data-ng-click="removeRow(productIndex)"></a>
                            </td>-->
                        </tr>
                    </table>
                    <!--<span><b>Total Amount: </b>{{(invoiceTotal) | number:2}}</span>-->
                    
                </div>
    </div>
</div>
