<div class="eq-screen-header eq_bg_accent">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>New Purchase</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row">
        <div class="col-sm-6 eq-col-bottom-margin-offset">
            <div class="form-inline">
                    <input type="radio" id="recordTrue" name="record_purchase" ng-click="outputRecord()" ng-value='false' /> <span class=" eq-field-label">Produce/Harvest from Farmer</span>
                    <input type="radio" id="recordFalse" name="record_purchase" ui-sref="recordPurchase" ng-value='true' checked='checked' /><span class=" eq-field-label"> Farm Input from Vendor/Market</span>
                </label>
            </div>
        </div>
    </div>
    <!--<div class="row col-sm-6 eq-row-bottom-margin-offset">
        <button type="button" class="btn btn-primary"> Fill Details From Old Purchase Record</button>
        <div class="eq-guiding-text">You can either use an existing Purchase Record to fill in details, then edit what has changed, or enter details from
            scratch.</div>
    </div>-->
    <!--<div ng-if="recordPurchase">-->
    <div class="row">
        <div class="col-lg-4 col-md-4 eq-medium-top-margin-offset">
            <span class="eq-field-label">Vendor Name:</span>
            <div class="eq-guiding-text">Select an existing seller, or add new </div>
            <div class="dropdown dropdown-scroll" ng-app="app">
                <div class="input-group input-group-sm search-control dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    <input type="text" class="form-control" placeholder="Search Vendor name and Phone Number here" ng-model="vendorData.name">
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" ></span>
                    </span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                    </li>
                    <li role="presentation" ng-repeat='vendor_info in vendor_infos | filter:vendorData.name'> <a ng-click="addSelectedVendor(vendor_info)"> {{vendor_info.name}} </a>
                    </li>
                </ul>
            </div>
            <a type="button" class="btn btn-primary eq-medium-top-margin-offset" ng-click="addVendor()">Add New Vendor</a>
        </div>
    </div>
    <div ng-if="vendorData.phone || vendorData.short_address" class="row col-sm-6 eq-row-bottom-margin-offset">
        <span class="eq-field-label  eq-medium-top-margin-offset " ng-if="vendorData.phone">Vendor Phone: {{vendorData.phone}}</span>
        <br>
        <span class="eq-field-label" ng-if="vendorData.short_address">Vendor Address: {{vendorData.short_address}}</span>
    </div>
    <div class="row" >
        <div class="col-lg-6 col-md-6 date">
            <span class="eq-field-label">Purchase Date:</span>
            <input type="text" class="form-control eq-input-text-box custom_calendar" id="purchase_date" placeholder="DD-MM-YYYY" name="purchase_date"
                readonly="readonly" />
        </div>
        <div class="col-lg-6 col-md-6">
            <span class="eq-field-label">Purchased By:</span>
               <select  ng-options="field_staff_user.personId as field_staff_user.personName for field_staff_user in field_staff_users"  class="form-control eq-input-text-box"
                ng-model="input_record_params.purchased_by">
            </select>
        </div>
    </div>
</div>
    <uib-accordion>
        <uib-accordion-group class="eq-accordion eq-medium-top-margin-offset">
            <uib-accordion-heading>
                <span ng-click="getEvents">Purchased Items <i class='fa fa-caret-down'></i></span>
            </uib-accordion-heading>
            <div class="col-lg-12 col-md-12 eq-col-bottom-margin-offset">
                <a ng-click="inputItemPopup($event)">
                    Add Items
                </a>
            </div>
            <div class="col-lg-12 col-md-12 eq-col-bottom-margin-offset">
                <label for="produce" class="eq-field-label">Material/Products Purchased:</label>
                <!-- <input class="form-control" type="text" name="grade_description" id="grade_description" /> -->
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th class="eq-field-label">
                            Item
                        </th>
                        <th class="eq-field-label">
                            Qty
                        </th>
                        <th class="eq-field-label">
                            Rate
                        </th>
                        <th class="eq-field-label">
                            Price
                        </th>
                        <th class="eq-field-label">
                        </th>
                    </tr>
                    <tr ng-repeat="(productIndex, input_record_params) in purchaseItems track by $index" ng-init="setTotals(input_record_params)">
                        <td><a ng-click="itemPopup($event, input_record_params)">{{input_record_params.item.name}}</a></td>
                        <td>{{input_record_params.quantity}}</td>
                        <td>{{input_record_params.rate}}</td>
                        <td>{{input_record_params.total}}</td>
                        <td>
                            <a class="btn fa fa-times" color="red" data-ng-click="removeRow(productIndex)"></a>
                        </td>
                    </tr>
                </table>
                <span><b>Total Amount: </b>{{invoiceTotal | number:2}}</span>
            </div>
        </uib-accordion-group>
        <uib-accordion-group class="eq-accordion">
            <uib-accordion-heading>
                <span ng-click="getEvents">Delivery, Payment Options <i class='fa fa-caret-down'></i></span>
            </uib-accordion-heading>
            <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-6 col-md-6 eq-col-bottom-margin-offset">
                    <div class="form-inline">
                        <input type="checkbox" ng-click="getCalendar()" ng-model="input_record_params.future_delivery" /> Future Delivery
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset" ng-if="input_record_params.future_delivery">
                    <span class="eq-field-label"> Expected Delivery Date*:</span>
                    <!--<input type="date" class="form-control eq-input-text-box select-gap" />-->
                    <input type="text" class="form-control eq-input-text-box custom_calendar"  id="delivery_date" placeholder="DD-MM-YYYY" name="delivery_date"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 eq-col-bottom-margin-offset">
                    <div class="form-inline">
                        <input type="radio" name="reminder" ng-value="true" ng-model="input_record_params.expected_delivery_reminder" checked='checked' /> Set Reminder for Expected Delivery
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 eq-col-bottom-margin-offset">
                    <div class="form-inline">
                        <input type="radio" name="reminder" ng-value="false" ng-model="input_record_params.goods_received_record" /> Auto Create Goods Received Record
                        <div class="eq-guiding-text">You can either use an existing Purchase Record to fill in details, then edit what has changed, or enter details from scratch.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 eq-col-bottom-margin-offset">
                    <span class="eq-field-label">Invoice Id</span>
                    <input type="text" class="form-control eq-input-text-box" ng-model="input_record_params.invoice_id" />
                </div>
                <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
                    <span for="category_name" class="eq-field-label">Upload or Scan Invoice:</span>
                    <div ng-include="'/fpoApp/views/fposhop/upload_invoice.html'"></div>
                </div>
            </div>
            </div>
        </uib-accordion-group>
   </uib-accordion>
    <div class="eq-content-container">
        <button class="btn btn-primary" type="button" align="center" ng-click="addRecordPurchase()">Save And Enter Payment Details</button>
    </div>
