<div class="eq-screen-header eq_bg_accent">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>Record Goods Received</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="addGoodsReceieved()">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row">
        <div class="col-sm-6">
            <span class="eq-field-label">Purchase Record:</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 eq-medium-top-margin-offset">
            <span class="eq-field-label">Seller Name:</span> {{sellerDetails.name}}
        </div>
        <div class="col-sm-4">
            <span class="eq-field-label">Seller Phone:</span> {{sellerDetails.phone}}
        </div>
        <div class="col-sm-4">
            <span class="eq-field-label">Seller Address:</span> {{sellerDetails.short_address}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span class="eq-field-label">Expected Date:</span> {{purchaseDetails.expected_receipt_date | date: 'dd-MM-yyyy'}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <span class="eq-field-label">Goods Received Date:</span>
            <input type="text" class="form-control eq-input-text-box custom_calendar" id="receipt_date" placeholder="DD-MM-YYYY" name="receipt_date" readonly="readonly" />
        </div>
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <span class="eq-field-label">Delivered By:</span>
            <select ng-options="field_staff_user.personId as field_staff_user.personName for field_staff_user in field_staff_users" class="form-control eq-input-text-box" ng-model="good_received_items.received_by">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="produce" class="eq-field-label">Received Items:</label>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        Item
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        More
                    </th>
                </tr>
                <tr ng-repeat="receivedItem in receivedItems">
                    <td>
                        {{receivedItem.item.name}}
                    </td>
                    <td>
                        <input type="float" class="form-control eq-input-text-box eq-table-input-text-box" max='receivedItem.quantity - receivedItem.quantity_received - receivedItem.rejectedQuantity' min='0' ng-model="receivedItem.current_receive_quantity">
                    </td>
                    <td ng-init="0">
                        <a ng-click="itemReceivedDetails($event, receivedItem)">...</a>
                    </td>
                </tr>
            </table>
        </div>
        {{$scope.receivedItems}}
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="produce" class="eq-field-label">Rejected Items:</label>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        Item
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        More
                    </th>
                </tr>
                <tr ng-repeat="receivedItem in receivedItems">
                    <td>
                        {{receivedItem.item.name}}
                    </td>
                    <td>
                        <input type="float" class="form-control eq-input-text-box eq-table-input-text-box" max='receivedItem.quantity - receivedItem.quantity_received - receivedItem.current_receive_quantity' min='0' ng-model="receivedItem.rejectedQuantity" ng-init="receivedItem.rejectedQuantity=0">
                    </td>
                    <td ng-init="0">
                        <a ng-click="itemRejectedDetails($event, receivedItem)">...</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span class="eq-field-label eq-medium-top-margin-offset">Delivery Challan ID</span>
            <input class="eq-input-text-box eq-table-input-text-box eq-col-bottom-margin-offset" type="text" name="challanId" ng-model="good_received_items.challan_id" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 eq-col-bottom-margin-offset">
            <span class="eq-field-label">Invoice Id</span>
            <input type="text" class="form-control eq-input-text-box" ng-model="good_received_items.invoice_id" />
        </div>
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <span for="category_name" class="eq-field-label">Upload or Scan Invoice:</span>
            <div ng-include="'/fpoApp/views/fposhop/upload_invoice.html'"></div>
        </div>
    </div>
</div>
