<div class="eq-screen-header eq_bg_accent">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>Record Sale</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row col-sm-6 eq-row-bottom-margin-offset">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <button type="button" class="btn btn-primary"> Fill Details From Old Sales Record</button>
            <!--<div class="eq-guiding-text">You can either use an existing Purchase Record to fill in details, then edit what has changed, or enter details from scratch.</div>-->
        </div>
    </div>
    <div class="row">
          <div class="col-lg-4 col-md-4 eq-medium-top-margin-offset">   
                    <span class="eq-field-label">Buyer Name:</span>
            <div class="eq-guiding-text">Select an existing seller, or create new using drop down</div>                    
                <select class="form-control eq-input-text-box" >
                <option value="Coromandal INternational">Coromandal International</option>
            </select>
        </div>
        <div class="col-lg-4 col-md-4 eq-medium-top-margin-offset">   
                    <span class="eq-field-label">Buyer Phone:</span>
        </div>
         <div class="col-lg-4 col-md-4 eq-medium-top-margin-offset">   
         <span class="eq-field-label">Buyer Address: 23 Main Street, Gulabganj, MP</span>
         </div>
    </div>
    <div class="row">
          <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="produce" class="eq-field-label">Material/Products Purchased:</label>
            <!-- <input class="form-control" type="text" name="grade_description" id="grade_description" /> -->
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        Item
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        Rate
                    </th>
                    <th class="eq-field-label">
                        Item Discount
                    </th>
                    <th class="eq-field-label">
                        After Tax Amount
                    </th>
                </tr>
                <tr>
                    <td>
                      AgrOrganix Organic Soil Nutrient, 20Kg Pack    
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="org.quantity" ng-init="org.quantity=0" />
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="org.price" ng-init="org.price=0" />
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Discount" ng-model="org.discount" ng-init="org.discount=0" />
                    </td>
                    <td ng-init="0">
                         {{org_total=org.quantity*org.price}}
                    </td>
                </tr>
                <tr>
                    <td>
                        ABC Seeds
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="seed.quantity" ng-init="seed.quantity=0" />
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="seed.price" ng-init="seed.price=0"/>
                    </td>
                     <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Discount" ng-model="org.discount" ng-init="org.discount=0" />
                    </td>
                    <td ng-init="0">
                    	{{seed_total=seed.quantity*seed.price}}
                    </td>
                </tr>
                <tr>
                    <td>
                        XYZ Pesticide
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="pesticide.quantity" ng-init="pesticide.quantity=0" />
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="pesticide.price" ng-init="pesticide.price=0" />
                    </td>
                     <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Discount" ng-model="org.discount" ng-init="org.discount=0" />
                    </td>
                     <td ng-init="0">
                         {{pesticide_total=pesticide.quantity*pesticide.price}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                     <td ng-init="0" >{{material_total=org_total+seed_total+pesticide_total}} </td>
                </tr>
            </table>
        </div>
    </div>
    <uib-accordion close-others="true">
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span ng-click="getEvents('TRAINING')">Delivery, Payment Options <i class='fa fa-caret-down'></i></span>
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn " ng-click="eventCreate('TRAINING')">
                    <i class="eq-fa fa fa-check"></i>
                </button>
            </span>
        </uib-accordion-heading>
       
<div class="eq-content-container">
 <div class="row">
        <div class="col-sm-6 eq-col-bottom-margin-offset">
            <div class="form-inline">
                <label class="col-lg-6 eq-field-label">
                    <input type="checkbox" ng-model="purchase.ProduceFromFarmer"/> Future Delivery:
                </label>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">  
           <span class="eq-field-label"> Scheduled Delivery Date*:</span>  
           <input type="text"  class="form-control eq-input-text-box select-gap custom_calendar" id="purchase_date" placeholder="DD-MM-YYYY" name="purchase_date" readonly="readonly" /> 
          </div>
 </div>
 <div class="row">
 <div class="col-sm-6 eq-col-bottom-margin-offset">
            <div class="form-inline">
                <label class="col-lg-6 eq-field-label">
                    <input type="checkbox" ng-model="purchase.ProduceFromFarmer"/> Set Reminder for Scheduled Delivery
                </label>
            </div>
        </div>
 <div class="col-sm-6 eq-col-bottom-margin-offset">
            <div class="form-inline">
                <label class="col-lg-6 eq-field-label">
                    <input type="checkbox" ng-model="purchase.ProduceFromFarmer"/> Auto Create Goods Delivered Record</label>
            <div class="eq-guiding-text">You can create a record of goods delivered automatically by clicking on this, if you have delivered all goods at this time.</div>
            </div>
        </div>
 </div>
 <div class="row">
        <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">  
           <span class="eq-field-label">Invoice ID*::</span>
            <div class="eq-guiding-text">You can either use an existing Purchase Record to fill in details, then edit what has changed, or enter details from scratch.</div>           
           <input class="eq-input-text-box eq-table-input-text-box" type="text" name="invoiceId"/>
          </div>

          <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="category_name" class="eq-field-label">Upload or Scan Invoice:</label>
            <div class="input-group">
                <input type="text" class="form-control eq-input-text-box" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </button>
                     <button class="btn btn-default" type="button">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>


 </div>
</div>
</uib-accordion-group>
</uib-accordion>
 
 <div class="eq-content-container">
<button class="btn btn-primary" type="button" align="center" ng-click="recordPurchase()">Save And Enter Payment Details</button>
 </div>
