<div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <img ng-if='!fileUrl && !thumbnail.dataUrl' class='profilePicMedium ' />
        <img ng-if='fileUrl && !thumbnail.dataUrl' id='imageThumbnail' class='profilePicMedium ' ng-src="{{ fileUrl}}" />
        <img ng-if='thumbnail.dataUrl' id='imageThumbnail' class='profilePicMedium ' ng-src="{{ thumbnail.dataUrl }}" />
        <br>
    </div>
        <!-- Implementation for the Save and remove the file -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="file-input btn btn-primary btn-file" style="margin-top: 10px ">
                 Browse &hellip; <input type="file" id='uploadedFile' name="file" onchange="angular.element(this).scope().photoChanged(this.files)" accept='image/*;capture=camera' />
            </span>
            <br>
            <span ng-if='thumbnail.dataUrl || fileUrl || showSaveButton'>
            
                <button class="add-photo-btn-save" ng-click="saveFile()" >
                    Save
                </button>

                <button class="add-photo-btn-remove" ng-click="removeFile()">
                      Remove 
                </button>
        </span>
        </div>
    </div>
</div>
