<div>
    <form>
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div id='screen_title' class="col-md-8 col-sm-8 col-xs-8">
                    <div>Add Address</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="pull-right">
                        <button class="btn btn-default eq-glyph-btn" ng-click="Address()">
                            <i class="eq-fa fa fa-check"></i>
                        </button>
                        <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                            <i class="eq-fa fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div>
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">Address Line1 *: </label>
                        <input type="text" class="form-control eq-input-text-box" id="line1" data-ng-model="address.line1" required />
                    </div>
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">Address Line2: </label>
                        <input type="text" class="form-control eq-input-text-box" id="line2" placeholder="Address Line2" data-ng-model="address.line2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">Address Line3: </label>
                        <input type="text" class="form-control eq-input-text-box" id="line3" placeholder="Address Line3" data-ng-model="address.line3" />
                    </div>
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">Landmark: </label>
                        <input type="text" class="form-control eq-input-text-box" id="landmark" placeholder="Landmark" data-ng-model="address.landmark" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">Country: </label>
                        <select class="form-control eq-input-text-box" placeholder="Country" name="Country" id="country" ng-options="country.code as country.name for country in countries" ng-init='address.country="INDIA"' ng-model="address.country">
                            <!-- <option value="India">Select Country *</option> -->
                        </select>
                    </div>
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">State: </label>
                        <select class="form-control eq-input-text-box" placeholder="State" name="States" id="states" ng-model="address.state" ng-options="state.code as state.name for state in states" ng-init='address.state="KA";getDistricts(address.state)' ng-change="getDistricts(address.state)" required>
                            <option value="">Select State *</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">District: </label>
                        <select class="form-control eq-input-text-box" id="district" placeholder="Optional" data-ng-model="address.district" ng-options="district.code as district.name for district in districts">
                            <option value="">Select District</option>
                        </select>
                    </div>
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">Tehsil: </label>
                        <input type="text" class="form-control eq-input-text-box" id="tehsil" placeholder="Tehsil" data-ng-model="address.tehsil" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">Panchayat: </label>
                        <input type="text" class="form-control eq-input-text-box" id="panchayat" placeholder="Panchayat" data-ng-model="address.panchayat" />
                    </div>
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">Village/Post Office: </label>
                        <input type="text" class="form-control eq-input-text-box" id="village" placeholder="Village *" data-ng-model="address.village"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label class="form-group eq-field-label">PIN *: </label>
                        <input type="text" class="form-control eq-input-text-box" id="pin" placeholder="PIN *" allow-pattern ="^[0-9]$" maxlength="6" data-ng-model="address.PIN" required />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
