<div class="short_desc_more dashboard-detail-text">
    <div>
        <span id='screen_title' class="eq-field-label">
            <strong>{{address_title}}<!-- Event Address --> </strong>
        <span>
    </div>
    <div>
        <span ng-if="address.line1" placeholder="Village *"> {{address.line1}}</span>
        <span ng-if="address.line2">, {{address.line2}}</span>
        <span ng-if="address.line3">, {{address.line3}}</span>
    </div>
    <div ng-if="address.village">
        <span class="eq-field-label">Village:</span> {{address.village}}
    </div>
    <div ng-if="address.panchayat">
        <span class="eq-field-label">Panchayat:</span> {{address.panchayat}}
    </div>
    <div ng-if="address.tehsil">
        <span class="eq-field-label">Tehsil:</span> {{address.tehsil}}
    </div>
    <div ng-if="address.PIN">
        <span class="eq-field-label">PIN:</span> {{address.PIN}}
    </div>
    <div ng-if="address.landmark">
        <span class="eq-field-label">Landmark:</span> {{address.landmark}}
    </div>
    <div ng-if="address.district">
        <span class="eq-field-label">District:</span> {{address.district}}
    </div>
    <div ng-if="address.state">
        <span class="eq-field-label">State:</span> {{address.state}}
    </div>
    <div ng-if="address.country">
        <span class="eq-field-label">Country:</span> {{address.country}}
    </div>
</div>
