<div id="searchTop">
    <div ng-if='showSearchBar'>
        <form name="farmer_search" >
            <div class="eq-screen-header eq_bg_accent" ng-if='true'>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div>{{$state.current.data.screen_title}}</div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="pull-right">
                            <button class="btn btn-default eq-glyph-btn " ng-click="searchFarmer(farmer)">
                                <i class="eq-fa fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eq-content-container" >
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="name" placeholder="Farmer Name" data-ng-model="farmer.name" /><br/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-disabled='!farmer.name' placeholder="District" id="farmer_district" data-ng-model="farmer.district" /><br/>
                    </div>
                            
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-disabled='!farmer.name' placeholder="Village" id="farmer_village" data-ng-model="farmer_village" />
                    </div>
                </div>
                    <b>OR</b>

                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="mobile_number" placeholder="Mobile Number(10)" data-ng-model="farmer.mobile" />
                    </div>
                </div>
                <b>OR</b>

                <div class="row">
                    <div class="col-sm-6">
                        <label for="doc_type"></label>
                        <select class="form-control eq-input-text-box" name="Doc_Type" id="doc_type" ng-model="farmer.id_type">
                            <option value="">Document Type</option>
                            <option ng-repeat="doc_type in kyc_doc_types" value="{{ doc_type.code }}"> {{ doc_type.name }} </option>
                        </select>
                    </div>
                    
                    <br/>
                    
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-disabled='!farmer.id_type' placeholder="Document Number" ng-required='farmer.doc_type' id="farmer_docnumber" data-ng-model="farmer.id_number" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="eq-content-container" ng-if='!showSearchBar'>
        <div ng-if="farmersData.length == 0 ">
                <h5 align="center"> Sorry no result found !!!</h5>
        </div>
        <div ng-if="farmersData.length > 0 ">
                <h5 align="center"> {{farmersData.length}} result(s) are found</h5> 
        </div>
        <!-- <hr> -->
<!--         <div ng-if="showSearchBar && farmersData && farmersData.length != 0">
            <b>Previous Search result<b>
        </div>
 -->
        <div ng-if='farmersData.length > 4' >
            <h5 align="center"><a ng-click="searchAgain() ">Click here to Search again! </a></h5>
        </div>
        <div class="list-group eq-list-group col-sm-6 col-md-6 col-xs-12"  ng-repeat="farmer in farmersData" >
            <a href="" class="list-group-item eq-list-group-item col-sm-11 col-md-11 col-xs-11" ng-click="selectFarmer(farmer)">
                <p class="list-group-item-text eq-list-item-header">{{ farmer.full_name }} ({{farmer.gender}})</p>
                <p class="list-group-item-text">{{ farmer.email_personal }}</p>
                <p class="list-group-item-text">{{ farmer.address_primary }} {{farmer.village}} {{farmer.district}}</p>
                <p class="list-group-item-text">{{ farmer.govt_id_type }} {{ farmer.govt_id }}</p>
            </a>
        </div>
        <br id='searchBottom'>
        <div class="list-group eq-list-group eq-content-container col-sm-12 col-md-12 col-xs-12" >
            <h5 align="center"><a ng-click="searchAgain()">Click here to Search again! </a></h5>
        </div>
    </div>


 </div>




<!-- 
        <div class="col-sm-4">
        <input type="text" class="form-control" id="house_code" placeholder="Household Code" data-ng-model="farmer.housecode" /><br/>
        </div>
        <div class="col-sm-4">
        <input type="text" class="form-control" id="farmer_code" placeholder="Farmer Code" data-ng-model="farmer.farmercode" /><br/>
        </div>
      
        <div class="col-sm-4">
        <input type="text" class="form-control" id="farmer_state" placeholder="State" data-ng-model="farmer.state"  /><br/>
        </div> -->

        <!-- <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="District" id="farmer_district" data-ng-model="farmer.district" /><br/>
        </div> -->
<!--         <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Taluka/Tehsil/Block/" id="farmer_tehsil" data-ng-model="farmer.tehsil" /><br/>
        </div>
        <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Hobli/Mandal" id="farmer_hobli" data-ng-model="farmer.hobli" /><br/>
        </div>
        <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Gram Panchayat" id="farmer_panchayat" data-ng-model="farmer_panchayat" /><br/>
        </div> -->
        <!-- <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Village" id="farmer_village" data-ng-model="farmer_village" /><br/>
        </div>
        
       
        <div class="col-sm-4">
         <input type="text" class="form-control" placeholder="Document Number" id="farmer_docnumber" data-ng-model="farmer_docnumber" /><br/>
        </div>
        <div class="col-sm-4">
         <input type="text" class="form-control" placeholder="Doc Type" id="farmer_doctype" data-ng-model="farmer_doctype" /><br/>
        </div> -->

        <!-- <label>Select Organizarion Role</label>
        <span ng-repeat="org_role in roles" ng-if="org_role.code = 'FPO-MGMT' || 'FPO-FIELD-STAFF'">
            <label class="checkbox" for="{{org_role.code}}">
                <input type="checkbox" name="selectedRoles[]" ng-model="user.org_roles[org_role.code]" value="org_role.code">{{org_role.name}}
            </label>
        </span> -->
        
        
<!--         </div>
        
        <div class="gap10"></div>
    </form>
</div> -->