<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div>Add Purchase Record</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row eq-row-bottom-margin-offset">
        <div class="col-lg-12 col-md-12" align="center">
            <button type="button" class="btn btn-primary"> Fill Details From Old Purchase Record</button>
        </div>
    </div>
    <div class="eq-guiding-text row eq-row-bottom-margin-offset">
        Add new Product Definition. Once a Product definition is created, its SKUs can be defined, and it can be associated with more categories.
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="attribute_name" class="eq-field-label">Vendor Name:</label>
            <select class="form-control eq-input-text-box" id="select_farmer">
                <option value="Radhe Shyam">Radhe Shyam</option>
                <option value="Batuk Das">Batuk Das</option>
                <option value="Kishan Prasad">Kishan Prasad</option>
            </select>
            
        </div>
    </div>
    
    <div class="row" ng-if="member_farmer ">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="attribute_name" class="eq-field-label"> Vendor Phone:</label>
            9876645423
        </div>
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="attribute_name" class="eq-field-label"> Vendor Address:</label>
            23 Main Street, Gulabganj, MP
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 form-inline eq-col-bottom-margin-offset">
            <label class="eq-field-label">Purchase Date: </label>
                    <input type="text"  class="form-control eq-input-text-box select-gap custom_calendar" id="purchase_date" placeholder="DD-MM-YYYY" name="purchase_date" readonly="readonly" />
        </div>
        <div class="col-lg-6 col-md-6 form-inline eq-col-bottom-margin-offset">
            <label class="eq-field-label">Delivery Date: </label>
                    <input type="text" class="form-control eq-input-text-box select-gap custom_calendar" id="delievery_date" placeholder="DD-MM-YYYY" name="delievery_date" readonly="readonly" />
        </div>
    </div>
    <div class="row row eq-row-bottom-margin-offset" align="center">
    <div class="row"  align="center">
        <img ng-src="/images/invoice.png" height="150" width="130">
        <div class="eq-guiding-text">invoice reports</div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="category_name" class="eq-field-label">Upload or Scan Invoice:</label>
            <div class="input-group">
                <input type="text" class="form-control eq-input-text-box" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </button>
                     <button class="btn btn-default" type="button">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="produce" class="eq-field-label">Material/Products Purchased:</label>
            <!-- <input class="form-control" type="text" name="grade_description" id="grade_description" /> -->
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        SKU
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        Unit
                    </th>
                    <th class="eq-field-label">
                        Price/Unit
                    </th>
                    <th class="eq-field-label">
                        Price
                    </th>
                </tr>
                <tr>
                    <td>
                        AgrOrganix Organic Soil Nutrient, 20Kg Pack
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="org.quantity" ng-init="org.quantity=0" />
                    </td>
                    <td>Kg
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="org.unit" ng-init="0" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="org.price" ng-init="org.price=0" />
                    </td>
                     <td ng-init="0">
                         {{org_total=org.quantity*org.price}}
                    </td>
                </tr>
                <tr>
                    <td>
                        ABC Seeds
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="seed.quantity" ng-init="seed.quantity=0" />
                    </td>
                    <td>Kg
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="seed.unit" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="seed.price" ng-init="seed.price=0"/>
                    </td>
                     <td ng-init="0">
                    	{{seed_total=seed.quantity*seed.price}}
                    </td>
                </tr>
                <tr>
                    <td>
                        XYZ Pesticide
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="pesticide.quantity" ng-init="pesticide.quantity=0" />
                    </td>
                    <td>Kg
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="pesticide.unit" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="pesticide.price" ng-init="pesticide.price=0" />
                    </td>
                     <td ng-init="0">
                         {{pesticide_total=pesticide.quantity*pesticide.price}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                     <td ng-init="0" >{{material_total=org_total+seed_total+pesticide_total}} </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="produce" class="eq-field-label">Taxes:</label>
            <!-- <input class="form-control" type="text" name="grade_description" id="grade_description" /> -->
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        Tax Type
                    </th>
                    <th class="eq-field-label">
                        Rate
                    </th>
                    <th class="eq-field-label">
                        Amount
                    </th>
                </tr>
                <tr>
                    <td>
                        VAT
                    </td>
                    <td>12%
                        <!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="record.quantity" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-box" type="number" name="Unit" ng-model="vat.amount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Swachh Bharat Cess
                    </td>
                    <td>0.5%
                        <!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="record.quantity" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-box" type="number" name="Unit" ng-model="swachh.amount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Krishi Kalyan Cess
                    </td>
                    <td>0.5%
                        <!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="record.quantity" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-box" type="number" name="Unit" ng-model="krishi.amount" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Total</b></td>
                     <td>{{tax_total=vat.amount+swachh.amount+krishi.amount}}</td>
                    
                </tr>
            </table>
            <div><b>Total Amount:</b> {{material_total+tax_total}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 eq-col-bottom-margin-offset" align="center">
            <button type="button" class="btn btn-primary eq-col-bottom-margin-offset"> Auto Create Goods Received Record</button>
            <div class="eq-guiding-text">You can create a record of goods received automatically by clicking on this, if you have received all goods at this time.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 eq-col-bottom-margin-offset" align="center">
            <button type="button" class="btn btn-primary eq-col-bottom-margin-offset"> Set Reminder For Expected Delivery</button>
            <div class="eq-guiding-text">You can set a reminder of when the delivery has to be made for these goods.</div>
        </div>
    </div>
</div>
