<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div>Add Product In Organic NPK</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="eq-guiding-text">Add new Product Definition. Once a Product definition is created, its SKUs can be defined, and it can be associated with more categories.</div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <label for="attribute_name" class="eq-field-label eq-small-top-margin-offset">Category:</label>
            Organic NPK
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <label for="attribute_name" class="eq-field-label eq-small-top-margin-offset">Name:</label>
    		<input type="text" name="attribute_name" id="attribute_name" class="form-control eq-input-text-box" placeholder="" />
        </div>
    
        <div class="col-lg-6 col-md-6">
            <label for="attribute_description" class="eq-field-label eq-medium-top-margin-offset">Description:</label>
    		<input type="text" name="attribute_description" id="attribute_description" class="form-control eq-input-text-box" />
        </div>
    </div>
    
    <div class="row"  align="center">
        <img class="eq-medium-top-margin-offset" ng-src="/images/product.png" height="150" width="130">
        <div class="eq-guiding-text">AgrOrganix Organic Soil Nutrient</div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <label for="category_name" class="eq-field-label eq-medium-top-margin-offset">Upload Product Image:</label>
            <div class="input-group">
            <input type="text" class="form-control eq-input-text-box" />
           <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <i class="fa fa-upload" aria-hidden="true"></i>
        </button>
         <button class="btn btn-default" type="button">
            <i class="fa fa-camera" aria-hidden="true"></i>
        </button>
      </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <label for="category_name" class="eq-field-label eq-medium-top-margin-offset">General Product Attributes:</label>
        </div>
    </div>
          <div class="row">
          <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">   
                    <span class="eq-field-label">Brand:</span>
                <select class="form-control eq-input-text-box" >
                <option value="Coromandal INternational">Coromandal International</option>
                <option value="Gujrat State Fertilizers">Gujrat State Fertilizers</option>
                <option value="Rashtriya Chemicals">Rashtriya Chemicals</option>
            </select>
        </div>
        <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset"> 
                   <span class="eq-field-label">Organic:</span>
                    <input type="radio" name="yes" ng-model="yes" value="true"> Yes <input type="radio" name="yes" ng-model="yes" value="false"> No
         </div>
         <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset"> 
                   <span class="eq-field-label">Liquid:</span>
                    <input type="radio" name="yes" ng-model="yes" value="true1"> Yes <input type="radio" name="yes" ng-model="yes" value="false1"> No
         </div>
         <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset"> 
                   <span class="eq-field-label">Perishable:</span>
                    <input type="radio" name="yes" ng-model="yes" value="true2"> Yes <input type="radio" name="yes" ng-model="yes" value="false2"> No
         </div>
          <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset"> 
                    <span class="eq-field-label">Unit:</span>
            <select class="form-control eq-input-text-box" >
                <option value="Kg">Kg</option>
                <option value="Ton">Ton</option>
                <option value="Litre">Litre</option>
                <option value="Dozen">Dozen</option>
            </select>
        </div>
        <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset"> 
                   <span class="eq-field-label">Usage/Acre:</span>
                    <input type="text" class="form-control eq-input-text-box">
        </div>
       <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset"> 
                    <span class="eq-field-label">NPK Rating:</span>
                    <input type="text" class="form-control eq-input-text-box">
        </div>
          </div>
 <div class="row">
        <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">
            <label for="category_name" class="eq-field-label eq-medium-top-margin-offset">Attributes for Alampur FPO:</label>
        </div>
 </div>
 <div class="row">
        <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">
                   <span class="eq-field-label">Suggested Sale Price / Kg:</span>
                    <input type="text" class="form-control eq-input-text-box">
        </div>
        <div class="col-lg-6 col-md-6 eq-medium-top-margin-offset">
                   <span class="eq-field-label">Suggested FPO discount:</span>
                    <input type="text" class="form-control eq-input-text-box">
        </div>
        </div>
<div class="row" >
    <div class="col-lg-12 col-md-12" align="center">
    <button type="button" class="btn btn-primary eq-medium-top-margin-offset">Add SKUs</button>
    </div>
</div>

        
   
   
    
</div>
