<div class="eq-screen-header eq_bg_accent">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			Add  Goods Received Record
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<span class="pull-right">
				<button class="btn btn-default eq-glyph-btn"><i class="fa fa-check"></i></button>
				<button class="btn btn-dafault eq-glyph-btn novalidate" ng-click="goBack()"><i class="fa fa-times"></i></button>
			</span>
		</div>
	</div>
</div>
<div class="eq-content-container">
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<label class="eq-field-label">Purchase Record:</label>
			324524165
		</div>
		</div>
		<div class="row">
		<div class="col-lg-6 col-md-6">
		<label class="eq-field-label">Vendor Name:</label>
			Radhe Shyam	
		</div>
		<div class="col-lg-6 col-md-6">
	    <label class="eq-field-label">Vendor Phone:</label>
			9876645423
		</div>
		<div class="col-lg-6 col-md-6">	
		<label class="eq-field-label">Vendor Address:</label>
			23 Main Street, Gulabganj, MP	
		</div>
		</div>
        <div class="row">
        <div class="col-lg-6 col-md-6 form-inline">
                    <label class="eq-field-label eq-medium-top-margin-offset">Material Received Date: </label>
                    <input type="text"  class="form-control eq-input-text-box select-gap custom_calendar" id="received_date" placeholder="DD-MM-YYYY" name="received_date" readonly="readonly" />
        </div>
        </div>
		<div class="row">
          <div class="col-lg-6 col-md-6">    
        <label for="produce" class="eq-field-label eq-medium-top-margin-offset">Received Products:</label>
            <!-- <input class="form-control" type="text" name="grade_description" id="grade_description" /> -->
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        Product SKU
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        Unit
                    </th>
                    <th class="eq-field-label">
                        Sale By Dt
                    </th>
                </tr>
                <tr>
                    <td>
                        AgrOrganix Organic Soil Nutrient, 20Kg Pack
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="record.quantity" />
                    </td>
                    <td>Kg
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="record.unit" />-->
                    </td>
                     <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="record.price" />
                    </td>
                </tr>
               <tr>
                    <td>
                        ABC Seeds
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="record.quantity" />
                    </td>
                    <td>Kg
                    <!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="record.unit" />-->
                    </td>
                     <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="record.price" />
                    </td>
                </tr>
            </table>
          </div>
          </div>
	
</div>