<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            Add SKU for {{Produc_Name}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="pull-right">
				<button class="btn  btn-default eq-glyph-btn"><i class="fa fa-check"></i></button>
				<button class="btn  btn-default eq-glyph-btn novalidate" ng-click="goBack()"><i class="fa fa-times"></i></button>
			</span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="eq-guiding-text">Add new Product SKU.</div>
    <div align="center">
        <img src="/images/product.png" class="img-rounded" height="150" width="130" />
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label class="eq-field-label" for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control eq-input-text-box" placeholder="AgrOrganix Organic Soil Nutrient 50kg pack" />
        </div>
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label class="eq-field-label" for="description">Description:</label>
            <input class="form-control eq-input-text-box" placeholder="Organic Soil Nutrient and Growth Enhancer 50kg pack">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label class="eq-field-label">SKU Attributes:</label>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eq-field-label" for="size">Size</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                        <input type="number" class="form-control eq-input-text-box" id="size"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eq-field-label" for="packing_material">Packing Material</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <select id="packing_material" class="form-control eq-input-text-box">
                            <option value="">Plastic Wrap</option>
                            <option value="">Cardboard Box</option>
                            <option value="">Gunny Bag</option>
                            <option value="">Tin</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-6 eq-field-label" for="mrp">MRP [MRP will vary for actual sales]</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <input type="number" class="form-control eq-input-text-box" id="mrp" aria-describedby="basic-addon2" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
