<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div>Add  Sales Record </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row" >
    <div class="col-lg-12 col-md-12" align="center">
    <button type="button" class="btn btn-primary eq-medium-top-margin-offset">  Fill Details From Old Sales Record</button>
    </div>
</div>
   
    <div class="row" >
        <div class="col-lg-6 col-md-6">
            <label for="attribute_name" class="eq-field-label eq-small-top-margin-offset">Buyer Name:</label>
            <div class="eq-guiding-text">Select an existing buyer, or create new using drop down</div>
    		<select class="form-control eq-input-text-box" ng-model="select_buyer">
                <option value="Batuk Das">Batuk Das</option>
                <option value="Vijay Perkash">Vijay Perkash</option>
                <option value="Ram Lal">Ram Lal</option>
            </select>
        </div>
    </div>
    
    <div class="row" ng-if="select_buyer">
        <div class="col-lg-6 col-md-6">
            <label for="attribute_name" class="eq-field-label eq-medium-top-margin-offset"> Buyer Phone:</label>
            9876645423
        </div>
        <div class="col-lg-6 col-md-6">
            <label for="attribute_name" class="eq-field-label eq-small-top-margin-offset"> Buyer Address:</label>
            23 Main Street, Gulabganj, MP
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 form-inline">
                    <label class="text-info eq-field-label">Sale Date: </label>
                    <input type="text" class="form-control eq-input-text-box select-gap custom_calendar" id="sale_date" placeholder="DD-MM-YYYY" name="sale_date" readonly="readonly" />
        </div>
    </div>
  
          <div class="row">
          <div class="col-lg-6 col-md-6">    
        <label for="produce" class="eq-field-label eq-medium-top-margin-offset">Material/Products Sold:</label>
            <!-- <input class="form-control" type="text" name="grade_description" id="grade_description" /> -->
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        SKU
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        Unit
                    </th>
                    <th class="eq-field-label">
                        Price/Unit
                    </th>
                    <th class="eq-field-label">
                        Price
                    </th>
                </tr>
                <tr>
                 <td>
                        AgrOrganix Organic Soil Nutrient, 20Kg Pack
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="org.quantity" ng-init="org.quantity=0" />
                    </td>
                    <td>Kg
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" value="kg" ng-model="org.unit" ng-init="0" />-->
                    </td>
                     <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="org.price" ng-init="org.price=0" />
                    </td>
                     <td ng-init="0">
                         {{org_total=org.quantity*org.price}}
                    </td>
                </tr>
               <tr>
                    <td>
                        ABC Seeds
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="seed.quantity" ng-init="seed.quantity=0" />
                    </td>
                    <td>Kg
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="seed.unit" />-->
                    </td>
                     <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="seed.price" ng-init="seed.price=0"/>
                    </td>
                     <td ng-init="0">
                    	{{seed_total=seed.quantity*seed.price}}
                    </td>
                </tr>
                <tr>
                    <td>
                        XYZ Pesticide
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="pesticide.quantity" ng-init="pesticide.quantity=0" />
                    </td>
                    <td>Ltr
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="pesticide.unit" />-->
                    </td>
                     <td>
                    	<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="pesticide.price" ng-init="pesticide.price=0" />
                    </td>
                     <td>
                         {{pesticide_total=pesticide.quantity*pesticide.price}}
                    </td>
                </tr>
                 <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                     <td><b>Total</b></td>
                     <td ng-init="0" >{{material_total=org_total+seed_total+pesticide_total}} </td>
                </tr>
            </table>
          </div>
          </div>

 <div class="row">
        <div class="col-lg-6 col-md-6">
           <label for="produce" class="eq-field-label">Taxes:</label>
            <!-- <input class="form-control" type="text" name="grade_description" id="grade_description" /> -->
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        Tax Type
                    </th>
                    <th class="eq-field-label">
                       Rate
                    </th>
                    <th class="eq-field-label">
                        Amount
                    </th>
                </tr>
                <tr>
                    <td>
                       VAT
                    </td>
                    <td>12%
                    	<!--<input class="eq-input-text-box eq-table-input-box" type="number" name="Quantity" ng-model="vat.rate" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-box" type="number" name="Unit" ng-model="vat.amount" />
                    </td>
                </tr>
               <tr>
                    <td>
                       Swachh Bharat Cess
                    </td>
                    <td>0.5%
                    	<!--<input class="eq-input-text-box eq-table-input-box" type="number" name="Quantity" ng-model="swachh.rate" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-box" type="number" name="Unit" ng-model="swachh.amount" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Krishi Kalyan Cess
                    </td>
                    <td>0.5%
                    	<!--<input class="eq-input-text-box eq-table-input-box" type="number" name="Quantity" ng-model="krishi.rate" />-->
                    </td>
                    <td>
                    	<input class="eq-input-text-box eq-table-input-box" type="number" name="Unit" ng-model="krishi.amount" />
                    </td>
                </tr>
                 <tr>
                    <td></td>
                     <td><b>Total</b></td>
                     <td>{{tax_total=vat.amount+swachh.amount+krishi.amount}}</td>
                    
                </tr>
            </table>
            <div><b>Total Amount:</b> {{amount=material_total+tax_total}}</div>
        </div>
        
 </div>
        <div class="row">
        <div class="col-lg-6 col-md-6">
            <label for="attribute_name" class="eq-field-label eq-medium-top-margin-offset"> Advanced Paid:</label>
            <input class="eq-input-text-box eq-table-input-box" type="number" name="Price/Unit" ng-model="advance.amount" />
        </div>
        <div class="col-lg-6 col-md-6">
            <label for="attribute_name" class="eq-field-label eq-small-top-margin-offset"> Amount Paid Now:</label>
            <input class="eq-input-text-box eq-table-input-box" type="number" name="Price/Unit" ng-model="paid_amount" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <label for="attribute_name" class="eq-field-label eq-medium-top-margin-offset"> Balance to Be Paid:</label>
            {{Balance=amount-(advance.amount+paid_amount)}}
        </div>
    </div>
</div>
