<div class="eq-screen-header eq_bg_accent">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			Current Stock Summary 
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<span class="pull-right">
				<button class="btn btn-default eq-glyph-btn"><i class="fa fa-check"></i></button>
				<button class="btn btn-dafault eq-glyph-btn novalidate" ng-click="goBack()"><i class="fa fa-times"></i></button>
			</span>
		</div>
	</div>
</div>
<div class="eq-content-container">
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<label class="eq-field-label">Storage Location:</label>
			<select class="form-control eq-input-text-box" ng-model="storage_location" >
                <option value="Shop Rampur">Shop Rampur</option>
                <option value="Shop Mirpur">Shop Mirpur</option>
                <option value="Warehouse">Warehouse</option>
            </select>
		</div>
		</div>
		
		<div class="row" ng-if="storage_location">
          <div class="col-lg-6 col-md-6">      
        <label class="eq-field-label eq-medium-top-margin-offset">Material/Products Purchased:</label>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        SKU
                    </th>
                    <th class="eq-field-label">
                        Qty
                    </th>
                    <th class="eq-field-label">
                        Unit
                    </th>
                    <th class="eq-field-label">
                        Price/Unit
                    </th>
                    <th class="eq-field-label">
                        Price
                    </th>
                </tr>
                               <tr>
                 <td>
                        <a ng-click="skuStockDetails()">AgrOrganix Organic Soil Nutrient, 20Kg Pack</a>
                    </td>
                    <td>40
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="org.quantity" ng-init="org.quantity=0" />-->
                    </td>
                    <td>Kg
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="org.unit" ng-init="0" />-->
                    </td>
                     <td>675
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="org.price" ng-init="org.price=0" />-->
                    </td>
                     <td ng-init="0">27,000
                         <!--{{org_total=org.quantity*org.price}}-->
                    </td>
                </tr>
               <tr>
                    <td>
                        <a ng-click="skuStockDetails()">ABC Seeds</a>
                    </td>
                    <td>25,000
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="seed.quantity" ng-init="seed.quantity=0" />-->
                    </td>
                    <td>Kg
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="seed.unit" />-->
                    </td>
                     <td>7
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="seed.price" ng-init="seed.price=0"/>-->
                    </td>
                     <td ng-init="0">
                    	17,500<!--{{seed_total=seed.quantity*seed.price}}-->
                    </td>
                </tr>
                <tr>
                    <td>
                        <a ng-click="skuStockDetails()">XYZ Pesticide</a>
                    </td>
                    <td>50
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="pesticide.quantity" ng-init="pesticide.quantity=0" />-->
                    </td>
                    <td>Ltr
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="pesticide.unit" />-->
                    </td>
                     <td>160
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit" ng-model="pesticide.price" ng-init="pesticide.price=0" />-->
                    </td>
                     <td ng-init="0">8,000
                         <!--{{pesticide_total=pesticide.quantity*pesticide.price}}-->
                    </td>
                </tr>
                 <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                     <td><b>Total</b></td>
                     <td ng-init="0" >53,000
                         <!--{{material_total=org_total+seed_total+pesticide_total}} -->
                         </td>
                </tr>
            </table>
          </div>
          </div>
	
</div>