<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            New Material Attribute
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="eq-guiding-text">Create new Attribute, to be later associated with Categories.</div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="attribute_name" class="eq-field-label">Attribute Name:</label>
            <input type="text" name="attribute_name" id="attribute_name" class="form-control eq-input-text-box" placeholder="" />
        </div>
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="attribute_description" class="eq-field-label">Attribute Description:</label>
            <input type="text" name="attribute_description" id="attribute_description" class="form-control eq-input-text-box" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 eq-col-bottom-margin-offset">
            <label for="category_name" class="eq-field-label">Attribute Value changes for each FPO:</label>
            <input type="checkbox" class="eq-input-text-box" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="category_name" class="eq-field-label">Attribute Value Type:</label>
            <div><input type="radio" ng-model="anyone" value="text"> Text</div>
            <div><input type="radio" ng-model="anyone"   value="number"> Number</div>
            <div><input type="radio" ng-model="anyone"  value="yes-No"> Yes-No</div>
            <div><input type="radio" ng-model="anyone"  value="numeric"> Numeric Range</div>
            <div><input type="radio" ng-model="anyone"   value="valid"> Valid-Values</div>
               
        </div>
    </div>
    <div class="row">
   <div class="col-lg-6 col-md-6" ng-show="isShown('numeric')">
        <label for="attribute_description" class="eq-field-label">Valid Range:</label>
            <input type="text" name="attribute_name" id="attribute_name" class="form-control eq-input-text-box" placeholder="please enter in format nnn-nnn" />
        <div class="eq-guiding-text">please enter in format nnn-nnn</div>
        </div>
    <div class="col-lg-6 col-md-6" ng-show="isShown('valid')">
            <label for="attribute_description" class="eq-field-label">Valid Values:</label>
            <input type="text" name="attribute_description" id="attribute_description" class="form-control eq-input-text-box" placeholder="please enter a comma separated list" />
        <div class="eq-guiding-text">please enter a comma separated list</div>
        </div>
    </div>
    </div>
</div>
