<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div>New Material Category</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="eq-guiding-text">Create new Category or Subcategory for material under</div>
    <div><a href="">Fertilizers</a> >> <a href="">Multi Nutrients</a> >> <a href="">NPK Fertilizers</a></div>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="category_name" class="eq-field-label">Category Name:</label>
    		<input type="text" name="category_name" id="category_name" class="form-control eq-input-text-box" placeholder="" />
        </div>
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="category_description" class="eq-field-label">Category Description:</label>
    		<input type="text" name="category_description" id="category_description" class="form-control eq-input-text-box" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <label for="category_name" class="eq-field-label">Applicable Attributes</label>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="category_name" class="eq-field-label">From Parent Categories:</label>
            <p> Brand, Organic, Liquid, Unit, Perishable, Usage per Acre, Suggested Sale Price/Unit, Packing Type</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-md-6 eq-col-bottom-margin-offset">
            <label for="select_farmer" class="eq-field-label">Attributes Applicable for This Category:</label>
             <div  style = " overflow-y:visible;" ng-dropdown-multiselect="" options="material_attributeData" selected-model="materialAttiributeModel" extra-settings="customSettings">
             
        </div>
        <div class="eq-guiding-text">=NPK Rating, Nitrogen, Phosphorous, Potassium</div>
    </div>
</div>
