<div class="eq-screen-header eq_bg_accent">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			Stock Details for ABC Seeds 
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<span class="pull-right">
				<button class="btn btn-default eq-glyph-btn"><i class="fa fa-check"></i></button>
				<button class="btn btn-dafault eq-glyph-btn novalidate" ng-click="goBack()"><i class="fa fa-times"></i></button>
			</span>
		</div>
	</div>
</div>
<div class="eq-content-container">
		<div class="row">
          <div class="col-lg-6 col-md-6">      
        <label class="eq-field-label eq-medium-top-margin-offset">Material/Products Purchased:</label>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="eq-field-label">
                        SKU
                    </th>
                    <th class="eq-field-label">
                        Qty in Kg
                    </th>
                    <th class="eq-field-label">
                       Sell By Date
                    </th>
                    <th class="eq-field-label">
                        Location
                    </th>
                </tr>
                <tr>
                    <td>
                       ABC Seeds, 20kg Pack
                    </td>
                    <td>500
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="quantity1" />-->
                    </td>
                    <td>12-Mar-2017
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="record.unit" />-->
                    </td>
                     <td>Warehouse1
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit"  />-->
                    </td>
                </tr>
               <tr>
                    <td>
                        ABC Seeds, 5kg Pack
                    </td>
                    <td>400
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="quantity2" />-->
                    </td>
                    <td>12-Mar-2017
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="record.unit" />-->
                    </td>
                     <td>Warehouse1
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit"/>-->
                    </td>
                </tr>
                <tr>
                    <td>
                        ABC Seeds, 1kg pack
                    </td>
                    <td>200
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Quantity" ng-model="quantity3" />-->
                    </td>
                    <td>12-Mar-2017
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Unit" ng-model="record.unit" />-->
                    </td>
                     <td>Shop
                    	<!--<input class="eq-input-text-box eq-table-input-text-box" type="number" name="Price/Unit"/>-->
                    </td>
                </tr>
                 <tr>
                    <td><b>Total</b></td>
                     <td>1,100
                         <!--{{quantity1+quantity2+quantity3}}-->
                         </td>
                    <td></td>
                    <td></td>
                     
                </tr>
            </table>
          </div>
          </div>
	
</div>