<div class="eq-content-container">
<div class="row eq-row-bottom-margin-offset">
<div class="col-sm-6">
      <label class="eq-field-label">Select State: </label>
        <div class="eq-multiselect-dropdown" ng-dropdown-multiselect=""
        options="states" selected-model="selected_states" extra-settings="customStateSettings"
        events="state_list">
        </div>
    </div>
</div>
<label class="eq-field-label">Select District: </label>
<div class="row eq-row-bottom-margin-offset">
    <div class="col-sm-6">
         <div class="eq-multiselect-dropdown" ng-dropdown-multiselect=""
         options="districts" selected-model="selected_districts" extra-settings="customDistrictSettings"
         events="district_list">
        </div>
    </div>
</div>
<label class="eq-field-label">Select Villages: </label>
<div class="row eq-row-bottom-margin-offset">
    <div class="col-sm-6">
         <div class="eq-multiselect-dropdown" ng-dropdown-multiselect=""
         options="villages" selected-model="selected_villages"
         extra-settings="customVillageSettings" events="village_list">
        </div>
    </div>
</div>
</div>
