<div>
    <form name="cluster_detail" ng-submit="submitForm(cluster_detail.$valid)">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div>{{screen_title_name}}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <span class="pull-right">
                        <button class="btn btn-default eq-glyph-btn" ng-click="add_cluster()">
                            <i class="eq-fa fa fa-check"></i>
                        </button>
                        <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                            <i class="eq-fa fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div class="row eq-row-bottom-margin-offset">
                <div class="col-sm-6">
                  <label class="eq-field-label">Cluster Name: *</label>
                    <input type="text" class="form-control eq-input-text-box" placeholder="Cluster Name *:"  ng-model="cluster_detail.name" required/>
                </div>
            </div>
       <div ng-include="'/fpoApp/views/fpocluster/add-villages-template.html'"></div>
      </div>
    </form>
</div>
