<div ng-controller = "areaModalCtrl">
<div class="modal-header">
    <h4 class="modal-title">  Area Association  </h4>
</div>
<div class="modal-body">
  <div class="eq-content-container">
  <div class="row eq-row-bottom-margin-offset">
  <div class="col-sm-6">
        <label class="eq-field-label">Select State: </label>
          <div class="eq-multiselect-dropdown" ng-dropdown-multiselect=""
          options="states" selected-model="selected_states" extra-settings="customStateSettings"
          events="state_list">
          </div>
      </div>
  </div>
  <label class="eq-field-label">Select District: </label>
  <div class="row eq-row-bottom-margin-offset">
      <div class="col-sm-6">
           <div class="eq-multiselect-dropdown" ng-dropdown-multiselect=""
           options="districts" selected-model="selected_districts" extra-settings="customDistrictSettings"
           events="district_list">
          </div>
      </div>
  </div>
  <label class="eq-field-label">Select Villages: </label>
  <div class="row eq-row-bottom-margin-offset">
      <div class="col-sm-6">
           <div class="eq-multiselect-dropdown" ng-dropdown-multiselect=""
           options="villages" selected-model="selected_villages"
           extra-settings="customVillageSettings" events="village_list">
          </div>
      </div>
  </div>
  </div>
</div>
<div class="modal-footer eq-otp-modal-footer">
    <section class="panel">
        <button type="button" class="btn btn-primary eq-text-btn"  ng-click="cancel()"> Cancel </button>
        <button type="button" class="btn btn-primary eq-text-btn"  ng-click="completeModal()"> Accept </button>
    </section>
    <!-- <a class="eq-link" style="margin: 10px 5px 0 0;"  ng-click='resendOtp(data)'> Resend OTP </a> &nbsp;
    <a class="eq-link" style="margin: 10px 5px 0 0;" ng-click='changeMobile(data)'> Change Mobile </a> -->
</div>
