<div ui-view>
    <div class="eq-screen-header eq_bg_accent row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {{fpoName}} {{$state.current.data.screen_title}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <span class="pull-right">
            <button class="btn btn-default eq-glyph-btn" ng-click="goBack()"><i class="fa fa-times"></i></button>
          </span>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-4" align="right">
    <i class="eq-fa fa fa-home fa-5x element-icon"></i>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-8">
    <div class="short_desc_more">
        <div>
          <span class="eq-field-label">Name:</span> {{cluster_detail.clusterName}}
        </div>
        <div>
          <span class="eq-field-label">Number of Member Villages:</span>
          {{cluster_detail.cluster_villages.length}}
        </div>

    </div>
  </div>
</div>
<div class="eq-content-container">
  <div class="row eq-screen-sub-header">
            List of Villages
      <div class="pull-right">
          <button class="btn btn-default eq-glyph-btn"
              ui-sref="fpoClusterAddVillages({clusterId : cluster_detail.clusterId })">
              <i class="eq-fa fa fa-pencil"></i></button>
      </div>
  </div>



      <div class="list-group eq-list-group" ng-repeat="item in cluster_detail.cluster_villages">
          <a ng-click="" class="list-group-item eq-list-group-item">
              <p class="list-group-item-text eq-list-item-header">{{item.village}}, {{item.district}}</p>
              <p class="list-group-item-text eq-list-item">State - {{item.state}}</p>
          </a>
      </div>
  </div>
