<div>
    <form name="cluster_update" ng-submit="submitForm(cluster_update.$valid)">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div>{{$state.current.data.screen_title}}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <span class="pull-right">
                        <button class="btn btn-default eq-glyph-btn" ng-click="update_cluster(village_ids)">
                            <i class="eq-fa fa fa-check"></i>
                        </button>
                        <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                            <i class="eq-fa fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

       <div ng-include="'/fpoApp/views/fpocluster/add-villages-template.html'"></div>

    </form>
</div>
