<div class="navbar navbar-default navbar-responsive eq-navbar-default eq-navbar">
    <div class="container">
        <ul class="nav navbar-nav eq-navbar-nav">
            <li>
                <a ng-click="feedback()">
                    Help & Feedback
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    {{info}}<i class="fa fa-copyright"></i> 2016
                </a>
            </li>
        </ul>
    </div>
</div>