<div>
    <nav class="navbar navbar-default eq-navbar-default eq-navbar" role="navigation">
        <div class="container-fluid eq_bg_accent">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" id="eq-navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <!-- <span class="fa fa-bars" id="eq-toggle-menu"></span> -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand eq-navbar-brand" href="/fpoHome">RunMyFPO</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav eq-navbar-nav">
                    <!-- when isNotActive return false, then home link will active -->
                    <li ng-if="!isNotActive()"><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="fpoHome">FPO Home</a></li>
                    <!-- when isNotActive return true, then home link will not active -->
                     <li ng-if="isNotActive()" class="eq-link-disable"><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="fpoHome">FPO Home</a></li>

                     <!-- when isNotActive return false, then fpo shop link will active -->
                    <li ng-if="!isNotActive()"><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="shop-dashboard">FPO Shop</a></li>
                    <!-- when isNotActive return true, then home link will not active -->
                     <li ng-if="isNotActive()" class="eq-link-disable"><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="shop-dashboard">FPO Shop</a></li>

                     <!-- when isNotActive return false, then Change FPO link will active -->
                    <li ng-if="!isNotActive()"><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="fpoSelect">Change FPO</a></li>
                     <!-- when isNotActive return false, then Change FPO link will active -->
                    <li ng-if="isNotActive()" class="eq-link-disable"><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="fpoSelect">Change FPO</a></li>


                    <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="fpoCreate">Create FPO</a></li>
              <!--      <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/fpoGroupCreate/{{'None'}}">Create FPO Group</a></li> -->
                    <!-- this is active link when ng-if condition will false -->
                    <li ng-if="!isNotActive()"><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="userList">User Management</a></li>
                    <!-- this is active link when ng-if condition will true -->

                    <li ng-if="isNotActive()" class="eq-link-disable"><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="userList">User Management</a></li>
                    <li><a  data-toggle="collapse" data-target=".navbar-collapse" ng-click="feedback()">Help & Feedback</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i>Search</a>
                        <ul class="dropdown-menu eq-dropdown-menu">
                            <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="searchFarmer">Farmers</a></li>
                            <li ><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="searchEvent">Trainings</a></li>
                            <li><a class="eq-link-disable" data-toggle="collapse" data-target=".navbar-collapse" href="#">FPOs</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{userName}}</a>
                        <ul class="dropdown-menu eq-dropdown-menu">
                            <li ng-if="!isNotActive()">
                                <a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="update-user-profile({user:userId})">
                                    My Profile
                                </a>
                            </li>
                            <li ng-if="isNotActive()" class="disabled">
                                <a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="update-user-profile({user:userId})">
                                    My Profile
                                </a>
                            </li>
                            <li ng-controller="loginCtrl">
                                <a data-toggle="collapse" data-target=".navbar-collapse" ng-click="logout()">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>
