<div>
    <div class="eq-screen-header eq_bg_accent">
        <div class="row">
                <div id='screen_title' class="col-md-8 col-sm-8 col-xs-8">
        {{$state.current.data.screen_title}} {{headerText}}</div>
        <div class="col-md-4 col-sm-4 col-xs-4">
        <button class="btn btn-default eq-glyph-btn  pull-right" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
    </div>
        </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-offset-4 col-lg-offset-4 col-sm-offset-2 col-xs-offset-2">
        <img ng-if='!fileUrl && !thumbnail.dataUrl' class='profilePicMedium ' />
        <img ng-if='fileUrl && !thumbnail.dataUrl' id='imageThumbnail' class='profilePicMedium ' ng-src="{{ fileUrl}}" />
        <img ng-if='thumbnail.dataUrl' id='imageThumbnail' class='profilePicMedium ' ng-src="{{ thumbnail.dataUrl }}" />
        <br>

        <!-- Implementation for the Save and remove the file -->
        <div>
            <span class="file-input btn btn-primary btn-file" style="margin-top: 10px ">
                 Browse &hellip; <input type="file" id='uploadedFile' name="file" onchange="angular.element(this).scope().photoChanged(this.files)" accept='image/*;capture=camera' />
            </span>
            <br>
            <span ng-if='thumbnail.dataUrl || fileUrl || showSaveButton'>
            
                <button class="add-photo-btn-save" ng-click="saveFile()" >
                    Save
                </button>

                <button class="add-photo-btn-remove" ng-click="removeFile()">
                      Remove 
                </button>
        </span>
        </div>
    </div>
</div>
