<div>
	<form>
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                   <div>{{$state.current.data.screen_title}}</div>
                </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
                <span class="pull-right">
                <button type="submit" class="btn btn-default eq-glyph-btn " ng-click="submitKyc()">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button type="button" class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
                </span>
                 </div>
               </div>
            </div>
        <div>
            <div class="col-sm-6">
			<label for="doc_type" class="eq-field-label eq-medium-top-margin-offset">Document Type *</label>
			<select class="form-control eq-input-text-box eq-row-bottom-margin-offset " name="Doc_Type" id="doc_type" ng-model="kyc.doc_type">
				<option value="">Document Type *</option>
				<option ng-repeat="doc_type in kyc_doc_types" value="{{ doc_type.code }}"> {{ doc_type.name }} </option>
            </select>
            </div>

            <div class="col-sm-6">
			<label for="doc_no" class="eq-field-label"> Document Number</label>
			<input type="text" allowPattern ="^[a-zA-Z0-9]+$" class="form-control eq-input-text-box " id="doc_no" placeholder="Document Number *"  data-ng-model="kyc.doc_no" required  uppercased/><br/>
		</div>
		</div>


	</form>
</div>
