<div>
 <div class="eq-screen-header eq_bg_accent">
	   <div>{{$state.current.data.screen_title}}
     <div class="pull-right">
      <button class="btn btn-default eq-glyph-btn" ng-click="add_new_kyc_doc()"><i class="eq-fa fa fa-plus"></i></button>
     </div>
    </div>
 </div>
	<div class="eq-content-container">
	 <ul class="list-group eq-list-group" ng-repeat="doc in kycDoc">
		 <div class="card">
			 <li class="list-group-item eq-list-group-item">
				 <div class="row">
					 <div class="col-sm-6 col-md-6 col-xs-6">
						 <p class="list-group-item-text eq-list-item-header">{{doc.doc_type}}</p>
						 <p class="list-group-item-text">{{doc.doc_no}}</p>
					 </div>
					 <div class="col-sm-6 col-md-6 col-xs-6">
						 <a ui-sref="update-kyc" ui-sref-opts="({doc.id,doc.doc_type,doc.doc_no})" class="btn btn-primary">
							 <span class="fa fa-pencil"></span>
       </a>
						 <button class="btn btn-danger"><span class="fa fa-trash"></span></button>
						</div>
				 </div>
			 </li>
		 </div>
	 </ul>
	</div>
</div>
