<div>
    <form name="event_detail" ng-submit="submitForm(event_detail.$valid)">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div>{{screen_title_name}}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <span class="pull-right">
                        <button class="btn btn-default eq-glyph-btn" ng-click="submitEvent()">
                            <i class="eq-fa fa fa-check"></i>
                        </button>
                        <button class="btn btn-default eq-glyph-btn novalidate" ng-click="goBack()">
                            <i class="eq-fa fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div class="row eq-row-bottom-margin-offset">
                <div class="col-sm-6 form-inline" ng-if="event_type_name == 'Training'">
                    <label class="radio-inline">
                        <input type="radio" name="type" ng-model="event.subtype" ng-value='CLASS'/>
                                Classroom
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" ng-model="event.subtype" ng-value='VISIT' />
                                Exposure visit
                    </label>
                </div>
                <div class="col-sm-6">
                  <label class="eq-field-label">Event Name: *</label>
                    <input type="text" class="form-control eq-input-text-box" placeholder="Event Name *"  data-ng-model="event.name" required/>
                </div>
            </div>
            <label class="eq-field-label">Event Description:</label>
            <div class="row eq-row-bottom-margin-offset">
                <div class="col-sm-6">
                    <input type="text" class="form-control eq-input-text-box" placeholder="Event Description"  data-ng-model="event.description"/>
                </div>
                <div class="col-sm-6 form-inline">
                    <label for="start_date" class="eq-field-label">Start Date: *</label>
                    <input type="date" class="form-control eq-input-text-box " data-ng-model="start_date" min="{{minDate | date: 'yyyy-MM-dd'}}" required/>
                </div>
            </div>
            <div class="row eq-row-bottom-margin-offset">
                <div class="col-sm-6 form-inline">
                    <label for="start_time" class="eq-field-label">Start Time: *</label>
                    <input type="time" id="start_time" class="form-control eq-input-text-box" data-ng-model="start_time" required/>
                </div>
                <div class="col-sm-6 form-inline">
                    <label for="end_time" class="eq-field-label">End Time: *</label>
                    <input type="time" id="end_time" class="form-control eq-input-text-box" data-ng-model="end_time" required/>
                </div>
            </div>
            <label class="eq-field-label">Contact Person: *</label>
            <div class="row eq-row-bottom-margin-offset">
                <div class="col-sm-6">
                    <select class="form-control eq-input-text-box" ng-options="contact_person.personId as contact_person.personName for contact_person in contact_persons" data-ng-model="event.contact_person" ng-required="true">
                        <option value="">Select Contact Person</option>
                    </select>
                </div>

                <div class="col-sm-6">
                  <label class="eq-field-label">Agenda: </label>
                   <input type="text" class="form-control eq-input-text-box" placeholder="Agenda" data-ng-model="event.agenda" maxlength="200" />
                </div>
            </div>
            <label class="eq-field-label">Note: </label>
            <div class="row eq-row-bottom-margin-offset">
                <div class="col-sm-6">
                     <input type="text" class="form-control eq-input-text-box" placeholder="Note" data-ng-model="event.notes" maxlength="200" />
                </div>

                <div class="col-sm-6">
                  <label class="eq-field-label">Invite Farmers: </label>
                    <div class="eq-multiselect-dropdown" ng-dropdown-multiselect="" options="farmers" selected-model="selected_farmer" extra-settings="customSettings">
                    </div>
                </div>
            </div>
            <label class="eq-field-label">Invite Farmer Groups: </label>
            <div class="row eq-row-bottom-margin-offset">
                <div class="col-sm-6">
                     <div class="eq-multiselect-dropdown" ng-dropdown-multiselect="" options="groups" selected-model="selected_groups" extra-settings="customGroupSettings">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
