<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div >{{fpoName}} {{$state.current.data.screen_title}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        </div>
    </div>
</div>

<div class="eq-content-container">
    <p class="eq-guiding-text">Upcoming Events</p>
    <div class="row">
        
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-right">
            <i class="eq-fa fa fa-user fa-5x element-icon"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
            
            <address class="short_desc_more">
    <div class="list-group eq-list-group" ng-repeat="upcoming_event in upcoming_events.upcoming_events">
        <a ui-sref="eventDetails({eventId:upcoming_event.id})" class="list-group-item eq-list-group-item">
            <p class="list-group-item-text eq-list-item-header">{{ upcoming_event.name}}, {{ upcoming_event.start_date_time | date: 'dd-MM-yyyy'}}</p>
            <p class="list-group-item-text"><abbr class="eq-field-label">Location:</abbr> {{upcoming_event.shortAddress}}</p>
            <p class="list-group-item-text"><abbr class="eq-field-label">Invited:</abbr> {{ upcoming_event.invited}}</p>
            <p class="list-group-item-text"><abbr class="eq-field-label">Attended:</abbr> {{ upcoming_event.attended}}</p>
        </a>
    </div>
</div>
            </address>
    </div>
</div>
<uib-accordion close-others="true">
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span ng-click="getEvents('TRAINING')">Trainings <i class='fa fa-caret-down'></i></span>
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn " ng-click="eventCreate('TRAINING')">
                    <i class="eq-fa fa fa-plus"></i>
                </button>
                <button  class="btn btn-default  btn eq-glyph-btn " ng-click="removeSelectedItems()"><i class="eq-fa fa fa-search"></i>
                </button>
            </span>
        </uib-accordion-heading>
        <div class="list-group eq-list-group" ng-repeat="event_training in events">
            <a ui-sref="eventDetails({eventId:event_training.id})" class="list-group-item eq-list-group-item" ng-click="">
            <p class="list-group-item-text eq-list-item-header">{{ event_training.name}}, {{ event_training.start_date_time | date: 'dd-MM-yyyy'}}</p>
            <p class="list-group-item-text"><abbr class="eq-field-label">Location:</abbr> {{event_training.shortAddress}}</p>
            <p class="list-group-item-text"><abbr class="eq-field-label">Invited:</abbr> {{ event_training.invited}}</p>
             <p class="list-group-item-text"><abbr class="eq-field-label">Attended:</abbr> {{ event_training.attended}}</p>
            </a>
        </div>
    </uib-accordion-group>
    <uib-accordion-group class="eq-accordion" >
        <uib-accordion-heading>
            <span ng-click="getEvents('MEETING')">Meetings <i class='fa fa-caret-down'></i></span>
            <span class="pull-right" >
                <button class="btn btn-default eq-glyph-btn " ng-click="eventCreate('MEETING')">
                    <i class="eq-fa fa fa-plus"></i>
                </button>
                <button  class="btn btn-default  btn eq-glyph-btn " ng-click="removeSelectedItems()"><i class="eq-fa fa fa-search"></i>
                </button>
            </span>
        </uib-accordion-heading>
        <div class="list-group eq-list-group" ng-repeat="event_meeting in events">
            <a ui-sref="eventDetails({eventId:event_meeting.id})" class="list-group-item eq-list-group-item">
                <p class="list-group-item-text eq-list-item-header">{{ event_meeting.name}}, {{ event_meeting.start_date_time | date: 'dd-MM-yyyy'}}</p>
                <p class="list-group-item-text"><abbr class="eq-field-label">Location:</abbr> {{event_meeting.shortAddress}}</p>
                <p class="list-group-item-text"><abbr class="eq-field-label">Invited:</abbr> {{ event_meeting.invited}}</p>
                 <p class="list-group-item-text"><abbr class="eq-field-label">Attended:</abbr> {{ event_meeting.attended}}</p>
            </a>
        </div>
    </uib-accordion-group>
</uib-accordion>
