<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {{screen_title}} {{$state.current.data.screen_title}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <span class="pull-right">
				<button class="btn btn-default eq-glyph-btn" ng-click="inviteForEvent()">
					<i class="fa fa-check"></i>
				</button>
				<button class="btn btn-default eq-glyph-btn" ng-click="goBack()">
					<i class="fa fa-times"></i>
				</button>
			</span>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="eq-multiselect-dropdown" style=" overflow-y:visible;" ng-dropdown-multiselect="" options="list" selected-model="selected" extra-settings="customListSettings" translation-texts="customButtomText">
    </div>
</div>
