<div class="eq-screen-header eq_bg_accent">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			Track Attendance
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			
		</div>
	</div>	
</div>
<div>
	<div class="eq-content-container" align="center">
		<div>
			<label class="radio-inline">
                <input type="radio" name="type" ng-model="event" ng-value='"ATTENDED"'/>
                Attended
            </label>
            <label class="radio-inline">
            	<input type="radio" name="type" ng-model="event" ng-value='"ABSENT"' />
                Absent
            </label>
		</div>
		<button class="btn btn-primary" ng-click="applySelected()">Apply to selected</button>
	</div>
	<div ng-dropdown-multiselect="" options="farmers" selected-model="selected_farmers" extra-settings="customSettings" translation-texts="customDropdownTexts"></div>
</div>
