<div ng-if="eventDetails">
	<div class="eq-screen-header eq_bg_accent row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		{{eventDetails.name +" "+eventDetails.type.name}} - Update
	</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

			<div class="pull-right">
    			<button class="btn btn-default eq-glyph-btn" ng-click="openUpdateScreen()"><i class="eq-fa fa fa-pencil"></i></button>
    			<button class="btn btn-default eq-glyph-btn not-active"><i class="eq-fa fa fa-trash"></i></button>
            </div>
        </div>
	</div>
	<div class="row eq-content-container">
		<div class="col-md-4 col-sm-4 col-xs-4" align="right">
			<i class="eq-fa fa fa-flag fa-5x element-icon"></i>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8 short_desc_more">
            <div> {{eventDetails.name}}</div>
            <div> {{eventDetails.description}}</div>
			<div> {{eventDetails.type.name}}</div>
			<div> {{eventDetails.status.name}}</div>
            <div> 
                <span ng-if="eventDetails.start_date_time">
                    {{eventDetails.start_date_time  | date: 'dd-MM-yyyy'}}, {{eventDetails.start_date_time | date:'h:mm a'}} - 
                </span>
                <span ng-if="eventDetails.end_date_time ">
                    {{eventDetails.end_date_time | date:'h:mm a'}}
                </span>
            </div>
			<div ng-if="eventDetails.contact">
                <span class="eq-field-label">Contact Person:</span>
                <span ng-if="eventDetails.contact">{{eventDetails.contact.name}},</span>
                <span ng-if="eventDetails.contact">{{eventDetails.contact.phone}}</span>
            </div>
			<div ng-if="eventDetails.agenda">
                <span class="eq-field-label">Agenda:</span> 
                <span>{{eventDetails.agenda}}</span>
            </div>
            <div ng-if="eventDetails.notes">
                <span class="eq-field-label">Notes:</span> 
                <span>{{eventDetails.notes}}</span>
            </div>
            <div ng-if="eventDetails.mom">
                <span class="eq-field-label">MoM:</span>
                <span>{{eventDetails.mom}}</span>
            </div>
		</div>
	</div>
    <div class="row" ng-if="eventDetails.location">
        <div class="col-md-4 col-sm-4 col-xs-4" align="right">
            <i class="eq-fa fa fa-map-marker fa-5x element-icon"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div ng-include="'/fpoApp/views/address/address_template.html'"></div>      
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div class="btn-group btn-group-xs text-center">
                <button class="btn btn-primary " ng-click="goToTrackAttendance()">Track Attendance</button>

                <button class="btn btn-primary " ng-click="updateAddress()" ng-if="eventDetails.location">Update Address</button>
  
                <button class="btn btn-primary " ng-click="goAddress()" ng-if="!eventDetails.location">Add Address</button>
  
            </div>
        </div>
    </div>
    <br/>
<uib-accordion close-others="true">
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span ng-click="">Group Invited <i class='fa fa-caret-down'></i></span>
            <span class="pull-right">
                <a ng-click="goToInvite('groups')" class="btn btn-default eq-glyph-btn">
                    <i class="eq-fa fa fa-plus"></i>
                </a>
            </span>
        </uib-accordion-heading>
        <div class="list-group eq-list-group" ng-repeat="participant_group in eventDetails.participant_groups">
            <a ui-sref="fpoGroupDetails({fpogroupId:participant_group.id})" class="list-group-item eq-list-group-item" ng-click="">
                <p class="list-group-item-text eq-list-item-header"><span>{{ participant_group.name}}</span><span ng-if="participant_group.type">, {{ participant_group.type.name}}</span></p>
                <p class="list-group-item-text"><span class="eq-field-label">Admin:</span> {{participant_group.admin_name}}</p>
            </a>
        </div>
    </uib-accordion-group>
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span ng-click="">Farmers Invited <i class='fa fa-caret-down'></i></span>
            <span class="pull-right">                    
                <a ng-click="goToInvite('farmers')" class="btn btn-default eq-glyph-btn ">
                    <i class="eq-fa fa fa-plus"></i>
                </a>
            </span>
        </uib-accordion-heading>
        <div class="list-group eq-list-group" ng-repeat="participant_person in eventDetails.participant_persons">
            <a ui-sref="farmerDetails({farmerId:participant_person.id})" class="list-group-item eq-list-group-item">
                <p class="list-group-item-text eq-list-item-header">
                {{ participant_person.fullame}}
                </p>
                <p class="list-group-item-text"><span class="eq-field-label">Phone:</span>   {{participant_person.phone}}
                </p>
            </a>
        </div>
    </uib-accordion-group>
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span ng-click="getAssociatedMedia()">Associated Media <i class='fa fa-caret-down'></i></span>
            <span class="pull-right">             
                <a ng-click="addAssociatedMedia()" class="btn btn-default eq-glyph-btn ">
                    <i class="eq-fa fa fa-plus"></i>
                </a>
            </span>
        </uib-accordion-heading>
        <span ng-repeat='media in  associatMedia'>
            <span ng-if="media.type == 'image'" >
                <img class="eq-media-thumb" ng-src="{{trustSrc(media.url)}}">
            </span>
            <span ng-if="media.type == 'video'">
                <video class="eq-media-thumb" src="{{trustSrc(media.url)}}" type="video/*" controls>
                    Your browser does not support the video tag.
                </video>
            </span>
            <span ng-if="media.type == 'application'">
                <iframe class="eq-media-thumb" ng-src="{{trustSrc(media.url)}}" frameborder="0">
                    Your browser does not support the application tag.
                </iframe>
            </span>
        </span>
    </uib-accordion-group>
</uib-accordion>