<div>
    <input class="fileinput fileinput-new" data-provides="fileinput" type="file" name="file" onchange="angular.element(this).scope().photoChanged(this.files)" accept='image/*' />
    
    <img class="eq-media-thumb" id='imageThumbnail' ng-src="{{ thumbnail.dataUrl }}" />
    
    <a class="btn red fileinput-exists" data-dismiss="fileinput" ng-click="removeFeaturedImage()">
      Remove 
    </a>

</div>
