<div id="searchTop">
    <div ng-if='showSearchBar'>
        <form name="event_search">
            <div class="eq-screen-header eq_bg_accent" ng-if='true'>
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <div>Search Event</div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="pull-right">
                            <button class="btn btn-default eq-glyph-btn " ng-click="searchEvent(event)">
                                <i class="eq-fa fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eq-content-container">
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="village" class="eq-field-label">Event Name</label>
                        <input type="text" class="form-control eq-input-text-box " id="name" placeholder="Event Name" data-ng-model="event.name" />
                    </div>
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="village" class="eq-field-label">Event Type</label>
                        <select class="form-control eq-input-text-box " id="eventType" ng-options='type.code as type.name for type in eventTypes' ng-change=initEventSubType() ng-model="event.type">
                            <option value="">Event Type </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label for="village" class="eq-field-label">Event Sub-Type </label>
                        <select class="form-control eq-input-text-box " id="eventSubType" ng-options='type.code as type.name for type in eventSubtypes' data-ng-model="event.subType">
                            <option value="">Event Sub-Type </option>
                        </select>
                    </div>
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label for="village" class="eq-field-label">Event Start Date</label>
                        <input type="date" class="form-control eq-input-text-box " id="eventStartDate" placeholder="YYYY-MM-DD" ng-model="event.startDate" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label for="village"class="eq-field-label">Event Village</label>
                        <input type="input" class="form-control eq-input-text-box" id="eventVillage" placeholder="village" data-ng-model="event.village" />
                    </div>
                    <div class="col-sm-6 eq-col-bottom-margin-offset">
                        <label for="District" class="eq-field-label">Event District</label>
                        <input type="input" class="form-control eq-input-text-box" id="eventDistrict" placeholder="District" data-ng-model="event.district" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="eq-content-container" ng-if='!showSearchBar'>
        <div ng-if="eventsData.length == 0 ">
            <h5 align="center"> Sorry no result found !!!</h5>
        </div>
        <div ng-if="eventsData.length > 0 ">
            <h5 align="center"> {{eventsData.length}} result(s) are found</h5>
        </div>
        <div ng-if='eventsData.length > 4'>
            <h5 align="center"><a ng-click="searchAgain() ">Click here to Search again! </a></h5>
        </div>
        <div class="list-group eq-list-group col-sm-6 col-md-6 col-xs-12" ng-repeat="event in eventsData">
            <a href="" class="list-group-item eq-list-group-item col-sm-11 col-md-11 col-xs-11" ng-click="selectEvent(event)">
                <p class="list-group-item-text eq-list-item-header">{{ event.name }}</p>
                <p class="list-group-item-text">{{ event.type }} <span ng-if='event.subtype'>,</span>  {{ event.subtype}}</p>
                <p class="list-group-item-text">{{event.village}} <span ng-if='event.district'>,</span> {{event.district}}</p>
                <p class="list-group-item-text">{{event.date}}</p>
            </a>
        </div>
        <br id='searchBottom'>
        <div class="list-group eq-list-group eq-content-container col-sm-12 col-md-12 col-xs-12">
            <h5 align="center"><a ng-click="searchAgain()">Click here to Search again! </a></h5>
        </div>
    </div>
</div>