<div>
    <form name = "fpoGroupCreate" ng-submit="submitForm(fpoGroupCreate.$valid)">
        <div class="eq-screen-header eq_bg_accent row">
            	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div ng-if="fpo_group_type.name">{{$state.current.data.screen_title}} {{fpo_group_type.name}}</div>
                    <div ng-if="!fpo_group_type.name">{{$state.current.data.screen_title}}</div>
              </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
         <div class="pull-right">
              <button class="btn btn-default eq-glyph-btn btn-text validate" ng-click="addFpoGroup()">
                    <i class="eq-fa fa fa-check"></i>
              </button>
              <button type= "button" class="btn btn-default eq-glyph-btn btn-text " ng-click="cancelFpoGroup()">
                    <i class="eq-fa fa fa-times"></i>
              </button>
            </div>
    </div>
</div>
</div>
        <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                  <label class="form-group eq-field-label">Group Name </label>
                  <input type="text" class="form-control eq-input-text-box"  placeholder="FPO Group Name *" data-ng-model="fpogroup.name" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                  <label class="form-group eq-field-label">Group Description: </label>
                  <input type="text" class="form-control eq-input-text-box" placeholder="FPO Group Description"  data-ng-model="fpogroup.description" />
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                   <label class="form-group eq-field-label">Group's Admin Farmer: </label>
                    <select class="form-control eq-input-text-box" name="farmer_admin" id="farmer_member" ng-model="fpogroup.admin" required>
                        <option value="">Select Admin Farmer</option>
                        <option ng-repeat="farmer_member in farmer_members" value="{{farmer_member.memberId}}">{{farmer_member.memberName}}, {{farmer_member.memberShortAddress}}</option>
                    </select>
                </div>
            </div>
           <div class="row" ng-if="fpo_group_type.code === 'CLA'">
              <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="form-group eq-field-label">Cluster: </label>
                <select class="form-control eq-input-text-box eq-input-text-box" name="fpogroup.area_association" id="fpogroup.area_association" ng-model="fpogroup.area_association">
                      <option value="">Available Clusters</option>
                      <option ng-repeat="member_cluster in member_clusters" value="{{member_cluster.id}}">{{member_cluster.name}} </option>
                  </select>
              </div>
            </div>
            <div class="row" ng-if="fpo_group_type.code === 'JRG' || fpo_group_type.code === 'FIG' ">
                 <div class="col-sm-6 eq-col-bottom-margin-offset">
                  <label class="form-group eq-field-label">Village Associated (if any): </label>
                      <input type="text eq-input-text-box" class="form-control" name="fpogroup.area_association" placeholder="Click to select Villages"
                        id="fpogroup.area_association" ng-click="show_area_modal()" ng-model="fpogroup.area_association"/>
                </div>
              </div>
            </div>
        </div>
    </form>
</div>
