<div >
	<div class="eq-screen-header eq_bg_accent">

				<div>{{fpoName}} {{$state.current.data.screen_title}}
          <div class="pull-right">
			<button class="btn btn-default eq-glyph-btn  " ng-click="addFpoGroupMember()"><i class="eq-fa fa fa-plus"></i></button>
			<button class="btn btn-default  eq-glyph-btn not-active"><i class="eq-fa fa fa-search"></i></button>
		</div>

			</div>
		</div>
	<div class="eq-content-container">
	<div>
	<!-- <div class="eq-screen-sub-header list_name eq_bg_accent">
		Farmer's List
		</div> -->
		<div class="list-group eq-list-group" ng-repeat="fpo_farmergroup in fpo_farmergroups">
			<a href="" class="list-group-item eq-list-group-item">
				<p class="list-group-item-text eq-list-item-header">Group Name - {{fpo_farmergroup.name}}</p>
				<p class="list-group-item-text">Type - {{ fpo_farmergroup.type.name }}</p>
        <p class="list-group-item-text">Admin - {{ fpo_farmergroup.admin }}</p>
				<p class="list-group-item-text" ng-if="fpo_farmergroup.description"> Description - {{fpo_farmergroup.description }}</p>
			</a>
		</div>
	</div>
</div>
