<div >
	<div class="eq-screen-header eq_bg_accent row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			<div > {{fpogroup_details.name}} {{$state.current.data.screen_title}}</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div class="pull-right">
				<!-- This button is used for open update screen -->
				<button class="btn btn-default eq-glyph-btn" ng-click="updateGroupDetails(fpogroup_details)"><i class="eq-fa fa fa-pencil"></i></button>
				<button class="btn btn-default eq-glyph-btn" ng-click="deleteGroup(fpogroup_details.id)">
					<i class="eq-fa fa fa-minus"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="eq-content-container">
		<div class="short_desc_more"><span class="eq-field-label">Type: </span>{{ fpogroup_details.type.name }}</div>
		<div class="short_desc_more"><span class="eq-field-label">Member Count: </span> {{fpogroup_members.length}}</div>
		<div class="short_desc_more"><span class="eq-field-label">Group Admin: </span>{{ fpogroup_details.admin.fname }} {{ fpogroup_details.admin.lname }}</div>
		<div class="short_desc_more"><span class="eq-field-label">Created Date: </span>{{fpogroup_details.created_on | date: 'dd-MM-yyyy'}}</div>
		<!-- <div ng-if="fpogroup_details.area_association">
			<p class="list-group-item-text"><span class="eq-field-label">Associated Area: </span></p>
			<div class="list-group eq-list-group" ng-repeat="item in fpogroup_details.area_association">
					<p class="short_desc_more" ng-if="item.village"><span> {{item.village}} - {{item.district}}</span>
					<p class="short_desc_more" ng-if="item.name"><span class="eq-field-label"></span>{{item.name}}</p>
			</div>
		</div> -->
	</div>
</div>
       <uib-accordion close-others="true">
<!-- Accordion for Area Association -->
<uib-accordion-group class="eq-accordion" ng-if="fpogroup_details.area_association">
  <uib-accordion-heading>
    <span>Area Association <i class='fa fa-caret-down'></i></span>
		  <span class="pull-right">
		     <button class="btn btn-default eq-glyph-btn btn_text" ng-click="show_area_modal()">
		   	    <i class="eq-fa fa fa-pencil"></i>
		   </button>
		  <!-- <button  class="btn btn-default  eq-glyph-btn" ng-click="">
		       <i class="eq-fa fa fa-minus"></i>
	    </button> -->
    </span>
  </uib-accordion-heading>

<div class="list-group eq-list-group" ng-repeat="item in fpogroup_details.area_association">
			<p class="list-group-item-text eq-list-group-item">
				<span class= "eq-field-label" ng-if="item.village"> {{item.village}} - {{item.district}}</span>
				<span class= "eq-field-label" ng-if="item.name">{{item.name}}</span>
			</p>
</div>
</uib-accordion-group>


        <uib-accordion-group class="eq-accordion" is-open="status.isFirstOpen">
            <uib-accordion-heading>
				<span>Members <i class='fa fa-caret-down'></i></span>
                 <span class="pull-right">
            <button class="btn btn-default eq-glyph-btn btn_text" ng-click="AddMemberFarmer()">
            	<i class="eq-fa fa fa-plus"></i>
            </button>
            <button  class="btn btn-default  eq-glyph-btn" ng-click="removeSelectedItems()">
        		<i class="eq-fa fa fa-minus"></i>
      		</button>
        </span>
      </uib-accordion-heading>


	    <div class="list-group eq-list-group" ng-repeat="fpogroup_member in fpogroup_members">
	    		<div class="col-xs-1">
				<input type="checkbox" value="fpogroup_member.id"  ng-model="selected_group_members[fpogroup_member.id]" align="right"/>
	    		</div>
	    		<div class="col-xs-11">
	    			<a ui-sref="farmerDetails({farmerId:fpogroup_member.id})" class="list-group-item eq-list-group-item">
			   			<p class="list-group-item-text eq-list-item-header">
			   				<span ng-if="fpogroup_member.fname">{{ fpogroup_member.fname +" "+ fpogroup_member.lname}}</span>
			   				<span ng-if="fpogroup_member.age">, {{fpogroup_member.age}}</span>
			   			</p>
				 		<p class="list-group-item-text" ng-if="fpogroup_member.education_level_name">
				 			<span class="eq-field-label">Education: </span> {{ fpogroup_member.education_level_name }}
				 		</p>
						<p class="list-group-item-text" ng-if="fpogroup_member.household_year_income">
							<span class="eq-field-label">Yearly Income: </span> {{ fpogroup_member.household_year_income | number:0}}
						</p>
				 		<p class="list-group-item-text" ng-if="fpogroup_member.date_joined">
				 			<span class="eq-field-label">Date Joined: </span> {{fpogroup_member.date_joined | date: 'dd-MM-yyyy'}}
				 		</p>
			 		</a>
	    		</div>
			</div>
		 </uib-accordion-group>
   </uib-accordion>
