<div>
    <form name="fpoGroupMember" ng-submit="submitForm(fpoGroupMember.$valid)">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div>Add FPO Member/Farmer to {{fpo_group.name}}</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="pull-right">
		  				<button class="btn btn-default eq-glyph-btn btn-text" ng-click="addFpoGroupMember()">
		  					<i class="eq-fa fa fa-check"></i>
		  				</button>
     					<button type= "button" class="btn btn-default eq-glyph-btn btn-text novalidate" ng-click="cancelAddFpoGroupMember()">
								<i class="eq-fa fa fa-times"></i></button>
    				</span>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="eq-multiselect-dropdown" style=" overflow-y:visible;" ng-dropdown-multiselect="" options="farmer_members" selected-model="selected_farmer" extra-settings="customSettings">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
