<div class="eq-screen-header eq_bg_accent row">
 <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
  <div > {{fpogroup_details.name}} {{$state.current.data.screen_title}}</div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <div class="pull-right">
   <!-- This button is used for open update screen -->
   <button class="btn btn-default eq-glyph-btn" ng-click="updateDetails()"><i class="eq-fa fa fa-check"></i></button>
   <button class="btn btn-default eq-glyph-btn" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
  </div>
 </div>
</div>
<div class="eq-content-container">
 <div class="row">
  <div class="col-sm-6">
		 <label for="plot_name"></label>
   <input class="form-control eq-input-text-box" id="name" name="name" placeholder="Name *" data-ng-model="fpogroup_details.name" required />
		</div>
		<div class="col-sm-6">
   <label for="description"></label>
		 <input class="form-control eq-input-text-box" id="description" name="description" placeholder="Description *" data-ng-model="fpogroup_details.description" required />
		</div>
 </div>
  <div class="row">
 <!--<div class="col-sm-6">
   <select class="form-control eq-input-text-box select-gap" name="fpogroup.type" id="fpogroup.type" ng-model="fpogroup_details.type">
    <option value="">FPO Group Type</option>
    <option ng-repeat="type in fpogroups_types" value="{{type.code}}">{{type.name}} </option>
   </select>
  </div> -->
  <div class="col-sm-6">
   <select class="form-control eq-input-text-box select-gap" ng-options="admin.id as admin.fullName for admin in fpogroup_members" ng-model="fpogroup_details.admin">
    <option value="">FPO Group's Admin Farmer</option>
    <!-- <option ng-repeat="admin in fpogroup_members" value="{{admin.id}}">{{admin.fname}} {{admin.lname}}</option> -->
   </select>
  </div>
</div>
</div>
