<div>
    <form name="invite_form">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div ng-if="role == 'FPO-MANAGER'"> {{$state.current.data.screen_title}} Management User</div>
                    <div ng-if="role == 'FPO-FIELD-STAFF'"> {{$state.current.data.screen_title}} Fieldstaff User</div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn" ng-click="inviteUser()">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </span>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">First Name *</label>
                    <input type="text" class="form-control eq-input-text-box" id="fname" placeholder="First Name *" data-ng-model="user.fname" required />
                </div>
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Middle Name</label>
                    <input type="text" class="form-control eq-input-text-box" id="mname" placeholder="Middle Name" data-ng-model="user.mname" />
                </div>
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Last Name *</label>
                    <input type="text" class="form-control eq-input-text-box" id="lname" placeholder="Last Name *" data-ng-model="user.lname" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Join Date *</label>
                    <input type="date" id="join_date" class="form-control eq-input-text-box" placeholder="Join Date *" data-ng-model="user.joining_date" required />
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Current salary *</label>
                    <input type="text" id="current_salary" class="form-control eq-input-text-box" placeholder="Current salary *" data-ng-model="user.current_salary" required />
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Mobile Number *</label>
                    <input type="text" minlength="10" maxlength="15" class="form-control eq-input-text-box" id="phone_primary" data-ng-model="user.phone_primary" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required/>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Personal Email *</label>
                    <input type="email" class="form-control eq-input-text-box" placeholder="Personal Email *" data-ng-model="user.email_personal" required/>
                </div>
            </div>
        </div>
    </form>
</div>
