<div>
    <form name="myForm">
    <div class="eq-screen-header eq_bg_accent">
       <div class="row">
	   <div class="col-md-6 col-sm-6 col-xs-6">
           <div>Update User Profile</div>
	   </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="pull-right">
             <button class="btn btn-default eq-glyph-btn " ng-click="userUpdation()"><i class="eq-fa fa fa-check"></i></button>
             <button class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
             <!--<button class="btn btn-default eq-glyph-btn  novalidate" ng-click="deleteUser()"><i class="eq-fa fa fa-trash"></i></button>-->
            </span>
        </div>
        </div>
       </div>
       <div class="eq-content-container">
       <div class="row">
       <div class="col-sm-4 eq-col-bottom-margin-offset">
            <label for="first_name" class="eq-field-label">First Name</label>
            <input type="text" id="first_name" name="first_name"  ng-model="formData.fname" class="form-control eq-input-text-box" placeholder="First Name *" required/>
       </div>
      <div class="col-sm-4 eq-col-bottom-margin-offset">
            <label for="middle_name" class="eq-field-label">Middle Name</label>
            <input type="text" id="middle_name" name="middle_name" ng-model="formData.mname" class="form-control eq-input-text-box" placeholder="Middle Name"/>
      </div>
       <div class="col-sm-4 eq-col-bottom-margin-offset">
            <label for="last_name" class="eq-field-label">Last Name</label>
            <input type="text" id="last_name" name="last_name" ng-model="formData.lname" class="form-control eq-input-text-box" placeholder="Last Name *" required/>
       </div>
       </div>
       <div class="row">
           <div class="col-sm-6 eq-col-bottom-margin-offset ">
            <label for="mobile_no" class="eq-field-label">Mobile Number</label>
            <input type="text" id="mobile_no" name="mobile_no" ng-model="formData.phone_primary"
                    class="form-control eq-input-text-box" placeholder="Primary Phone Number *" required/>
           </div>
           <div class="col-sm-6 eq-col-bottom-margin-offset">
            <label for="email" class="eq-field-label">Email Address</label>
            <input type="email" id="email" name="email" ng-model="formData.email_personal"
                    class="form-control eq-input-text-box" placeholder="Email *" required/>
                  <span style="color:red;" ng-if="myForm.email.$error.required && myForm.email.$dirty">required</span>
                  <span style="color:red" ng-if="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty
                    && myForm.email.$invalid">invalid email</span>
           </div>
       </div>
      </div>
  </form>
</div>
