<div>
    <form name="myForm">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div>{{$state.current.data.screen_title}}</div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span class="pull-right">
                        <button class="btn btn-default eq-glyph-btn " ng-click="userRegistration()">
                            <i class="eq-fa fa fa-check"></i>
                        </button>
                        <button type="reset" class="btn btn-default eq-glyph-btn" ng-click="cancelEdit()">
                            <i class="eq-fa fa fa-undo"></i>
                        </button>
                        <button type="button" class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
                            <i class="eq-fa fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label for="first_name" class="eq-field-label">first name *</label>
                    <input type="text" id="first_name" name="first_name"  ng-model="formData.fname"class="form-control eq-input-text-box"placeholder="First Name *" required/>
                </div>
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label for="middle_name" class="eq-field-label">middle name</label>
                    <input type="text" id="middle_name" name="middle_name" ng-model="formData.mname"class="form-control eq-input-text-box" placeholder="Middle Name"/>
                </div>
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label for="last_name" class="eq-field-label">last name *</label>
                    <input type="text" id="last_name" name="last_name" ng-model="formData.lname" class="form-control eq-input-text-box" placeholder="Last Name *" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="mobile_no" class="eq-field-label">primary phone number *</label>
                    <input type="text" id="mobile_no" name="mobile_no" ng-model="formData.phone_primary"
                      class="form-control eq-input-text-box" placeholder="Primary Phone Number *" required/>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="email" class="eq-field-label">email *</label>
                    <input type="email" id="email" name="email" ng-model="formData.email_personal"
                      class="form-control eq-input-text-box" placeholder="Email *" required/>
                    <span style="color:red;" ng-if="myForm.email.$error.required && myForm.email.$dirty">required</span>
                    <span style="color:red" ng-if="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty
                      && myForm.email.$invalid">invalid email</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="password" class="eq-field-label">password *</label>
                    <input type="password" id="password" name="password" ng-model="formData.password"
                      ng-minlength="6" ng-maxlength="20"
                      class="form-control eq-input-text-box" placeholder="Password *" required  />
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="confirmPassword" class="eq-field-label">confirm password *</label>
                    <input class="form-control eq-input-text-box" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password *" ng-model="formData.confirm_password" ng-change="checkPassword()" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span style="color:red;" class="text-error" ng-if="myForm.confirm_password.$dirty && myForm.confirm_password.$error.dontMatch">Passwords don't match!</span>
                    <span style="color:red;" ng-if="myForm.password.$error.required && myForm.password.$dirty">required</span>
                    <span style="color:red;" 
                    ng-if="!myForm.password.$error.required 
                    && (myForm.password.$error.minlength || myForm.password.$error.maxlength)
                    && myForm.password.$dirty">Passwords must be between 6 and 20 characters.</span>
<!--                     <span style="color:red;" 
                    ng-if="!myForm.password.$error.required 
                    && !myForm.password.$error.minlength 
                    && !myForm.password.$error.maxlength 
                    && myForm.password.$error.pattern
                    && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
 -->                </div>
            </div>
        </div>
    </form>
</div>
