<div class="eq-screen-header eq_bg_accent">
    <div class="row eq-heading">
        {{fpoName}} Management <i class='fa fa-caret-down'></i>
        <div class="pull-right">
            <button class="btn btn-default eq-glyph-btn" ng-click="addUser('FPO-MANAGER')">
                <i class="eq-fa fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<div class="list-group eq-list-group" ng-repeat="user in mgmt_user ">
     		<a ui-sref="update-user-profile({user:user.personId}) " class="list-group-item eq-list-group-item ">
     					<p class="list-group-item-text eq-list-item-header ">{{ user.personName }}</p>
                        <p ng-if="user.personEmailId " class="list-group-item-text list_item_more "><abbr class="eq-field-label ">Email: </abbr>{{user.personEmailId}}</p>
                        <p ng-if="user.personPhone " class="list-group-item-text list_item_more "><abbr class="eq-field-label ">Phone: </abbr>{{user.personPhone}}</p>
                        <p ng-if="user.shortAddress " class="list-group-item-text list_item_more "><abbr class="eq-field-label ">Address: </abbr>{{user.shortAddress}}</p>
     		</a>
     	</div>
       
    <div class="eq-screen-header eq_bg_accent ">
    <div class="row eq-heading ">
        {{fpoName}} Field Staff <i class='fa fa-caret-down'></i>
        <div class="pull-right ">
            <button ng-click="addUser( 'FPO-FIELD-STAFF') " class="btn btn-default eq-glyph-btn ">
                        <i class="eq-fa fa fa-plus "></i>
                    </button>
        </div>
    </div>
</div>
<div class="list-group eq-list-group " ng-repeat="user in field_staff_user ">
    <a ui-sref="update-user-profile({user:user.personId}) " class="list-group-item eq-list-group-item ">
        <div class="card row ">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                <p class="list-group-item-text eq-list-item-header ">{{ user.personName }}</p>
                <p ng-if="user.personEmailId " class="list-group-item-text list_item_more "><abbr class="eq-field-label ">Email: </abbr>{{user.personEmailId}}<br/></p>
                <p ng-if="user.personPhone " class="list-group-item-text list_item_more "><abbr class="eq-field-label ">Phone: </abbr>{{user.personPhone}}</p>
                <p ng-if="user.shortAddress " class="list-group-item-text list_item_more "><abbr class="eq-field-label ">Address: </abbr>{{user.shortAddress}}</p>
            </div>
        </div>
    </a>
</div>