<div class="">

 <h2 align="center">Welcome {{user_profile.fname+" "+user_profile.mname+" "+user_profile.lname}}</h2>

 <h2 align="center">You have successfully registered.Click here to add new FPO.<a ui-sref="fpoAdd">Register FPO</a></h2>


</div>
