<div class="eq-screen-header eq_bg_accent">
 <div class="row">
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
   Add FPO Services
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
   <div class="pull-right">
     <button class="btn btn-default eq-glyph-btn" ng-click="submitFPOServices()"><i class="eq-fa fa fa-check"></i></button>
     <button class="btn btn-default eq-glyph-btn" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
   </div>
  </div>
 </div>
</div>
<div class="eq-content-container">
 <div ng-repeat="item in fpoServices">
  <label class="eq-list-item-header">{{item.category_name}}</label>
  <div ng-repeat="checkList in item.fpo_services">
    <input type="checkbox" checklist-value="checkList.code" checklist-model="item_checked.fpo_services">{{checkList.name}}</input>
  </div>
 </div>
</div>
