<div ng-app="app">
  	<form name = "fpoCreate" ng-submit="submitForm(fpoCreate.$valid)">
 	    <div class="eq-screen-header eq_bg_accent">
            <div class="row">
  	            <div class="col-md-10 col-sm-10 col-xs-10">
                    <div>{{$state.current.data.screen_title}}</div>
                </div>
				<div class="col-md-2 col-sm-2 col-xs-2">
                    <span class="pull-right">
                        <button class="btn btn-default eq-glyph-btn btn-text" ng-click="addFpo()">
                            <i class="eq-fa fa fa-check"></i>   
                        </button>
                        <button type= "button" class="btn btn-default eq-glyph-btn btn-text novalidate" ng-click="goBack()">
                            <i class="eq-fa fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
		</div>
        <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">name</label>
                    <input class="form-control eq-input-text-box" placeholder="FPO Name *"  data-ng-model="fpo.name" required/>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">description</label>
                    <input type="text" class="form-control eq-input-text-box" placeholder="FPO Description *"  data-ng-model="fpo.description" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">registration location</label>
                    <input class="form-control eq-input-text-box" placeholder="Registration location"  data-ng-model="fpo.registration_location"/>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">date incorporation</label>
                    <input type="text" class="form-control eq-input-text-box custom_calendar" id="date_joined" placeholder="DD-MM-YYYY" readonly="readonly" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">CIN</label>
                    <input type="text" allow-pattern ="^[a-zA-Z0-9]+$" id="text" class="form-control eq-input-text-box" placeholder="CIN"  data-ng-model="fpo.cin" uppercased/>
                    </div>
            </div>
        </div>    
    </form>
</div>