<div class="eq-screen-header eq_bg_accent">
    <div class="row">
	    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        {{farmerName}} {{$state.current.data.screen_title}}
	    </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <span class="pull-right">
        <button class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
                <i class="eq-fa fa fa-times"></i>
         </button>
         </span>
    </div>
</div>
</div>
<div class="eq-content-container">
  	<div class="eq-guiding-text">Please select the area you want to get the details for.</div>
        <div class="eq-content-container">
            <div class="row eq-large-bottom-margin-offset">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <span ng-if="farmerDetails.avtar">
                        <img class="eq-img-profile pull-right" ng-src='{{farmerDetails.avtar}}'>
                    </span>
                    <i ng-if='!farmerDetails.avtar' class="fa fa-user fa-5x element-icon eq-img-placeholder pull-right"></i>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="short_desc_more dashboard-detail-text" ng-if="farmerDetails">
                        <div class="short_desc_main">{{farmerName}}, {{farmerDetails.age}}</div>
                        <div ng-if="farmerDetails.shortAddress">
                          	<span class="eq-field-label" title="primary"></span> {{farmerDetails.shortAddress}}
                        </div>
                        <div ng-if="farmerDetails.education_level_name">
                            <span class="eq-field-label">Education:</span> {{ farmerDetails.education_level_name}}
                        </div>
                        <div ng-if="memberSince.date_joined">
                            <span class="eq-field-label">Member Since:</span> {{memberSince.date_joined | date: 'dd-MM-yyyy'}}
                        </div>
                        <div ng-if="landOwned">
                            <span class="eq-field-label">Land Ownership:</span> {{landOwned}} Acres
                        </div>
                        <div ng-if="farmerDetails.household_year_income">
                            <span class="eq-field-label">Yearly Income:</span> {{farmerDetails.household_year_income | number:0}}
                        </div>
                        <div ng-if="eventAttended">
                            <span class="eq-field-label">Events Attended:</span> {{eventAttended}} 
                        </div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center eq-large-bottom-margin-offset">
		    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div class="btn-group btn-group-custom btn-group-xs text-center">
                <!-- <a href="#/moreDetails/{{farmerId}}"  type="button" class="btn btn-primary "> -->
                <a ui-sref="farmer_moreDetails({farmerId:farmerId})" type="button" class="btn btn-primary ">
                View Personal Details 
                </a>
                <!-- <a class="btn btn-primary  disabled" href="" >
				        Reports
                </a> -->
		        </div>
		    </div>
    </div>
    <div class="row eq-large-bottom-margin-offset">
				<div class="col-md-6 col-sm-6 col-xs-6" align="center">
		  			<a ui-sref="farmerEndowments({farmerId:farmerId, farmerName:farmerName})" class="option_name">
            <i class="eq-fa fa fa-shopping-basket fa-4x"></i><br/>Family & Land Holding</a><br/>
          	<div class="option_guiding_text eq-field-label">Family members, Land Holding etc.</div>
				</div>
        <div class="col-md-6 col-sm-6 col-xs-6"  align="center">
            <a ui-sref="farmerInputs({farmerId:farmerId})" class="option_name">
            <i class="eq-fa fa fa-cogs fa-4x"></i><br/>Inputs and Equipments</a></br>
            <div class="option_guiding_text eq-field-label">Cultivation, Crop Profile, Farmer Diary etc</div>
        </div>
    </div>
		<div class="row eq-large-bottom-margin-offset">
			  <div class="col-md-6 col-sm-6 col-xs-6"  align="center">
            <a href="" class="option_name not-active"><i class="eq-fa fa fa-thumbs-up fa-4x"></i><br/>Practices/Systems</a><br/>
            <div class="option_guiding_text eq-field-label">Training, Certifications etc</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6"  align="center">
            <a href="" class="option_name not-active"><i class="eq-fa fa fa-street-view fa-4x"></i><br/>Infra/Eco-System</a><br/>
            <!-- <div class="option_guiding_text eq-field-label">Family Members, Land Holdings etc</div> -->
        </div>
		</div>
         <div class="row eq-large-bottom-margin-offset">
			  <div class="col-md-6 col-sm-6 col-xs-6"  align="center">
            <a href="" class="option_name not-active"><i class="eq-fa fa fa-book fa-4x"></i><br/>Farmer's Diary</a><br/>
            <div class="option_guiding_text eq-field-label"></div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6"  align="center">
            <a href="" class="option_name not-active"><i class="eq-fa fa fa-inr fa-4x"></i><br/>Financials </a><br/>
            <!-- <div class="option_guiding_text eq-field-label">Family Members, Land Holdings etc</div> -->
        </div>
        
		</div>
</div>