<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div>{{farmerName}} {{$state.current.data.screen_title}}</div>
        </div>
    </div>
</div>

<div class="eq-content-container">
    <p class="eq-guiding-text">Household Details of {{farmerName}}</p>
    <div class="row">
        
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-right">
            <i class="eq-fa fa fa-user fa-5x element-icon"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
            
            <address class="short_desc_more">
                <div ng-if="family_members.length">
                    <abbr class="eq-field-label" >Total Family Members:</abbr> {{family_members.length}}
                </div>
                <div ng-if="landOwned">
                    <abbr  class="eq-field-label">Land Ownership:</abbr> {{landOwned}} Acres
                </div>
                <div ng-if="cultivable_area">
                    <abbr class="eq-field-label">Cultivable Land:</abbr> {{cultivable_area}} Acres
                </div>
                <div class="short_desc_more" ng-if="farmerDetails.household_year_income">
                    <abbr class="eq-field-label">Income Last Year:</abbr> {{farmerDetails.household_year_income}}
                </div>
            </address>
        </div>
    </div>
</div>
        
        <div class="eq-screen-header eq_bg_accent">
            <div class="row eq-heading">
            Family Members <i class='fa fa-caret-down'></i>
            <div class="pull-right">
                <button ng-click="addFamilyMember()" class="btn btn-default eq-glyph-btn ">
                    <i class="eq-fa fa fa-plus"></i>
                </button>
                <button  class="btn btn-default  btn eq-glyph-btn" ng-click="removeSelectedItems()">
                    <i class="eq-fa fa fa-minus"></i>
                </button>
            </div>
            </div>
        </div>
        <div class="list-group eq-list-group" ng-repeat="family_member in family_members">
                <div class="col-xs-1">
                    <input type="checkbox" value="usage.id" ng-model="familyMemberIds[family_member.id]" />
                </div>
                <div class="col-xs-11">
                    <a ng-href="" class="list-group-item eq-list-group-item" ng-click="selected_family_member(family_member)">
                        <p class="list-group-item-text eq-list-item-header">{{ family_member.name}} - {{ family_member.relationship.name}}</p>
                        <p class="list-group-item-text"><abbr class="eq-field-label">Education:</abbr> {{ family_member.education.name}}</p>
                        <div ng-switch="family_member.earning">
                            <div ng-switch-when="false">
                                <p class="list-group-item-text"><abbr class="eq-field-label">Earning:</abbr> No</p>
                            </div>
                            <div ng-switch-when="true">
                                <p class="list-group-item-text"><abbr class="eq-field-label">Earning:</abbr> Yes</p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    <div class="row"></div>
        <div class="eq-screen-header eq_bg_accent ">
            <div class="row eq-heading">
            Land Holdings <i class='fa fa-caret-down'></i>
                <span class="pull-right">
                    <button ng-click="addLandHoldings()" class="btn btn-default eq-glyph-btn ">
                        <i class="eq-fa fa fa-plus"></i>
                    </button>
                    <button  class="btn btn-default  btn eq-glyph-btn" ng-click="removeItems();">
                        <i class="eq-fa fa fa-minus"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="list-group eq-list-group" ng-repeat="landholding in landholdings">
                <div class="col-xs-1">
                    <input type="checkbox" value="landLeased.id" ng-model="landHoldingIds[landholding.id]" />
                </div>
                <div class="col-xs-11">
                    <a ui-sref="land-detail({landholdingId:landholding.id})" class="list-group-item eq-list-group-item">
                        <p class="list-group-item-text eq-list-item-header">{{ landholding.plot_name}}</p>
                        <p class="list-group-item-text">{{ landholding.description}}</p>
                        <p class="list-group-item-text"><abbr class="eq-field-label">Land Area:</abbr> {{ landholding.area + " " + landholding.unit.name}}</p>
                        <p class="list-group-item-text"><abbr class="eq-field-label">Cultivable Area:</abbr> {{ landholding.cultivable_area + " " + landholding.unit.name}}</p>
                    </a>
                </div>
         </div>
