<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div >{{farmerName}} Inputs</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="pull-right">
                <button class="btn btn-default  eq-glyph-btn" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
                <!--<button class="btn btn-default  not-active"><i class="eq-fa fa fa-trash"></i></button>-->
            </div>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
            <p class="eq-guiding-text">Seasonal Cultivation Details of {{farmerName}}</p>
    </div>
    </div>
</div>
<uib-accordion>
        <uib-accordion-group class="eq-accordion" is-open="status.isFirstOpen">
            <uib-accordion-heading>
                <span>Seasonal Cultivation <i class='fa fa-caret-down'></i></span>
                <span class="pull-right">
                <button ng-click="add_seasonal_cultivation()" class="btn btn-default eq-glyph-btn btn_text">
                    <i class="fa fa-plus"></i>
                </button>
                <button  class="btn btn-default btn_text btn eq-glyph-btn" ng-click="removeSelectedItems(); removeItems();">
                    <i class="eq-fa fa fa-minus"></i>
                </button>
            </span>
        </uib-accordion-heading>
        <div class="list-group eq-list-group" ng-repeat="cultivation in cultivations">
            <div class="list-group-item-text eq-list-item-header fpo-accent-color"> {{ cultivation.year}}, {{ cultivation.season.name}} </div>
            <div class="list-group eq-list-group" ng-if="cultivation.landOwnedUsage" ng-repeat="item in cultivation.landOwnedUsage">
                    <div class="col-xs-1">
                        <input type="checkbox" value="cultivation.landOwnedUsage.id"  ng-model="landOwnedIds[item.id]">
                    </div>
                    <div class="col-xs-11">
                        <button ng-click="updateSeasonalCultivation(item,'ownedLand')" class="list-group-item eq-list-group-item">
                            <p class="list-group-item-text eq-list-item-header"> {{ item.land_id.plot_name}} (Owned)</p>
                            <p class="list-group-item-text "><abbr class="eq-field-label">Total Area:</abbr> {{ item.land_id.area}} {{ item.unit.name}}</p>
                            <p class="list-group-item-text "><abbr class="eq-field-label">Cultivated Area: </abbr> {{ item.cultivated_area}} {{ item.unit.name}} </p>
                        </button>
                    </div>
            </div>
            <div class="list-group eq-list-group" ng-repeat="item in cultivation.landLeased">
                    <div class="col-xs-1">
                            <input type="checkbox" value="landLeased.id"  ng-model="landLeasedIds[item.id]">
                    </div>              
                    <div class="col-xs-11">
                        <button ng-click="updateSeasonalCultivation(item,'leasedIn')" class="list-group-item eq-list-group-item">
                            <p class="list-group-item-text eq-list-item-header">{{item.plot_name}} (Leased In) </p>
                            <p class="list-group-item-text"><abbr class="eq-field-label">Total Area:</abbr> {{ item.total_area}} {{ item.unit.name}}</p>
                            <p class="list-group-item-text"><abbr class="eq-field-label">Cultivable Area:</abbr> {{ item.cultivable_area}} {{ item.unit.name}}</p>
                        </button>
                    </div>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>  