<div>
    <form name="FarmerDetails" ng-submit="submitForm(FamilyMember.$valid)">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div>{{$state.current.data.screen_title}} of {{farmerData.farmerDetails.fname}} {{farmerData.farmerDetails.mname}} {{farmerData.farmerDetails.lname}}</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="pull-right">
                        <button class="btn btn-default eq-glyph-btn " ng-click="update_details()" >
                            <i class="eq-fa fa fa-check"></i>
                        </button>
                        <button class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
                            <i class="eq-fa fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">First Name</label>
                    <input type="text" class="form-control eq-input-text-box" id="name" name="name" placeholder="First Name" data-ng-model="farmerData.farmerDetails.fname"/>
                </div>
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Middle Name</label>
                    <input type="text" class="form-control eq-input-text-box" id="name" name="name" placeholder="Middle Name" data-ng-model="farmerData.farmerDetails.mname"/>
                </div>
                <div class="col-sm-4 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Last Name</label>
                    <input type="text" class="form-control eq-input-text-box" id="name" name="name" placeholder="Last Name" data-ng-model="farmerData.farmerDetails.lname"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Phone Number</label>
                    <input type="text" allow-pattern="[0-9]" class="form-control eq-input-text-box" id="name" name="name" placeholder="Phone Number" data-ng-model="farmerData.farmerDetails.phone_primary" ng-minlength='10' ng-maxlength='12' />
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Personal Email</label>
                    <input type="text" class="form-control eq-input-text-box" id="name" name="name" placeholder="Email" data-ng-model="farmerData.farmerDetails.email_personal"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="single" class="form-group eq-field-label"> Marital Status: </label>
                    <input type="radio" id="single" name="Single" ng-model="farmerData.farmerDetails.marital_status" value="SINGLE" />
                    Single
                    
                    <lable for="married" class="radio-inline">
                        <input id="married" type="radio" name="Married" ng-model="farmerData.farmerDetails.marital_status" value="MARRIED"/>
                    Married
                    
                    </lable>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label for="female" class="form-group eq-field-label">Gender: </label>
                    <input type="radio" name="female" id="female" ng-model="farmerData.farmerDetails.gender_code" value="FEMALE"/>
                    Female
                    
                    <lable for="male" class="radio-inline">
                        <input type="radio" id="male" name="male" ng-model="farmerData.farmerDetails.gender_code" value="MALE" />
                    Male
                    
                    </lable>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">date of birth</label>
                    <input type="text" class="form-control eq-input-text-box custom_calendar" id="DOB" placeholder="DD-MM-YYYY" name="DOB" readonly="readonly" />
                    <div class="eq-guiding-text">If you don't know date of birth please enter birth year</div>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Birth Year</label>
                    <input type="" class="form-control eq-input-text-box" id="year_birth" minlength="4" maxlength="4"  name="year_birth" placeholder="YYYY" data-ng-model="farmerData.farmerDetails.year_birth" required/>
                    <div class="eq-guiding-text">If you don't know date of birth please enter birth year</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Education Level</label>
                  <select class="form-control eq-input-text-box " id="education_level_name" ng-options='education.code as education.name for education in education_level' data-ng-model="farmerData.farmerDetails.education_level_code">
                        <option value="">Education Level </option>
                    </select>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Household Year Income</label>
                    <input type="integer" class="form-control eq-input-text-box" id="name" name="Household Year Income" placeholder="Household Year Income" data-ng-model="farmerData.farmerDetails.household_year_income" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Father Name</label>
                    <input type="text" class="form-control eq-input-text-box" id="name" name="name" placeholder="Father Name" data-ng-model="farmerData.farmerDetails.father_name"/>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Mother Name</label>
                    <input type="text" class="form-control eq-input-text-box" id="name" name="name" placeholder="Mother Name" data-ng-model="farmerData.farmerDetails.mother_name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Religion</label>
                    <select class="form-control eq-input-text-box" name="religions" id="religion" ng-options='religion.code as religion.name for religion in religions' ng-model="farmerData.farmerDetails.religion">
                        <option value="">Religions </option>
                    </select>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">Caste</label>
                    <select class="form-control eq-input-text-box" name="caste" id="caste" ng-options='caste.code as caste.name for caste in castes' ng-model="farmerData.farmerDetails.caste">
                        <option value="">Castes </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>