<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div id='screen_title' class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            {{fpoName}} Home
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <!--<div class="pull-right">
				<button class="btn btn-default  not-active"><i class="eq-fa fa fa-plus"></i></button>
				<button class="btn btn-default  not-active"><i class="eq-fa fa fa-search"></i></button>
			</div>-->
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="eq-guiding-text">Please select the area you want to work with now.</div>
    <div class="row eq-large-bottom-margin-offset">
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a href="" ng-click="getFpoDetails()" class="option_name"><i class="eq-fa fa fa-flag fa-5x"></i><br/>My FPO</a>
            <br/>
            <div class="option_guiding_text">organisation, board members, member relations, groups</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a ng-click="getFpoMembers()" class="option_name"><i class="eq-fa fa fa-user fa-5x"></i><br/>Farmers</a>
            <br/>
            <div class="option_guiding_text">farmer details, family, land holdings, equipments</div>
        </div>
    </div>
    <div class="row eq-large-bottom-margin-offset">
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a ng-click="gotoEvents()" class="option_name"><i class="eq-fa fa fa-graduation-cap fa-5x"></i><br/>Events</a>
            <br/>
            <div class="option_guiding_text">events, trainings, meetings, attendance</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a ui-sref="shop-dashboard" class="option_name"><i class="eq-fa fa fa-home fa-5x"></i><br/>FPO Shop</a></br>
            <div class="option_guiding_text">purchase, manage lots, grade, sort, sell</div>
        </div>
        
    </div>
    <div class="row eq-large-bottom-margin-offset">
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a ui-sref="finance-summary({fpoId:fpoId})" class="option_name"><i class="eq-fa fa fa-inr fa-5x"></i><br/>Money</a>
            <br/>
            <div class="option_guiding_text">incomes, expenses</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a href="" class="option_name not-active"><i class="eq-fa fa fa-book fa-5x"></i><br/>Farmer Diary</a></br>
            <div class="option_guiding_text">plan & track all farming activities</div>
        </div>
    </div>
    <div class="row eq-large-bottom-margin-offset">
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a href="" class="option_name not-active"><i class="eq-fa fa fa-leaf fa-5x"></i><br/>Crop Profile</a></br>
            <div class="option_guiding_text">history of crops details for each of your farmers</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
            <a href="" class="option_name not-active"><i class="eq-fa fa fa-certificate fa-5x"></i><br/>Certificate</a>
            <br/>
            <div class="option_guiding_text">track crop certification</div>
        </div>
    </div>
</div>