<div>
    <div>
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div>{{$state.current.data.screen_title}} {{userName}}!</div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="pull-right">
                        <a ui-sref="fpoCreate" class="btn btn-default eq-glyph-btn ">
                            <i class="eq-fa fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eq-content-container">
        <div ng-if="fpos.length > 0" class="eq-guiding-text">You are associated with following FPOs, please select one to proceed.</div>
        <div ng-if="fpos.length == 0" class="eq-guiding-text">Click on  &nbsp;<span class="eq-fa fa fa-plus"></span> &nbsp; button on top right corner to create new FPO.</div>
        <div class="list-group eq-list-group" ng-repeat="fpo in fpos">
            <a href="" class="list-group-item eq-list-group-item" ng-click="selectFpo(fpo)">
                <p class="list-group-item-text eq-list-item-header">{{ fpo.fpoName }}</p>
                <p class="list-group-item-text">{{fpo.fpoRegistrationLocation}}</p>
                <p class="list-group-item-text" ng-repeat="fpoRole in fpo.fpoRoles">
                    <abbr class="text-info eq-field-label">You are:</abbr> {{ fpoRole.role}} </p>
            </a>
        </div>
    </div>
</div>
