<form name="fpoUpdateShare">
<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div>{{$state.current.data.screen_title}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		<div class="pull-right">
			<button class="btn btn-default  eq-glyph-btn" ng-click="updateShareDetails()">
          <i class="eq-fa fa fa-check"></i>   
      </button>
      <button type="button" class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
          <i class="eq-fa fa fa-times"></i>
      </button>
   </button>
		</div>
        </div>
    </div>
</div>
   <div class="eq-content-container">
       <div class="row">

        <div class="col-sm-6">
		<label class="eq-field-label">Share Capital</label>
		<input class="form-control eq-input-text-box" type="integer" id="share_capital"  name="share_capital" ng-model="farmerShare.share_capital" placeholder="Share Capital" ng-keypress="filterValue($event)" />
        </div>

        <div class="col-sm-6">
		<label class="eq-field-label">Share Number</label>
		<input class="form-control eq-input-text-box" type="integer" id="share_number" name="share_number" ng-model="farmerShare.share_number" placeholder="Share Number" ng-keypress="filterValue($event)" />
        </div>

        <div class="col-sm-6">
		<label class="eq-field-label">Share Par Value</label>
		<input class="form-control eq-input-text-box" type="integer" id="share_par_value" name="share_par_value" ng-model="farmerShare.share_par_value" placeholder="Share Par Value" ng-keypress="filterValue($event)" />
        </div>

        <div class="col-sm-6">
		<label class="eq-field-label">Date Joined</label>
		<input class="form-control eq-input-text-box" type="string" id="date_joined" name="date_joined" ng-model="farmerShare.date_joined" min="1940" max="2016" placeholder="dd-MM-yyyy" />
        </div>
      </div>
   </div>

</form>
