<div>
    <div class="eq-screen-header eq_bg_accent">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div>
                    <span ng-if="farmerDetails.fname">{{farmerDetails.fname}}</span>
                    <span ng-if="farmerDetails.mname"> {{farmerDetails.mname}}</span>
                    <span ng-if="farmerDetails.lname"> {{farmerDetails.lname}} {{$state.current.data.screen_title}}</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="pull-right">
                    <button class="btn btn-default eq-glyph-btn " id="dropdownMenu1" data-toggle="dropdown">
                        <i class="eq-fa fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-default eq-glyph-btn " ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
                    <ul class="dropdown-menu eq-dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a ui-sref="farmerDetailsUpdate({farmerId: farmerId})">Personal details</a>
                        </li>
                        <li>
                            <a ng-click="update_fpo_service_usage()">FPO Farmer Relations</a>
                        </li>
                        <li ng-if="address">
                            <a ui-sref="update-farmer-address({farmerId:farmerId})">Update Address</a>
                        </li>
                        <li ng-if="!address">
                            <a ui-sref="add-farmer-address({farmerId:farmerId})">Add Address</a>
                        </li>
                        <li>
                            <a ui-sref="upload-farmer-avtar({personId:farmerId})">Add Profile Picture</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="eq-content-container">
        <div class="row" ng-if="farmerDetails">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <span ng-if="farmerProfilePic">
                      <img class="eq-img-profile pull-right" ng-src='{{farmerProfilePic}}'>
                    </span>
                    <i ng-if='!farmerProfilePic' class="fa fa-user fa-5x element-icon eq-img-placeholder pull-right"></i>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="short_desc_more dashboard-detail-text">
                    <div ng-if="farmerDetails.phone_primary">
                        <span class="eq-field-label" title="primary" style="bold">Phone (Primary):</span> {{farmerDetails.phone_primary}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.phone_emergency">
                        <span class="eq-field-label" title="emergency">Phone (Emergency):</span> {{farmerDetails.phone_emergency}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.email_personal">
                        <span class="eq-field-label" title="email">Personal Email:</span> {{farmerDetails.email_personal}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.gender">
                        <span class="eq-field-label" title="gender">Gender:</span> {{farmerDetails.gender}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.marital_status">
                        <span class="eq-field-label" title="marital_status">Marital Status:</span> {{farmerDetails.marital_status.name}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.dob">
                        <span class="eq-field-label" title="dob">Date of Birth:</span> {{farmerDetails.dob | date: 'dd-MM-yyyy'}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.govt_id_type">
                        <span class="eq-field-label" title="govt_id_type">Govt ID Type:</span> {{farmerDetails.govt_id_type}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.govt_id">
                        <span class="eq-field-label" title="govt_id">Govt ID:</span> {{farmerDetails.govt_id}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.religion.name">
                        <span class="eq-field-label" title="religion">Religion:</span> {{farmerDetails.religion.name}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.father_name">
                        <span class="eq-field-label" title="father_name">Father's Name:</span> {{farmerDetails.father_name}}
                        <br>
                    </div>
                    <div ng-if="farmerDetails.mother_name">
                        <span class="eq-field-label" title="mother_name">Mother's Name:</span> {{farmerDetails.mother_name}}
                        <br>
                    </div>
                </div>
                <!-- FPO Relationship... -->
                <div class="short_desc_more dashboard-detail-text"><span class="eq-field-label" ng-if="fpoRelationships">
                    <strong>{{fpoRelationships.fpo.name}} RelationShip</strong></span>
                    <br>
                    <div ng-repeat="item in fpoRelationships.fpo_relationship">
                        <div ng-if="item.date_joined">
                            <span class="eq-field-label" title="date_joined">Date Joined:</span> {{item.date_joined | date: 'dd-MM-yyyy'}}
                            <br>
                        </div>
                        <div ng-if="item.share_capital">
                            <span class="eq-field-label" title="share_capital">Share Capital:</span> {{item.share_capital | number:0}}
                            <br>
                        </div>
                        <div ng-if="item.share_number">
                            <span class="eq-field-label" title="share_number">Share Number:</span> {{item.share_number}}
                            <br>
                        </div>
                        <div ng-if="item.share_par_value">
                            <span class="eq-field-label" title="share_par_value">Share Par Value:</span> {{item.share_par_value}}
                            <br>
                        </div>
                    </div>
                    <div class="short_desc_more">
                        <span class="eq-field-label">Used FPO Services:</span> {{svcNamesList}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="address">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" align="right">
                <i class="eq-fa fa fa-map-marker fa-5x element-icon eq-img-placeholder pull-right"></i>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div ng-include="'/fpoApp/views/address/address_template.html'"></div>
            </div>
        </div>
    <div>
        <div class="row eq-screen-sub-header">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                KYC List
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="pull-right">
                    <button class="btn btn-default eq-glyph-btn" ng-click="add_new_kyc_doc()"><i class="eq-fa fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div class="list-group eq-list-group" ng-repeat="doc in kycDoc">
                <a ng-click="update_kyc(doc)" class="list-group-item eq-list-group-item">
                    <p class="list-group-item-text eq-list-item-header">{{doc.doc_type}}</p>
                    <p class="list-group-item-text">{{doc.doc_no}}</p>
                </a>
            </div>
        </div>
    </div>
</div>
