<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div >{{$state.current.data.screen_title}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="pull-right">
                <button class="btn btn-default eq-glyph-btn " ng-click="update_details()"><i class="eq-fa fa fa-check"></i></button>
                <button class="btn btn-default eq-glyph-btn " ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="eq-content-container">
    <div class="row">
        <div class="col-sm-6">
            <label class="eq-field-label">FPO Name</label>
            <input type="text" class="form-control eq-input-text-box text_info" id="name" placeholder="FPO Name"  data-ng-model="fpo_details.name"  /><br/>
        </div>
        <div class="col-sm-6">
            <label class="eq-field-label">Description</label>
            <input type="text" class="form-control eq-input-text-box" id="description" placeholder="Description"  data-ng-model="fpo_details.description"/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label class="eq-field-label"> Registration Location</label>
            <input type="text" class="form-control eq-input-text-box text_info" id="registration_location" placeholder="Registration Location"  data-ng-model="fpo_details.registration_location"  /><br/>
        </div>
        <div class="col-sm-6">
            <label class="eq-field-label">CIN</label>
            <input type="text" allowPattern="^[a-zA-Z0-9]+$"  class="form-control eq-input-text-box" id="cin" placeholder="CIN"  data-ng-model="fpo_details.cin" uppercased/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label class="eq-field-label"> Incorporation Date</label>
            <input type="text" placeholder="DD-MM-YYYY" class="form-control eq-input-text-box text_info custom_calendar" id="date_incorporation" placeholder="Incorporation Date" readonly="readonly" /><br/>
        </div>
        <div class="col-sm-6">
            <label class="eq-field-label">CEO</label>
            <select class="form-control eq-input-text-box text_info" id="ceo" ng-options="manager.personId as manager.nameWithEmail for manager in managers" data-ng-model="fpo_details.ceo">
                <option value="">Select CEO</option>
            </select>
            <!-- <input type="text" class="form-control eq-input-text-box" id="cin" placeholder="CIN"  data-ng-model="fpo_details.cin"/><br/> -->
        </div>
    </div>
</div>