<div>
    <div class="eq-screen-header eq_bg_accent row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            {{fpoName}} {{$state.current.data.screen_title}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="pull-right">
                <button class="btn btn-default  eq-glyph-btn" ng-click="cancelFPODetails()"><i class="eq-fa fa fa-times"></i></button>
                <!--<button class="btn btn-default  not-active"><i class="eq-fa fa fa-search"></i></button>-->
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" align="right">
            <i class="eq-fa fa fa-flag fa-5x element-icon"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="short_desc_main">{{fpoDetails.description}}</div>
            <div class="short_desc_more">
                <div><span class="eq-field-label">Registered At:</span> {{fpoDetails.registration_location}}</div>
                <div><span class="eq-field-label">Incorporated On:</span> {{fpoDetails.date_incorporation | date: 'dd-MM-yyyy'}}</div>
                <div ng-if="fpoDetails.ceoName != null"><span class="eq-field-label">CEO:</span> {{fpoDetails.ceoName}}</div>
                <div><span class="eq-field-label">Member Count:</span> {{fpoDetails.memberCount}}</div>
                <div><span class="eq-field-label">FIG Count:</span> {{fpoDetails.figCount}}</div>
                <div><span class="eq-field-label">Events Held:</span> {{fpoDetails.eventCount}}</div>
                <div><span class="eq-field-label">Compliance:</span> <i>Coming Soon</i></div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <div class="btn-group btn-group-custom btn-group-xs text-center">
            <!-- <button class="btn btn-primary "
				ng-click="getFpoAddress()" ng-if="fpoAddress">
				Update Address
			</button> -->
            <button class="btn btn-primary " ui-sref="fpoMoreDetails({fpoId:fpoDetails.id})">More Details</button>
            <button class="btn btn-primary  disabled" ng-click="">Reports</button>
            <!-- <button class="btn btn-primary " ng-click="addFpoAddress()" ng-if="!fpoAddress">Add Address</button> -->
            <button class="btn btn-primary " ng-click="showFpoUsers()">FPO Users</button>
        </div>
    </div>
</div>
<br/>
<uib-accordion close-others="true">
    <div class="list-group eq-list-group" ng-repeat="fpo_group_type in fpo_group_types">
        <uib-accordion-group class="eq-accordion">
            <uib-accordion-heading>
                <span ng-click="getGroups(fpo_group_type.code)">{{fpo_group_type.name}} <i class='fa fa-caret-down'></i></span>
                <div ng-if="fpo_group_type.singleton" class="pull-right">
                    <button ng-click="add_member_farmer(fpo_group_type)" class="btn btn-default eq-glyph-btn  ">
                        <i class="eq-fa fa fa-plus"></i>
                    </button>
                    <button class="btn btn-default  btn eq-glyph-btn" ng-click="removeSelectedItems()">
                        <i class="eq-fa fa fa-minus"></i>
                    </button>
                </div>
                <div ng-if="!fpo_group_type.singleton" class="pull-right">
                    <button ng-click="addFpoGroup(fpo_group_type)" class="btn btn-default eq-glyph-btn ">
                        <i class="eq-fa fa fa-plus"></i>
                    </button>
                    <button class="btn btn-default  btn eq-glyph-btn" ng-click="deleteGroup()">
                        <i class="eq-fa fa fa-minus"></i>
                    </button>
                </div>
            </uib-accordion-heading>
            <div ng-if="fpo_group_type.singleton">
                <div class="list-group eq-list-group" ng-repeat="x in fpo_groups.members">
                    <div class="col-xs-1">
                        <input type="checkbox" value="members.id" ng-model="memberIds[x.id]" />
                    </div>
                    <div class="col-xs-11
				">
                        <a ng-click="farmerDetails({farmerId:x.id})" class="list-group-item eq-list-group-item">
                            <p class="list-group-item-text eq-list-item-header" ng-if="x.fullname"><span>{{x.fullname}}, </span><span ng-if="x.age">{{x.age}}</span></p>
                            <p class="list-group-item-text">
                                <abbr class="eq-field-label">Education: </abbr>{{x.education_level_name}},
                                <abbr class="eq-field-label">Member Since</abbr>: {{x.date_joined | date: 'dd-MM-yyyy'}}</p>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-if="!fpo_group_type.singleton">
                <div class="list-group eq-list-group" ng-repeat="item in fpo_groups">
                    <div class="col-xs-1">
                        <input type="checkbox" value="members.id" ng-model="memberIds[item.id]" />
                    </div>
                    <div class="col-xs-11">
                        <a ui-sref="fpoGroupDetails({fpogroupId:item.id})" class="list-group-item eq-list-group-item">
                            <p class="list-group-item-text eq-list-item-header" ng-if="item.name"> {{item.name}}, {{item.memberCount}} Member </p>
                            <p class="list-group-item-text" ng-if="item.adminName"><span class="eq-field-label">Group Admin: </span> {{item.adminName}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
    </div>
    <uib-accordion-group class="eq-accordion">
        <uib-accordion-heading>
            <span ng-click="getMembers()">Members <i class='fa fa-caret-down'></i></span>
            <span class="pull-right">
						 		<button ng-click="addMember()" class="btn btn-default eq-glyph-btn ">
								<i class="eq-fa fa fa-plus"></i>
						 		</button>
								<button  class="btn btn-default eq-glyph-btn" ng-click="" disabled>
								<i class="eq-fa fa fa-minus"></i>
							</button>
						 </span>
        </uib-accordion-heading>
        <div class="list-group eq-list-group" ng-repeat="member_farmer in member_farmers">
            <div class="col-xs-1">
                <input type="checkbox" value="members" ng-model="memberId" />
            </div>
            <div class="col-xs-11">
                <a ui-sref="farmerDetails({farmerId:member_farmer.memberId})" class="list-group-item eq-list-group-item" ng-click="">
                    <p class="list-group-item-text eq-list-item-header">{{member_farmer.memberName}}, {{member_farmer.memberAge}}<span ng-if='member_farmer.memberShortAddress'>,</span> {{ member_farmer.memberShortAddress }}</p>
                    <p class="list-group-item-text">
                        <abbr class="eq-field-label">Education: </abbr>{{ member_farmer.memberEducation }}</p>
                </a>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>
