
<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span>{{$state.current.data.screen_title}}</span>
                <span class="pull-right">
                      <a ng-click="submitFPOServicesAndShareDetails()" class="btn btn-default eq-glyph-btn ">
                        <i class="eq-fa fa fa-check"></i>
                      </a>
                      <a ng-click="goBack()" class="btn btn-default eq-glyph-btn ">
                        <i class="eq-fa fa fa-times"></i>
                      </a>
                  </span>
               </h4>
        </div>
          </div>
</div>
 <div class="eq-content-container">
                <div class="accordian-content-bg">
 <div ng-repeat="item in fpoServices">
     <br/>
  <label class="eq-list-item-header eq-field-label">{{item.category_name}} :</label>
  <div ng-repeat="checkList in item.fpo_services">
    <input type="checkbox" style="margin-right:10px" checklist-value="checkList.code" ng-init="isChecked(checkList)" checklist-model="item_checked.fpo_services" ng-click="isUnChecked(checkList)" ng-checked="checkList.isChecked">
    <span class="eq-input-text-box">{{checkList.name}}</span>
    
  </div>
        </div>
                </div>
 </div>
 
         <div class="eq-screen-header eq_bg_accent">
                 <span>Shares Info</span>
         </div>
         <div class="eq-content-container">
       <div class="row">

        <div class="col-sm-6">
    <label class="eq-field-label">Share Capital</label>
    <input class="form-control eq-input-text-box select-gap" type="integer" id="share_capital"  name="share_capital" ng-model="farmerShare.share_capital" placeholder="Share Capital" ng-keypress="filterValue($event)" />
        </div>

        <div class="col-sm-6">
    <label class="eq-field-label">Share Number</label>
    <input class="form-control eq-input-text-box select-gap" type="integer" id="share_number" name="share_number" ng-model="farmerShare.share_number" placeholder="Share Number" ng-keypress="filterValue($event)" />
        </div>

        <div class="col-sm-6">
    <label class="eq-field-label">Share Par Value</label>
    <input class="form-control eq-input-text-box select-gap" type="integer" id="share_par_value" name="share_par_value" ng-model="farmerShare.share_par_value" placeholder="Share Par Value" ng-keypress="filterValue($event)" />
        </div>

        <div class="col-sm-6">
    <label class="eq-field-label">Date Joined</label>
    <input class="form-control eq-input-text-box select-gap" type="date" id="date_joined" name="date_joined" ng-model="farmerShare.date_joined" min="1916" max="2016" placeholder="dd-MM-yyyy" ng-keypress="filterValue($event)" />
        </div>
      </div>
   </div>
</div>
</div>
</form>
