<div class="eq-screen-header eq_bg_accent">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {{$state.current.data.screen_title}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <span class="pull-right">
                <button class="btn btn-default eq-glyph-btn " type="submit" ng-click="addFpoMember()">
                    <i class="eq-fa fa fa-check"></i>
                </button>
                <button class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>  
                </button>
            </span>
        </div>
    </div>
</div>
<form name="fpoMember" ng-submit="submitForm(fpoMember.$valid)">
    <div class="eq-content-container">
        <div class="row">
            <div class="col-sm-4 eq-col-bottom-margin-offset">
                <label class="eq-field-label">First Name *</label>
                <input type="text" class="form-control eq-input-text-box" id="first_name" placeholder="First Name *" data-ng-model="farmer.fname" required />
                <span style="color:red" ng-if="fpoMember.first_name.$error.required">This field is required</span>
            </div>
            <div class="col-sm-4 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Middle Name</label>
                <input type="text" class="form-control eq-input-text-box" id="middle_name" placeholder="Middle Name" data-ng-model="farmer.mname" />
            </div>
            <div class="col-sm-4 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Last Name *</label>
                <input type="text" class="form-control eq-input-text-box" id="last_name" placeholder="Last Name *" data-ng-model="farmer.lname" required />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Mobile Number *</label>
                <input type="" class="form-control eq-input-text-box" id="phone_primary" name="phone_primary" minlength="10" maxlength="12" placeholder="Primary Phone Number *" data-ng-model="farmer.phone_primary" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required />
            </div>
            <div class="col-sm-4 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Personal Email</label>
                <input type="email" class="form-control eq-input-text-box" id="email_personal" placeholder="Personal Email" data-ng-model="farmer.email_personal" />
            </div>
            <div class="col-sm-4 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Education</label>
                <select class="form-control eq-input-text-box" name="education" id="education" ng-model="farmer.education_level" required>
                    <option ng-repeat="education in education_level" value="{{ education.code }}"> {{ education.name }} </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="form-group eq-field-label">Marital Status </label>
                <label for="single" class="radio-inline">
                    <input type="radio" id="single" name="marital_status" ng-model="farmer.marital_status" value="SINGLE" /> Single
                </label>
                <lable for="married" class="radio-inline">
                    <input type="radio" name="marital_status" ng-model="farmer.marital_status" value="MARRIED" checked='checked' /> Married
                </lable>
            </div>
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="form-group eq-field-label">Gender </label>
                <label class="radio-inline" for="female">
                    <input type="radio" id="female" name="gender" ng-model="farmer.gender" value="FEMALE" /> Female
                </label>
                <lable class="radio-inline" for="male">
                    <input type="radio" id="male" name="gender" ng-model="farmer.gender" value="MALE" checked='checked' /> Male
                </lable>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Date Of Birth</label>
                <input type="text" class="form-control eq-input-text-box custom_calendar" id="dob" placeholder="DD-MM-YYYY" name="dob" readonly="readonly" />
                <div class="eq-guiding-text">If you don't know date of birth please enter birth year</div>
            </div>
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Birth Year</label>
                <input type="" class="form-control eq-input-text-box" id="year_birth" minlength="4" maxlength="4" name="year_birth" placeholder="YYYY" data-ng-model="farmer.year_birth" required/>
                <div class="eq-guiding-text">If you don't know date of birth please enter birth year</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Father's Name *</label>
                <input type="text" class="form-control eq-input-text-box" id="father_name" placeholder="Father's Name *" data-ng-model="farmer.father_name" required />
            </div>
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Mother's Name *</label>
                <input type="text" class="form-control eq-input-text-box" id="mother_name" placeholder="Mother's Name * " data-ng-model="farmer.mother_name" required />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Religion</label>
                <select class="form-control select-gap eq-input-text-box" name="religion" id="religion" ng-model="farmer.religion">
                    <option ng-repeat="religion in religions">{{religion.name}}</option>
                </select>
            </div>
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Caste Category</label>
                <select class="form-control select-gap eq-input-text-box" name="caste" id="caste" ng-model="farmer.caste">
                    <option ng-repeat="caste in castes">{{caste.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Date Joined</label>
                <input type="text" class="form-control eq-input-text-box select-gap custom_calendar" id="date_joined" placeholder="DD-MM-YYYY" data-ng-model="farmer.date_joined" required readonly="readonly" />
            </div>
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Amount invested as share capital by member in FPO</label>
                <input type="integer" class="form-control eq-input-text-box select-gap" id="share_capital" placeholder="Share Capital" data-ng-model="farmer.share_capital" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Number of shares of FPO held by member</label>
                <input type="integer" class="form-control eq-input-text-box select-gap" id="share_number" placeholder="Share Number" data-ng-model="farmer.share_number" />
            </div>
            <div class="col-sm-6 eq-col-bottom-margin-offset">
                <label class="eq-field-label">Per share purchase value for the member</label>
                <input type="integer" class="form-control eq-input-text-box select-gap" id="share_par_value" placeholder="Share Par Value" data-ng-model="farmer.share_par_value" />
            </div>
        </div>
    </div>
</form>
