<div>
    <div class="eq-screen-header eq_bg_accent" category="{name:'fpomembers'}">
        <div class="row">
            <div class="col-lg-10 col-md-1 col-sm-6 col-xs-6">             
                 <div>{{fpoName}} {{$state.current.data.screen_title}}</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">             
                <div class="pull-right">
                    <a ng-click="addMember()" class="btn btn-default eq-glyph-btn ">
                        <i class="eq-fa fa fa-plus"></i>
                    </a>
                </div>
            </div> 
        </div>
    </div>
    <div class="eq-content-container">
        <div class="list-group eq-list-group" ng-repeat="member_farmer in member_farmers">
            <a ui-sref="farmerDetails({farmerId:member_farmer.memberId})" class="list-group-item eq-list-group-item">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="list-group-item-text eq-list-item-header">{{member_farmer.memberName}}, {{member_farmer.memberAge}}, {{ member_farmer.memberShortAddress }}</p>
                        <p class="list-group-item-text"><abbr class="eq-field-label">Education: </abbr>{{ member_farmer.memberEducation }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
