<div ui-view>
    <div class="eq-screen-header eq_bg_accent row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {{fpoName}} {{$state.current.data.screen_title}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="pull-right">
                <button class="btn btn-default  eq-glyph-btn" ng-click="updateFpoDetails()"><i class="eq-fa fa fa-pencil"></i></button>
                <button class="btn btn-default  eq-glyph-btn" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
                <!-- <button class="btn btn-default  not-active"><i class="eq-fa fa fa-search"></i></button> -->
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" align="right">
            <i class="eq-fa fa fa-flag fa-5x element-icon"></i>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="short_desc_main">{{fpoDetails.description}}</div>
            <div class="short_desc_more">
                <div>
                    <span class="eq-field-label">Registered At:</span> {{fpoDetails.registration_location}}
                </div>
                <div>
                    <span class="eq-field-label">Incorporated On:</span> {{fpoDetails.date_incorporation | date: 'dd-MM-yyyy'}}
                </div>
                <div ng-if="fpoDetails.ceoName != null">
                    <span class="eq-field-label">CEO:</span> {{fpoDetails.ceoName}}
                </div>
                <div>
                    <span class="eq-field-label">CIN:</span> {{fpoDetails.cin}}
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="address">
        <div class="col-md-4 col-sm-4 col-xs-4" align="right">
            <i class="eq-fa fa fa-map-marker fa-5x element-icon"></i>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div ng-include="'/fpoApp/views/address/address_template.html'"></div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <div class="btn-group btn-group-xs text-center">
            <button class="btn btn-primary btn_text" ng-click="getFpoAddress()" ng-if="address">
                Update Address
            </button>
            <button class="btn btn-primary btn_text" ng-click="addFpoAddress()" ng-if="!address">
                Add Address
            </button>
        </div>
    </div>
</div>
<div class="eq-medium-top-margin-offset">
    <uib-accordion>
        <uib-accordion-group class="eq-accordion">
            <uib-accordion-heading>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div> Cluster - {{fpoName}}</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="pull-right">
                            <button ng-click="addCluster()" class="btn btn-default eq-glyph-btn ">
                                <i class="eq-fa fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </uib-accordion-heading>
            <div class="list-group eq-list-group" ng-repeat="member_cluster in member_clusters">
                <a ui-sref="fpoClusterDetail({clusterId:member_cluster.id})" class="list-group-item eq-list-group-item">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="list-group-item-text">
                                <abbr class="eq-field-label">Cluster: </abbr>{{member_cluster.name}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </uib-accordion-group>
        <div class="list-group eq-list-group eq-medium-top-margin-offset" ng-repeat="address_type in address_types">
            <uib-accordion-group class="eq-accordion" ng-if="address_type.code != 'PRIMARY'">
                <uib-accordion-heading>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" ng-click="expand(address_type.code)">
                            <div> {{address_type.name}}</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="pull-right">
                                <a class="btn btn-default eq-glyph-btn" ng-click="addAddress(address_type.code)">
                                    <i class="eq-fa fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div ng-if="expand_div == 'FPO-SHOP'">
                    <div class="list-group eq-list-group" ng-repeat="shop_address in shop_addresses">
                        <a class="list-group-item eq-list-group-item">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p><span ng-if="shop_address.line1">{{shop_address.line1}}</span><span ng-if="shop_address.line2">, {{shop_address.line2}}</span><span ng-if="shop_address.line3">, {{shop_address.line3}}</span></p>
                                    <p>
                                        <span ng-if="shop_address.state">
                                            {{shop_address.state}}
                                        </span>
                                        <span ng-if="shop_address.country">
                                            , {{shop_address.country}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-if="expand_div == 'FPO-COLL-CENTER'">
                    <div class="list-group eq-list-group" ng-repeat="coll_center_address in coll_center_addresses">
                        <a class="list-group-item eq-list-group-item">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p><span ng-if="coll_center_address.line1">{{coll_center_address.line1}}</span><span ng-if="coll_center_address.line2">, {{coll_center_address.line2}}</span><span ng-if="coll_center_address.line3">, {{coll_center_address.line3}}</span></p>
                                    <p>
                                        <span ng-if="coll_center_address.state">
                                            {{coll_center_address.state}}
                                        </span>
                                        <span ng-if="coll_center_address.country">
                                            , {{coll_center_address.country}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div ng-if="expand_div == 'FPO-WAREHOUSE'">
                    <div class="list-group eq-list-group" ng-repeat="warehouse_address in warehouse_addresses">
                        <a class="list-group-item eq-list-group-item">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p>
                                        <span ng-if="warehouse_address.line1">
                                            {{warehouse_address.line1}}
                                        </span>
                                        <span ng-if="warehouse_address.line2">
                                            , {{warehouse_address.line2}}
                                        </span>
                                        <span ng-if="warehouse_address.line3">
                                            , {{warehouse_address.line3}}
                                        </span>
                                    </p>
                                    <p>
                                        <span ng-if="warehouse_address.state">
                                            {{warehouse_address.state}}
                                        </span>
                                        <span ng-if="warehouse_address.country">
                                            {{warehouse_address.country}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </uib-accordion-group>
        </div>
    </uib-accordion>
</div>
