<div>
    <div class="row">
        <div class="eq-floating-box">
    <div id="login-page" class="eq-content-container" class="text-center">
        <img class="eq-login-img pull-left " src="images/fullLogo.png">
        <form>
            <div class="row">
                <div class="col-xs-12 eq-large-top-margin-offset">
                    <label class="eq-field-label">email *</label>
                    <input type="email" class="form-control eq-input-text-box" placeholder="email *" autofocus data-ng-model="user.loginid" validate-email name='email' id='email' required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">password *</label>
                    <input type="password" class="form-control eq-input-text-box" placeholder="password *" data-ng-model="user.password" required>
                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <a href="#" class="eq-link eq-content-container">Forgot Email/Password?</a>
                </div>
            </div>
            <div class="row" align="center">
                <button class="btn btn-primary center-block eq-small-top-margin-offset" type="submit" ng-click="login()"><i class="eq-fa fa fa-lock"></i> Sign in</button>
            </div>
            <hr>
            <div class="registration text-center eq-field-label">
            New to RunMyFPO? &nbsp;
                <a class="eq-link" ng-click="userRegister()">Register Now</a>
            </div>
        </form>
    </div>
</div>
    </div>
</div>