<div>
    <form name="MemberEarning">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div>Add Earnings of {{familyMemberName}}</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="pull-right">
                    <button class="btn btn-default eq-glyph-btn " ng-click="addEarnings()">
                        <i class="eq-fa fa fa-check"></i>
                    </button>
                    <button type="button" class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()">
                        <i class="eq-fa fa fa-times"></i>
                    </button>
                </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 eq-medium-top-margin-offset">
            <label class="eq-field-label" for="occupation">Select Occupation *</label>
            <select class="form-control eq-input-text-box" ng-options="occupation.code as occupation.name     for occupation in occupations" id="occupation" name="occupation" ng-model="member_earning.occupation" required>
                <!-- <option value="">Select Occupation *</option> -->
            </select>
        </div>
        <div class="col-sm-6 eq-medium-top-margin-offset">
            <label class="eq-field-label" for="calendar_year">Calender Year *</label>
            <div year-drop offset="-2" range="4">
                <select class="form-control eq-input-text-box" ng-model="member_earning.calendar_year" required ng-options="y for y in years">
                    <!--<select class="form-control eq-input-text-box" id="occupation" name="calendar_year" ng-model="member_earning.calendar_year" required>-->
                    <!-- <option value="">Calender Year *</option> -->
                </select>
            </div>
        </div>
        <div class="col-sm-6 eq-medium-top-margin-offset">
            <label class="eq-field-label" for="annual_amount">Anual Amount *</label>
            <input class="form-control eq-input-text-box" type="number" id="annual_amount" name="annual_amount" ng-model="member_earning.annual_amount" placeholder="Annual Amount *" required/>
        </div>
        <div class="col-sm-6 eq-medium-top-margin-offset">
            <label class="eq-field-label" for="man_days">No. Of Days Worked In This Year For This Occupation:</label>
            <input class="form-control eq-input-text-box" type="number" id="man_days" name="man_days" ng-model="member_earning.man_days" min="0" max="365" placeholder="Number of days *" required/>
        </div>
        <div class="form-group">
            &nbsp;
        </div>
    </form>
</div>
