<div>
    <div class="eq-screen-header eq_bg_accent row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div>{{$state.current.data.screen_title}} {{family_member.name}} [ family of {{farmerName}} ]</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="pull-right">
                <a ng-click="update_family_member()" class="btn btn-default eq-glyph-btn "><i class="eq-fa fa fa-pencil"></i></a>
                <button class="btn btn-default eq-glyph-btn" ng-click="goBack()">
                    <i class="eq-fa fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="eq-content-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" align="right">
                <i class="eq-fa fa fa-user fa-5x element-icon"></i>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="short_desc_main">{{family_member.name +' - '+ family_member.relationship.name}}</div>
                <address class="short_desc_more">
                    <div ng-if="family_member.dob">
                        <span class="eq-field-label" title="dob">Date of Birth:</span> {{family_member.dob| date : 'yyyy-MM-dd' : '+0530'}}</br>
                    </div>
                    <div ng-if="family_member.birth_year &&  !family_member.dob">
                        <span class="eq-field-label" title="birth_year">Birth year:</span> {{family_member.birth_year}}</br>
                    </div>
                    <div ng-if="family_member.earning == true">
                        <span class="eq-field-label" title="earning">Earning:</span> Yes </br>
                    </div>
                    <div ng-if="family_member.earning == false">
                        <span class="eq-field-label" title="earning">Earning:</span> No </br>
                    </div>
                    <div ng-if="family_member.education">
                        <span class="eq-field-label" title="education">Education:</span> {{family_member.education.name}} </br>
                    </div>
                    <div ng-if="family_member.stay_together == true">
                        <span class="eq-field-label" title="stay_together">Stay Together:</span> Yes </br>
                    </div>
                    <div ng-if="family_member.stay_together == false">
                        <span class="eq-field-label" title="stay_together">Stay Together:</span> No </br>
                    </div>
                    <div ng-if="migration_man_days">
                        <span class="eq-field-label" title="migration_man_days">Migration Man Days:</span> {{family_member.migration_man_days}} </br>
                    </div>
                </address>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="eq-screen-sub-header list_name eq_bg_accent">
        Earnings
        <div class="pull-right">
            <a ng-click="addFamilyMemberEarning()" class="btn btn-default eq-glyph-btn "><i class="eq-fa fa fa-plus"></i></a>
            <button class="btn btn-default btn eq-glyph-btn" ng-click="removeSelectedItems()">
                <i class="eq-fa fa fa-minus"></i>
            </button>
        </div>
    </div>
</div>
<!-- {{earningIds}} -->
<div class="eq-content-container">
    <div class="list-group eq-list-group" ng-repeat="member_earning in member_earnings">
        <div class="list-group eq-list-group" ng-repeat="earning in member_earning">
                <div class="col-xs-2">
                    <input type="checkbox" value="usage.id" ng-model="earningIds[earning.id]" />
                </div>
                <div class="col-xs-10">
                    <!-- {{earning}} -->
                    <a ng-click="updateEarning(earning)" class="list-group-item eq-list-group-item">
                        <div class="list-group-item-text eq-list-item-header"> {{earning.occupation.name}}</div>
                        <div class="list-group-item-text">
                            <span class=" eq-field-label">Calendar Year: </span> {{earning.calendar_year}}
                        </div>
                        <div class="list-group-item-text">
                            <span class=" eq-field-label">Annual amount: </span> {{earning.annual_amount}}
                        </div>
                        <div class="list-group-item-text"><span class="eq-field-label">Total days: </span> {{earning.man_days}}
                        </div>
                    </a>
                </div>
            </div>
    </div>
</div>
