<div class="eq-content-container">
	<div>
		<div class="list-group eq-list-group" ng-repeat="family_member in family_members">

			<a ng-href="" class="list-group-item eq-list-group-item" ng-click="selected_family_member(family_member)">
				<div class="row">
					<div class="col-md-8 col-sm-8 col-xs-8">
						<p class="list-group-item-text eq-list-item-header">{{ family_member.name }}</p>
						<p class="list-group-item-text"><abbr class="eq-field-label">Education:</abbr> {{ family_member.education.name }}</p>
						<p class="list-group-item-text"><abbr class="eq-field-label">Relationship:</abbr> {{ family_member.relationship.name }}</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4">
						<div ng-switch="family_member.earning">
							<div ng-switch-when=False>
								<p class="list-group-item-text">{{ family_member.earning }}</p>
							</div>
							<div ng-switch-when=True>
								<p class="list-group-item-text eq-field-label">{{ family_member.earning }}</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
