<div>
    <form name="MemberEarning">
    <div class="eq-screen-header eq_bg_accent">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-8">
	        <div>Update {{familyMemberName}}'s Earnings</div>
			</div>
                <div class="col-md-4 col-sm-4 col-xs-4">
				<span class="pull-right">
                <button class="btn btn-default eq-glyph-btn " ng-click="updateEarnings(member_earning)"><i class="eq-fa fa fa-check"></i></button>
                <button type="button" class="btn btn-default eq-glyph-btn  novalidate" ng-click="goBack()"><i class="eq-fa fa fa-times"></i></button>
				</span>
        </div>
		</div>
    </div>
    <div class="eq-content-container">
    <div class="row">
            <div class="col-sm-6">
              <label class="eq-field-label"> Occupation</label>
              <select class="form-control eq-input-text-box select-gap" ng-model="member_earning.occupation.code" ng-options="occupation.code as occupation.name for occupation in occupations">
                <option value="">Select Occupation</option>
              </select>
            </div>

        <div class="col-sm-6">
		<label class="eq-field-label">Calendar Year</label>
        <div year-drop offset="-2" range="4">
        <select class="form-control eq-input-text-box select-gap" ng-options="y for y in years" ng-model="member_earning.calendar_year">
        <option value="">Years</option>
		  </select>
          </div>
        </div>
    </div>

        <div class="row">
        <div class="col-sm-6">
		<label class="eq-field-label">Annual Amount</label>
		<input class="form-control eq-input-text-box select-gap" type="integer" id="annual_amount" name="annual_amount" ng-model="member_earning.annual_amount" placeholder="Annual Amount *"/>
        </div>

        <div class="col-sm-6">
		<label class="eq-field-label">Man Days</label>
		<input class="form-control eq-input-text-box select-gap" type="number" id="man_days" name="man_days" ng-model="member_earning.man_days" min="0" max="365" placeholder="Number of days *" />
        </div>
        </div>
    </div>
	</form>
</div>
