<div>
    <form name="FamilyMember" ng-submit="submitForm(FamilyMember.$valid)">
        <div class="eq-screen-header eq_bg_accent">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div>{{$state.current.data.screen_title}} of {{family_member.name}}</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="pull-right">
                        <button class="btn btn-default eq-glyph-btn " ng-click="updateFamilyMember()" >
                            <i class="eq-fa fa fa-check"></i>
                        </button>
                        <button class="btn btn-default  eq-glyph-btn novalidate" ng-click="goBack()">
                            <i class="eq-fa fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="eq-content-container">
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">name *</label>
                    <input type="text" class="form-control eq-input-text-box" id="name" name="name" placeholder="Name" data-ng-model="family_member.name"/>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">relationship *</label>
                    <select class="form-control eq-input-text-box" name="relationship" id="relationship" ng-model="family_member.relationship" >
                        <option ng-repeat="relationship in relationships" value="{{ relationship.code }}" ng-if="relationship.code != 'SELF'"> {{ relationship.name }} </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label" for="education">education</label>
                    <select class="form-control eq-input-text-box" name="education" id="education" ng-model="family_member.education">
                        <option ng-repeat="education in educations" value="{{ education.code }}"> {{ education.name }} </option>
                    </select>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label">date of birth</label>
                    <input type="text" class="eq-input-text-box form-control custom_calendar" id="dob" placeholder="dd-mm-yyyy" name="dob" readonly="readonly" />
                    <div class="eq-guiding-text">If you don't know date of birth please enter birth year</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <label class="eq-field-label" for="birth_year">birth year</label>
                    <input type="" class="form-control eq-input-text-box" id="birth_year" name="birth_year" data-ng-model="family_member.birth_year" required/>
                    <div class="eq-guiding-text">If you don't know date of birth please enter birth year</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <div class="form-inline">
                        <label class="eq-field-label" class="form-group" >stay together: </label>
                        <label class="radio-inline" style="margin-left: 20px">
                            <input type="radio" name="stay_together" ng-model="family_member.stay_together" ng-checked="family_member.stay_together" ng-value= "true" />
                        Yes

                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="stay_together" ng-model="family_member.stay_together" ng-checked="!family_member.stay_together" ng-value="false" />
                        No
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 eq-col-bottom-margin-offset">
                    <div class="form-inline">
                        <label class="eq-field-label" class="form-group">earning: </label>
                        <label class="radio-inline" style="margin-left: 20px">
                            <input type="radio" name="earning" ng-model="family_member.earning"  ng-checked="family_member.earning" ng-value="true" />
                        Yes
                        </label>
                        <lable class="radio-inline">
                            <input type="radio" name="earning" ng-model="family_member.earning"  ng-checked="!family_member.earning" ng-value="false" />
                        No
                        </lable>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
